<div class="space-icon">
  {{one-icon icon=_iconName}}
</div>
{{#truncated-string class="space-label"}}
  {{name-conflict item=space}}
{{/truncated-string}}
<div class="space-size">{{bytes-to-string _supportSize}}</div> 
