<div class="space-icon item-icon-container">
  {{one-icon icon=_iconName class="item-icon"}}
</div>
{{#truncated-string class="space-label"}}
  <a href={{visitProviderUrl}} class="space-redirect-link">
    {{name-conflict item=space}}
  </a>
{{/truncated-string}}
<div class="space-size">{{bytes-to-string _supportSize}}</div> 
