.store-form {
  .dataSpec-field.field-view-mode > .control-label {
    padding-top: $padding-base-vertical;
  }

  .dashboardSpec-field {
    textarea {
      height: 8em;
    }
  }

  @media (min-width: $screen-sm-min) {
    .defaultValue-field .control-label {
      padding-top: 0.5em;
    }
  }
}
