.store-content-table {
  .table-is-empty-cell {
    border: 0;
    text-align: center;
  }

  textarea.json-value {
    height: 110px;
    font-size: 90%;
  }

  .error-row textarea {
    color: $color-one-danger;
  }
}
