<td class="column-timestamp">
  {{#truncated-string}}
    {{date-format value.timestamp format="report" blank="—"}}
  {{/truncated-string}}
</td>
<td class="column-ts-name">
  {{#truncated-string}}{{value.tsName}}{{/truncated-string}}
</td>
<td class="column-value">
  {{#truncated-string}}{{value.value}}{{/truncated-string}}
</td>
