<td class="column-timestamp truncate">
  {{date-format value.timestamp format="report" blank="—"}}
</td>
<td class="column-ts-name truncate">{{value.tsName}}</td>
<td class="column-value truncate">{{value.value}}</td>
