.data-spec-editor {
  .data-type-editor {
    padding: 0.7em;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
  }

  .data-type-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ~ * {
      margin-top: 0.7em;
      margin-bottom: 0;
    }
  }

  .data-type-toolbar {
    display: flex;
    align-items: center;
    font-size: 1.7em;

    .one-icon {
      line-height: 0;
      margin: 0 -0.05em;
    }

    .custom-icon-btn {
      &:hover {
        color: $color-one-light-gray;
      }
    }

    .remove-trigger {
      display: flex;
      align-items: center;
      margin-top: 0;
      font-size: inherit;
    }

    &.disabled {
      .custom-icon-btn {
        opacity: 0.3;
        cursor: not-allowed !important;

        &:hover {
          color: $main-text-color;
        }
      }
    }
  }

  .form-summary-toggle {
    font-size: 80%;
    * {
      vertical-align: middle;
    }
  }

  .form-summary-icon {
    margin-left: -0.15em;
    font-size: 170%;
  }

  .dataTypeEditor-children > :last-child {
    margin-bottom: 0;
  }

  .time-series-measurement-value-constraints-editor {
    flex-wrap: wrap;
    margin-bottom: 0;
    > .control-label {
      flex-basis: 100%;
      text-align: left;
      padding-top: 0;
    }
  }

  .file-value-constraints-editor {
    .control-label {
      text-align: left;
      padding-top: 0;
    }

    &.field-edit-mode .control-label {
      flex-basis: 100%;
    }

    &.field-view-mode .control-label {
      min-width: initial;
      width: initial;
    }
  }

  .array-data-type-editor > .data-type-header {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    font-size: 80%;

    .data-type-name {
      text-transform: uppercase;
    }
  }

  .default-data-type-editor {
    padding: $padding-base-vertical $padding-large-horizontal;

    .data-type-toolbar {
      margin-right: -0.2em;
    }
  }
}
