.single-line-presenter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.raw-presenter {
  display: grid;
}

.array-visual-presenter {
  .raw-presenter {
    min-height: 15em;
  }

  .integer-raw-presenter,
  .boolean-raw-presenter {
    min-height: 3em;
  }

  .string-raw-presenter {
    min-height: 7em;
  }

  .array-items-list {
    margin: 0.4em 0;
  }

  .array-item-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    align-items: center;
  }

  .array-item + .array-item,
  .array-item-content {
    margin-top: 0.2em;
  }

  .array-item-collapse-icon {
    margin-left: 0.3em;
  }
}

.full-value-presenter {
  display: grid;
  grid-template-rows: min-content auto;
  border: 1px solid $block-border-color;
  border-radius: $border-radius-base;
  // Using `overflow: hidden` to hide overflowing header background on corners.
  overflow: hidden;

  > * {
    padding: 1em;
  }

  > .header-container {
    display: flex;
    border-bottom: 1px solid $block-border-color;
    background-color: $block-background-color;

    .presenter-type-selector {
      margin-right: auto;
    }

    .copy-link {
      display: inline-flex;
      padding: 0.3em 0;
      align-items: center;
      font-size: 85%;

      .one-icon {
        font-size: 170%;
        line-height: 0;
      }
    }
  }

  > .content-container {
    display: grid;
  }
}

.table-body-row-presenter .truncated-string.truncate-from-left {
  direction: rtl;
  text-align: left;

  .value-container {
    unicode-bidi: plaintext;
  }
}

.table-body-row-presenter,
.visual-presenter {
  a.clickable {
    text-decoration: underline;
  }
}

.dataset-visual-presenter,
.dataset-table-body-row-presenter {
  .dataset-icon {
    &.main-type-directory {
      color: $color-directory;
    }

    &.main-type-regular {
      color: $color-file;
    }
  }
}

.file-table-body-row-presenter .file-icon,
.dataset-table-body-row-presenter .dataset-icon {
  margin-right: 0.2em;
  margin-left: -0.1em;
}

.file-table-body-row-presenter .file-name,
.dataset-table-body-row-presenter .dataset-name {
  vertical-align: middle;
}

.dataset-table-body-row-presenter .dataset-icon {
  font-size: 170%;
  vertical-align: middle;
}
