.single-line-presenter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.raw-presenter {
  display: grid;
}

.visual-presenter {
  .property-row + .property-row {
    margin-top: 0.3em;
  }

  .property-row {
    white-space: nowrap;
  }

  .property-label {
    padding-right: 0.3em;
  }

  .property-value {
    white-space: initial;
    word-break: break-word;
  }

  &.details-with-icon {
    display: grid;
    grid-template-columns: min-content auto;

    .details-icon {
      margin-left: -0.1em;
      font-size: 400%;
    }

    .details-title {
      @include font-semibold();
      margin-bottom: 0.2em;
      font-size: 125%;
      word-break: break-word;
    }
  }
}

.dataset-visual-presenter .dataset-icon {
  &.main-type-directory {
    color: $color-directory;
  }

  &.main-type-regular {
    color: $color-file;
  }
}

.array-visual-presenter {
  .root-presenter-header .items {
    display: none;
  }

  .raw-presenter {
    min-height: 15em;
  }

  .integer-raw-presenter {
    min-height: 3em;
  }

  .string-raw-presenter {
    min-height: 7em;
  }

  .array-item-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
  }
}

.full-value-presenter {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 0.5em;
}
