.editor-box {
  border: 1px solid $main-border-color;
  border-radius: $border-radius-base;

  .editor-box-header {
    padding: 0.3em;
    border-bottom: 1px solid $main-border-color;

    > * {
      font-size: 70%;
    }
  }

  .data-spec-type {
    @include font-semibold();
    text-transform: uppercase;
  }

  .editor-box-content {
    padding: 0.3em;
  }

  &.integer-editor {
    width: 10em;
  }

  &.object-editor {
    .editor-box-content {
      height: 10em;
      display: flex;
      align-items: stretch;

      > * {
        flex-grow: 1;
      }
    }

    &.invalid {
      .ace_editor {
        border-color: $color-one-danger;
      }
    }
  }

  &.range-editor {
    max-width: 25em;

    .fields-group-children {
      display: flex;
      flex-wrap: wrap;
      gap: 0.3em;
    }

    .form-group {
      margin-bottom: 0;
      flex-grow: 1;
      flex-basis: 6em;
    }
  }

  &.time-series-measurement-editor {
    max-width: 12em;
  }

  .form-group {
    .control-label {
      width: 100%;
      padding: 0;
      margin-bottom: 5px;
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
