.editor-box {
  border: 1px solid $main-border-color;
  border-radius: $border-radius-base;

  .editor-box {
    background-color: rgba(192, 192, 192, 0.1);
  }

  .editor-box-header {
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-bottom: 1px solid $main-border-color;
    background-color: rgba(192, 192, 192, 0.1);

    > * {
      font-size: 70%;
    }
  }

  .editor-box-toolbar {
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 0.5em;

    .separator {
      display: none;
      align-self: center;
      border-left: 1px solid $main-border-color;
      height: 1em;
    }

    // Show separator only when it is after some non-separator element
    & > *:not(.separator) + .separator {
      display: block;
    }
  }

  .data-spec-type {
    @include font-semibold();
    text-transform: uppercase;
    margin-right: 1em;
  }

  .editor-box-content {
    padding: 0.3em;
  }

  .action-link {
    text-decoration: underline;

    &.disabled {
      cursor: not-allowed;
      color: $main-text-color-disabled;
      &:hover {
        color: $main-text-color-disabled;
      }
    }
  }

  &.integer-editor {
    max-width: 10em;
  }

  &.string-editor,
  &.object-editor {
    max-width: 40em;
  }

  &.editor-with-json {
    .editor-box-content {
      height: 10em;
      display: flex;
      align-items: stretch;

      > * {
        flex-grow: 1;
      }
    }

    &.invalid {
      .ace_editor {
        border-color: $color-one-danger;
      }
    }
  }

  &.range-editor {
    max-width: 25em;

    .fields-group-children {
      display: flex;
      flex-wrap: wrap;
      gap: 0.3em;
    }

    .form-group {
      margin-bottom: 0;
      flex-grow: 1;
      flex-basis: 6em;
    }
  }

  &.time-series-measurement-editor {
    max-width: 12em;
  }

  &.file-editor,
  &.dataset-editor {
    .id-form-buttons {
      display: flex;
      gap: 0.3em;
      justify-content: flex-end;
      margin-top: 0.3em;
    }

    &.mode-selected,
    &.mode-idForm {
      max-width: 20em;
    }
  }

  &.file-editor {
    &.mode-empty {
      max-width: 8em;
    }
  }

  &.dataset-editor {
    &.mode-empty {
      max-width: 10em;
    }
  }

  &.array-editor {
    .array-items {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.3em;
      padding-left: 0;
      margin-bottom: 0.3em;
    }

    .array-collapsed-item {
      border: 1px dashed $main-border-color;
      align-self: flex-start;
      padding: 1em;
      text-align: center;
      border-radius: $border-radius-base;
      background-color: rgba(192, 192, 192, 0.1);
      p {
        margin: 0;
      }
    }
  }

  .form-group {
    .control-label {
      width: 100%;
      padding: 0;
      margin-bottom: 5px;
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.clear-array-confirmation {
  width: 12em;

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }
}
