.lane-form {
  $min-label-width: 12em;

  .iteratorOptions-field {
    flex-wrap: wrap;

    > .control-label {
      flex-basis: 100%;
      text-align: center;
      padding-right: 0;
    }
  }

  .control-label {
    min-width: $min-label-width;
  }

  @media (min-width: $screen-sm-min) {
    .dropdown-field {
      flex: 0 0 calc(100% - #{$min-label-width});
    }
  }

  .sourceStore-field.field-view-mode {
    .one-icon {
      margin-left: -0.15em;
    }
  }
}

.option-__createStore {
  font-style: italic;
}
