.lane-form {
  .iteratorOptions-field {
    > .control-label {
      flex-basis: 100%;
      text-align: center;
      padding-right: 0;
    }
  }

  .control-label {
    min-width: 120px;
  }

  .dropdown-field-renderer {
    flex-wrap: nowrap;
  }
}
