.ace_editor {
  @include font-monospace();
  font-size: $font-size-base;
}

.form-group {
  &.has-error {
    .ace_editor {
      border-color: $color-one-danger;
    }
  }
}

// Workaround for blurry-rendering fonts bug
.modal {
  .ace_hidpi {
    .ace_text-layer,
    .ace_gutter-layer,
    .ace_content,
    .ace_gutter {
      will-change: unset !important;
    }
  }
}
