$root-url: './';

html,
body {
  position: relative;
  height: 100%;
  &.ember-application {
    overflow: hidden;
  }
}

@import 'onedata-gui-common/colors';
@import 'onedata-gui-common/utils';
@import 'onedata-gui-common/fonts';
@import 'onedata-gui-common/oneicons';
@import 'onedata-gui-common/animations';

$letter-spacing-base: 0.07em;
$control-box-shadow: inset 1px 1px 2px $color-one-semiwhite;
$control-box-shadow-focus: inset 0 1px 1px $color-one-semiwhite, 0 0 8px rgba($color-one-blue-gray, 0.2);
$control-focus-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

$color-main-menu-bg: $color-one-semiblack;
$color-sidebar-background: $color-one-semiwhite;
$color-sidebar-item-bg: $color-one-gray-sand;
$color-sidebar-item-active-bg: darken($color-sidebar-item-bg, 3%);
$color-one-list-item-separator: $main-border-color;

$main-content-hover-background: lighten($color-one-semiwhite, 3%);
$main-content-light-background: lighten($color-one-semiwhite, 5%);

$large-social-box-size: 50px;

@import 'bootstrap-config';
@import 'bootstrap-addons';

// Addons
@import 'side-menu';
@import '_spin-button-base';

@import 'onedata-gui-common/spin-button-overrides';
@import 'chartist';
@import 'onedata-gui-common/chartist-overrides';
@import 'onedata-gui-common/input-tokenizer';
@import 'onedata-gui-common/ember-datetimepicker-overrides';

$mobile-top-height: 55px;
$main-menu-width: 200px;
$main-menu-collapsed-width: 63px;
$main-menu-expand-delta: $main-menu-width - $main-menu-collapsed-width;
$sidebar-menu-width-sm: 250px;
$sidebar-menu-width-md: 250px + $main-menu-expand-delta;
$sidebar-menu-width-lg: 325px + $main-menu-expand-delta;
$menu-icon-font-size: 2.5em;
$mobile-menu-popover-width: 210px;

$zindex-layer-1-2-overlay: $zindex-modal-background;
$zindex-layer-1-max: $zindex-layer-1-2-overlay - 1;
$zindex-layer-2-min: $zindex-layer-1-2-overlay + 1;

$one-list-item-line-height: 64px;
$one-list-item-separator: 1px solid;
$one-list-item-padding: $padding-large-horizontal;

$one-list-item-active-left-border-width: 8px;

$sidemenu-header-height: 90px;
$content-col-padding: 30px;
$content-header-font-size: 1.25em;
$onedata-logo-height: 35px;
$onedata-logo-margin-top: $content-col-padding;
$onedata-logo-margin-bottom: $onedata-logo-margin-top + $one-list-item-padding;

$main-content-hover-background: lighten($color-one-semiwhite, 3%);
$main-content-light-background: lighten($color-one-semiwhite, 5%);

$collapse-transition-time: $transition-base-time;
$height-collapse-transition: transition-linear(max-height);
$width-collapse-transition: transition-linear(max-width);
$collapse-transition: $height-collapse-transition, transition-linear(padding), transition-linear(opacity);
$collapse-transition-vertical: $width-collapse-transition, transition-linear(padding), transition-linear(opacity), transition-linear(margin);

$disabled-opacity: 0.6;

@import 'onedata-gui-common/animate';
@import 'onedata-gui-common/custom-animations';
@import 'onedata-gui-common/common';
@import 'onedata-gui-common/spin-spinner-extensions';
@import 'onedata-gui-common/jvectormap-overrides';

@import 'ember-power-select-config';

// Utils

@import 'onedata-gui-common/utils/embedded-iframe.scss';

// Components

@import 'onedata-gui-common/components/one-webui-popover';
@import 'onedata-gui-common/components/login-layout';
@import 'onedata-gui-common/components/app-layout';
@import 'onedata-gui-common/components/alert-global';
@import 'onedata-gui-common/components/main-content';
@import 'onedata-gui-common/components/one-list';
@import 'onedata-gui-common/components/one-list-item';
@import 'onedata-gui-common/components/main-menu';
@import 'onedata-gui-common/components/main-menu-item';
@import 'onedata-gui-common/components/one-sidebar';
@import 'onedata-gui-common/components/one-sidenav';
@import 'onedata-gui-common/components/one-wizard';
@import 'onedata-gui-common/components/one-steps';
@import 'onedata-gui-common/components/one-step';
@import 'onedata-gui-common/components/basic-table';
@import 'onedata-gui-common/components/basicauth-login-form';
@import 'onedata-gui-common/components/login-box';
@import 'onedata-gui-common/components/one-way-toggle';
@import 'onedata-gui-common/components/one-way-radio-group';
@import 'onedata-gui-common/components/one-checkbox';
@import 'onedata-gui-common/components/content-info';
@import 'onedata-gui-common/components/one-collapsible-list';
@import 'onedata-gui-common/components/one-collapsible-list-item';
@import 'onedata-gui-common/components/one-collapsible-list-item-header';
@import 'onedata-gui-common/components/one-collapsible-list-item-content';
@import 'onedata-gui-common/components/brand-info';
@import 'onedata-gui-common/components/user-account-button';
@import 'onedata-gui-common/components/resource-load-error';
@import 'onedata-gui-common/components/one-image';
@import 'onedata-gui-common/components/one-label-tip';
@import 'onedata-gui-common/components/ember-notify';
@import 'onedata-gui-common/components/one-collapsible-toolbar';
@import 'onedata-gui-common/components/one-collapsible-toolbar-item';
@import 'onedata-gui-common/components/application-error';
@import 'onedata-gui-common/components/one-tree';
@import 'onedata-gui-common/components/status-toolbar';
@import 'onedata-gui-common/components/one-sidebar-toolbar';
@import 'onedata-gui-common/components/one-sidebar-toolbar-button';
@import 'onedata-gui-common/components/one-atlas';
@import 'onedata-gui-common/components/provider-place';
@import 'onedata-gui-common/components/one-pie-chart';
@import 'onedata-gui-common/components/providers-list';
@import 'onedata-gui-common/components/one-dynamic-tree';
@import 'onedata-gui-common/components/support-size-info';
@import 'onedata-gui-common/components/one-inline-editor';
@import 'onedata-gui-common/components/actions-popover-content';
@import 'onedata-gui-common/components/one-tile';
@import 'onedata-gui-common/components/one-animated-logo';
@import 'onedata-gui-common/components/one-space-indicator';
@import 'onedata-gui-common/components/one-map';
@import 'onedata-gui-common/components/clipboard-line';
@import 'onedata-gui-common/components/one-form-fields';
@import 'onedata-gui-common/components/hr-label';
@import 'onedata-gui-common/components/content-users';
@import 'onedata-gui-common/components/one-size-edit';
@import 'onedata-gui-common/components/authentication-error-modal';
@import 'onedata-gui-common/components/providers-map-tile';
@import 'onedata-gui-common/components/resource-info-tile';
@import 'onedata-gui-common/components/auto-save-form';
@import 'onedata-gui-common/components/one-icon-tagged';
@import 'onedata-gui-common/components/one-tab-bar';
@import 'onedata-gui-common/components/json-editor';
@import 'onedata-gui-common/components/one-menu-toggle.scss';
@import 'onedata-gui-common/components/oneprovider-map-circle';
@import 'onedata-gui-common/components/oneproviders-selector-popover-content';
@import 'onedata-gui-common/components/privileges-tree-editor';
@import 'onedata-gui-common/components/one-arrow';
@import 'onedata-gui-common/components/one-pill-button.scss';
@import 'onedata-gui-common/components/one-embedded-component.scss';
@import 'onedata-gui-common/components/visual-logger.scss';
@import 'onedata-gui-common/components/wysiwyg-editor';
@import 'onedata-gui-common/components/one-way-capacity';
@import 'onedata-gui-common/components/remove-icon';
@import 'onedata-gui-common/components/checkbox-list';
@import 'onedata-gui-common/components/form-component';
@import 'onedata-gui-common/components/tags-input';
