{{#if item.icon}}
  {{one-icon class=iconClass icon=item.icon}} 
{{/if}}
<span class="one-label">{{item.label}}</span>
{{#if item.warningMessage}}
  <img class="warning-icon" src="assets/images/sign-warning-large.svg">
  {{#unless media.isMobile}}
    {{one-tooltip
      title=item.warningMessage
      triggerElement=".warning-icon"
      triggerEvent="hover"
    }}
  {{/unless}}
{{/if}}
