.file-value-constraints-editor {
  .form-group {
    .control-label {
      padding-top: 0;
      margin-bottom: 5px;
      text-align: left;
    }
  }

  &.field-edit-mode .control-label {
    flex-basis: 100%;
  }

  &.field-view-mode .control-label {
    min-width: initial;
    width: initial;
  }
}
