.time-series-measurement-value-constraints-editor {
  .collection-item {
    min-width: 0;
    width: 20em;
  }

  .measurementSpec-children > * {
    flex-wrap: wrap;
  }

  @media (min-width: $screen-sm-min) {
    .measurementSpec-children > .field-renderer {
      margin-bottom: 0;

      &:first-child .control-label {
        padding-top: 0;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .measurementSpec-children > .field-renderer {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
