<div class="tree-circle" {{action "show" key on="click"}}>
  {{one-icon icon=_bulletIcon}}
</div>
{{yield (hash
  content=(component 'one-tree/item/content' 
    _showAction=(action "show" key)
    hasSubtree=_hasSubtree
    itemFilteredOut=(action "itemFilteredOut")
    searchQuery=searchQuery
  )
  subtree=(component 'one-tree' 
    key=key
    collapseRecursively=collapseRecursively
    treeFilteredOut=(action "subtreeFilteredOut")
    searchQuery=(if _contentFilteredOut searchQuery "")
    _isExpanded=_isSubtreeExpanded
    _showAction=(action "show")
    _parentKey=_parentKey
    _rootKey=_rootKey
    _areParentsExpanded=_areParentsExpanded
    _activeSubtreeKeys=_activeSubtreeKeys
    _hasTreeNotify=(action "hasTreeNotify"))
  hasSubtree=_hasSubtree
)}}
