<p class="text-right">
  <a class="clickable" {{action "showDashboardEditor"}}>
    {{tt this "showDashboardEditor"}}
  </a>
</p>
{{one-time-series-charts-section
  live=live
  sectionSpec=rootChartsSection
  onGetTimeSeriesSchemas=onGetTimeSeriesSchemas
  externalDataSources=externalDataSources
  onQueryBatcherFetchData=onQueryBatcherFetchData
}}
