{{#one-draggable-object-target
  class="workspace-drag-target"
  action=(action "acceptDraggedFunction")
}}
  {{#perfect-scrollbar-element registerApi=(action "registerScrollbarApi")}}
    <div class="functions-container">
      {{#if outputFunction}}
        {{atm-workflow/chart-dashboard-editor/function-editor/function-renderer
          chartFunction=outputFunction
          executionContext=executionContext
          editorContext=editorContext
        }}
      {{/if}}
      <div class="detached-functions-container">
        {{#each detachedFunctions as |detachedFunction|}}
          {{atm-workflow/chart-dashboard-editor/function-editor/function-renderer
            chartFunction=detachedFunction
            executionContext=executionContext
            editorContext=editorContext
          }}
        {{/each}}
      </div>
    </div>
  {{/perfect-scrollbar-element}}
  {{#if tip}}
    {{one-label-tip class="function-editor-tooltip" title=tip}}
  {{/if}}
{{/one-draggable-object-target}}
