<h3 class="header">{{tt this "header"}}</h3>
{{#if (not editorContext.isReadOnly)}}
  <p class="description">{{tt this "description"}}</p>
  {{#one-button
    class="create-btn"
    type="primary"
    onClick=onCreateDashboard
  }}
    {{one-icon icon="plus"}}
    <span class="text">{{tt this "createButton"}}</span>
  {{/one-button}}
{{/if}}
