{{atm-workflow/charts-dashboard-editor/sections-editor/toolbar
  class="editor-toolbar"
  onRemoveDashboard=onRemoveDashboard
}}
{{#perfect-scrollbar-element class="dashboard-visualiser"}}
  {{atm-workflow/charts-dashboard-editor/sections-editor/section
    section=rootSection
    actionsFactory=actionsFactory
  }}
{{/perfect-scrollbar-element}}
<div class="editor-sidebar">

</div>
