<div class="row">
 {{#hr-label}}dark{{/hr-label}}
</div>
<div class="row bg-primary">
  {{#hr-label class="light"}}light version{{/hr-label}}
</div>
<div class="row">
  {{#hr-label class="with-margin"}}dark with margin{{/hr-label}}
</div>
