  {{#bs-tab
    fade=false
    customTabs=true
    class="bs-tab-onedata bs-tab-modern"
    activeId=mode
    as |tab|
  }}
    {{#bs-nav type="tabs" as |nav|}}
      {{#nav.item active=(eq mode "source")}}
        <a class="nav-link" role="tab" {{action (mut mode) "source"}}>
          Markdown source
        </a>
      {{/nav.item}}
      {{#nav.item active=(eq mode "html")}}
        <a class="nav-link" role="tab" {{action (mut mode) "html"}}>
          Graphical editor
        </a>
      {{/nav.item}}
      {{#nav.item active=(eq mode "preview")}}
        <a class="nav-link" role="tab" {{action (mut mode) "preview"}}>
          Preview
        </a>
      {{/nav.item}}
    {{/bs-nav}}
    {{#tab.pane elementId="throughput-chart-tab-pane"}}
      {{markdown-editor
        mode=mode
        content=content
        onChange=(action "contentChanged")
      }}
    {{/tab.pane}}
  {{/bs-tab}}
