<div style="max-width: 500px">
  Small:
  {{one-space-indicator totalSize=7156956334 occupiedSize=1073543450}}

  Medium:
  {{one-space-indicator totalSize=2542354345 occupiedSize=1073543450}}

  Large:
  {{one-space-indicator totalSize=1141929312 occupiedSize=1073543450}}

  Too large:
  {{one-space-indicator totalSize=1341929312 occupiedSize=11073543450}}
</div>
