<p>Is valid: {{_isValid}}</p>
<button {{action "toggleDisabledState"}}>Toggle disabled fields</button>
{{demo-components/one-dynamic-tree/tree-demo 
  disabledFieldsPaths=disabledFieldsPaths
  valuesChanged=(action "valuesChanged")}}
