<div style="width: 600px; height: 300px">
  {{one-echart option=filesCounterChartOption}}
</div>

<div style="width: 500px; height: 300px">
  {{one-echart option=option}}
</div>

<div style="width: 50vw; height: 50vh">
  {{one-echart option=option}}
</div>

<button {{action "changeOption"}}>Change data</button>
