<div class="container">
  <div class="row row-content">
    <h3>Menu pill button</h3>
    <div class="row">
      {{#one-pill-button
        menuItems=menuItems
      }}
        Hello world
      {{/one-pill-button}}
    </div>  
  </div>
  <div class="row row-content">
    <h3>Regular button</h3>
    <div class="row">
      <button class="btn btn-default">Some button</button>
    </div>
  </div>
</div>
