<div style="width: 300px">
  {{one-arrow direction="left" arrowText="left arrow"}}
  <br />
  {{one-arrow direction="right" arrowText="right arrow"}}
  <br />
  <div style="height: 50px">
    {{one-arrow direction="down" arrowText="down arrow"}}
  </div>
  <br />
  <div style="height: 50px">
    {{one-arrow direction="up" arrowText="up arrow"}}
  </div>
</div>

