<div style="height: 500px">
  {{#one-atlas as |atlas|}}
    {{#atlas.point latitude=-10 longitude=-10}}
      <span class="text-danger">text at<br>(-10,-10)</span>
    {{/atlas.point}}
  {{/one-atlas}}
</div>
