<div class="row"
  style="position: relative; height: 200px; border: 1px solid green;">
  {{#promise-proxy-container proxy=resolvingProxy}}
    Hello world
  {{/promise-proxy-container}}  
</div>

<div class="row"
  style="position: relative; height: 200px; border: 1px solid red;">
  {{#promise-proxy-container proxy=rejectingProxy}}
    Bad world
  {{/promise-proxy-container}}
</div>

<div class="row">
  <button {{action "resetProxy"}}>Reset</button>
</div>