<h1>remove-icon</h1>
<p>
  Simple:
  {{remove-icon onClick=(action "click")}}
</p>
<p>
  With tooltip:
  {{remove-icon onClick=(action "click") tooltipText="Remove it!"}}
</p>
<p>
  Disabled:
  {{remove-icon isDisabled=true onClick=(action "click") tooltipText="Remove it!"}}
</p>
