.actions-popover-content {
  .one-icon {
    position: relative;
    top: 0.3em;
    margin-right: 0.3em;
    font-size: 190%;
    line-height: 0;
  }
  .separator {
    pointer-events: none;
    border-top: 0;
    font-size: 80%;
    a {
      padding: 0.3em 0.7em;
      text-transform: uppercase;
      color: $main-text-color-disabled;
      background-color: #f7f7f7;
    }
    & + li {
      border-top: 0;
    }
  }

  .expanded {
    background-color: lighten($color-one-semiblack, 7%);
  }
  .nested-actions {
    border-radius: 0;
    li {
      background-color: $color-one-dark-gray;
    }
    a {
      padding-left: $padding-base-vertical;
      padding-right: $padding-base-vertical;
    }
  }
  
  // nested popover
  .webui-popover-content {
    display: none;
  }
}
