.alert-global {
  &.error {
    .modal-header {
      color: $color-one-danger;
    }
  }
  .modal-content {
    overflow: hidden;
  }
  .error-json {
    max-height: 6em;
    overflow: auto;
    word-wrap: break-word;
  }
}
