.alert-global {
  &.error {
    .modal-header {
      color: $color-one-danger;
    }
  }

  .modal-content {
    overflow: hidden;
  }

  .collapse-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.1em;
  }
  
  .error-json {
    margin-top: $padding-base-vertical;
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    background-color: $code-bg;
  }
}
