$color-main-menu-fg-base: $color-one-white;
$color-main-menu-fg-active: $color-main-menu-fg-base;
$color-main-menu-fg-default: rgba($color-main-menu-fg-base, 0.9);
$color-main-menu-fg-disabled: rgba($color-main-menu-fg-base, 0.5);

$color-main-menu-item-gradient-base: $color-main-menu-fg-base;
@mixin main-menu-item-gradient($opacity-left, $opacity-right) {
  background: linear-gradient(90deg, rgba($color-main-menu-item-gradient-base, $opacity-left), rgba($color-main-menu-item-gradient-base, $opacity-right));
}

$onedata-logo-width: 150px;

.onedata-logo {
  width: $onedata-logo-width;
  height: $onedata-logo-height;
  background-image: url($root-url + 'assets/images/logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.brand-info {
  margin-left: auto;
  margin-right: auto;
  height: $onedata-brand-info-height;
  width: $onedata-logo-width;
  line-height: $onedata-brand-info-height;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Open Sans Semibold";
  color: $color-main-menu-fg-default;
}

// needs: $mobile-top-height
// needs: $main-menu-width
.app-layout {
  position: absolute;
  @include fill-container();
  .app-grid {
    position: relative;
    padding-left: 0;
    @media (min-width: $screen-md-min) {
      padding-left: $main-menu-width + $sidebar-menu-width;
    }
    @media (min-width: $screen-lg-min) {
      padding-left: $main-menu-width + $sidebar-menu-width-lg;
    }
  }
  .row-mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $mobile-top-height;
    z-index: $zindex-navbar;
    // TODO: the same as col-main-menu?
    background-color: $color-main-menu-bg;
    color: $color-one-white;
    .side-menu-toggle {
      height: 100%;
      width: auto;
    }
    .navbar-toggle {
      width: 40px;
      margin: 16px;
      &.toggle-back {
        transform: rotateY(180deg);
        span {
          position: relative;
          top: -0.2em;
          right: 0.2em;
          font-size: 2.2em;
        }
      }
      &.collapsible-toolbar-toggle {
        width: 30px;
        padding: 8px;
        .icon-bar {
          border-radius: 100%;
          width: 4px;
          height: 4px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .icon-bar {
        background-color: $color-one-white;
        border-radius: 0;
      }
    }
    .tab-name {
      text-transform: capitalize;
      line-height: $mobile-top-height;
      font-size: 1.5em;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .side-menu {
    background-color: $color-sidebar-background;

    // override side-menu default style
    ul > li {
      line-height: 64px;
    }

    .side-menu-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $sidemenu-header-height + $one-list-item-line-height;
      z-index: -1;
      background-image: url($root-url + 'assets/images/main-background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }
    .side-menu-header {
      height: $sidemenu-header-height;
      .row-onedata-logo {
        .onedata-logo {
          margin-left: $one-list-item-padding;
          margin-top: $one-list-item-padding;
        }
        .brand-info {
          margin-left: $one-list-item-padding;
        }
      }
    }
    .one-list-item.main-menu-item {
      color: $main-text-color;
      &.active {
        background-color: $color-sidebar-item-active-bg;
      }
      &.disabled {
        color: rgba($main-text-color, 0.5);
      }
      &::after {
        @include top-line(none);
      }
      &:last-of-type {
        &::after {
          @include bottom-line(none);
        }
      }
    }
  }
  
  .row-account-button {
    position: absolute;
    bottom: 0;
    width: $main-menu-width;
  }
  
  .row-app {
    @media (max-width: $screen-sm-max) {
      padding-top: $mobile-top-height;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding-left: $sidebar-menu-width;
    }
  }
  .col-in-app-layout {
    position: relative;
  }
  .col-main-menu {
    z-index: 1;
    position: absolute;
    background: $color-main-menu-bg;
    color: $color-main-menu-fg-default;
    width: $main-menu-width;

    .main-menu-content {
      position: absolute;
      @include fill-container();
      bottom: $one-list-item-line-height;
      background-color: inherit;
      &::after {
        content: '';
        position: absolute;
        bottom: 280px;
        left: -150px;
        right: -230px;
        transform: rotate(-90deg);
        height: 90px;
        opacity: .1;
        background-image: url($root-url + 'assets/images/logo.svg');
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-height: 600px) {
          display: none;
        }
        @media (max-height: 850px) {
          bottom: 300px;
          right: -260px;
          height: 50px;
        }
      }
    }
    .row-onedata-logo {
      position: relative;
      padding-top: $onedata-logo-margin-top;
      padding-bottom: $onedata-logo-margin-bottom;
      background-color: inherit;
      z-index: 10;
    }
    .row-main-menu {
      position: relative;
      background-color: inherit;
      z-index: 10;
    }
    
    .item-icon {
      position: relative;
      margin-right: 0.6rem;
      font-size: 3.2rem;
    }
  }
  .col-sidebar {
    z-index: $zindex-navbar;
    background: $color-sidebar-background;
    // TODO same as sidenav
    border-right: 1px solid $color-one-list-item-separator;
    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 0;
      padding-top: $mobile-top-height;
      bottom: 0;
    }
    @media (min-width: $screen-sm-min) {
      position: absolute;
      left: $main-menu-width;
      width: $sidebar-menu-width;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      left: 0px;
      padding-top: $mobile-top-height;
    }
    @media (min-width: $screen-lg-min) {
      width: $sidebar-menu-width-lg;
    }
  }
  .row-heading .col-title {
    // TODO: similar to one-list-item
    line-height: 64px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: $letter-spacing-base;
    font-size: $content-header-font-size;
  }
  .col-content {
    // TODO similar 30px
    padding: $content-col-padding;

    @media (max-width: $screen-xs-max) {
      padding: 0px;
    }
  }
}

// TODO gradient as on design - needs additional covering element
// @mixin main-menu-item-gradient($opacity) {
//   &::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     opacity: $opacity;
//     // NOTICE changing menu background will mess up this color
//     background: linear-gradient(90deg, #7E8EDA 0%, rgba(255,255,255,0) 100%); 
//   }
// }

/// Desktop main menu styles
.main-menu {
  // an additional space to preserve place for the user-account-button
  padding-bottom: $one-list-item-line-height;
}
.col-main-menu {
  &.sidenav-opened {
    .one-list-item.main-menu-item.enabled {
      &.active > .item-header {
        background-color: #666161;
      }
    }
  }
  .one-list-item.main-menu-item {
    >.item-header {
      color: $color-main-menu-fg-default;
      border: 0;
    }
    &.enabled {
      &.active,
      &.selected {
        >.item-header {
          color: $color-main-menu-fg-active;
          background-color: $color-one-main;
          @include box-shadow(inset 0px 0px 10px rgba(0, 0, 0, 0.5));
        }
        &:hover {
          background-color: darken($color-one-main, 10%);
        }
        &::before {
          display: none;
        }
      }
      &.loading {
        >.item-header {
          @extend .animated;
          @extend .infinite;
          @extend .slow;
          @extend .pulse-bg-one-main;
        }
      }
      &:hover {
        >.item-header {
          @include main-menu-item-gradient(0.15, 0);
        }
      }
    }
    &.disabled {  
      >.item-header {
        color: $color-main-menu-fg-disabled;
      }
    }
    // style overrides for list item
    &.one-list-item {
      &::after {
        @include top-line(0)
      }
      &:last-of-type {
        &::after {
          @include bottom-line(0)
        }
      }
    }
  }
}
.col-main-menu .main-menu.sidenav-opened .one-list-item.main-menu-item.active {
  >.item-header {
    color: $color-main-menu-fg-default;
  }
  &::before {
    @include left-line($one-list-item-active-left-border-width solid $color-main-menu-fg-disabled);
  }
}

// special for sidebar in sidenav TODO
#sidenav-sidebar {
  background: $color-sidebar-background;
}

// fix for a bad placement of scrollbar
.ps-scrollbar-y-rail {
  position: absolute;
}
