@use 'sass:math';

.application-error {
  $-base-app-error-size-lg: 212px;
  $-base-app-error-size-md: 128px;

  height: 100%;
  text-align: center;

  .application-error-icon {
    font-size: $-base-app-error-size-lg;
  }

  .application-error-message {
    font-size: math.div($-base-app-error-size-lg, 6);
  }

  .application-error-show-more {
    font-size: $-base-app-error-size-lg * 0.125;
  }

  .error-row {
    width: 80%;
  }

  .error-details {
    max-height: 0;
    margin-top: 0;
    transition: $collapse-transition, transition-linear(margin-top);
    opacity: 0;
    color: $main-text-color;
    &.active {
      opacity: 1;
      overflow: auto;
      max-height: 10em;
      margin-top: 10px;
    }
    .error-json {
      max-height: 6em;
      overflow: auto;
      word-wrap: break-word;
    }
  }

  &.md {
    .application-error-icon {
        font-size: $-base-app-error-size-md;
    }
    .application-error-message {
        font-size: math.div($-base-app-error-size-md, 6);
    }
    .application-error-show-more {
        font-size: $-base-app-error-size-md * 0.125 ;
    }
  }

  .iframed-onedata-error {
    .routing-error {
      text-align: center;
      .routing-error-onedata-logo {
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        background-image: url($root-url + 'images/logo-short-dark.svg');
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .routing-error-text {
        @include font-semibold;
        &.learn-more-text {
          @include font-regular;
          margin-top: 1em;
        }
      }
      .onedata-org-link {
        @include font-semibold;
        color: $color-one-red;
        &:hover {
          color: darken($color-one-red, 20%);
        }
      }
    }
  }
}
