$audit-log-browser-timestamp-cell-width: 7em;

.audit-log-browser {
  display: grid;
  // Setting useful when parent is flex
  min-height: 0;

  .timestamp-column-header {
    width: $audit-log-browser-timestamp-cell-width;
  }

  .timestamp-cell {
    font-size: 90%;
  }

  .severity-column-header {
    width: 9em;
  }

  .severity-cell {
    * {
      vertical-align: middle;
    }

    .severity-icon {
      font-size: 160%;
      // remove icon internal padding
      margin-left: -0.1em;
      // space between icon and text
      margin-right: 0.1em;
    }
  }

  .audit-log-severity-info,
  .audit-log-severity-notice,
  .audit-log-theme-none {
    background-color: $color-one-white;

    .severity-icon {
      color: $main-text-color;
    }
  }

  .audit-log-severity-debug,
  .audit-log-theme-default {
    background-color: $color-one-light-blue;

    .severity-icon {
      color: $color-one-azure;
    }
  }

  .audit-log-severity-warning,
  .audit-log-severity-alert,
  .audit-log-theme-warning {
    background-color: lighten($color-one-warning, 35%);

    .severity-icon {
      color: $color-one-warning;
    }
  }

  .audit-log-severity-error,
  .audit-log-severity-critical,
  .audit-log-severity-emergency,
  .audit-log-theme-danger {
    background-color: lighten($color-one-danger, 35%);

    .severity-icon {
      color: $color-one-danger;
    }
  }

  .audit-log-theme-success {
    background-color: lighten($color-one-success, 35%);

    .severity-icon {
      color: $color-one-success;
    }
  }

  .details-container {
    --infinite-scroll-table-details-x-offset: #{$audit-log-browser-timestamp-cell-width};
  }

  .log-entry-details {
    display: grid;
    grid-template-rows: min-content auto;
    gap: $infinite-scroll-table-container-padding;
    padding: $infinite-scroll-table-container-padding;

    .timestamp {
      @include font-semibold();
    }

    .content {
      display: grid;
      place-items: stretch;
    }

    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .copy-link {
      margin-left: auto;
      display: inline-flex;
      align-items: center;
      font-size: 85%;

      .one-icon {
        font-size: 170%;
        line-height: 0;
      }
    }
  }
}
