$audit-log-header-bg-color: #FAFAFA;
$audit-log-cell-padding: 0.5em;

.audit-log-browser {
  border: 1px solid $main-border-color;
  border-radius: $border-radius-base;
  overflow: hidden;

  .audit-log-scrollable-container {
    height: 100%;

    &.on-top .audit-log-table-column-header {
      @include hide-before-shadow;
    }

    &.on-bottom + .bottom-shadow-keeper {
      @include hide-before-shadow;
    }
  }

  .audit-log-table {
    table-layout: fixed;
    margin: 0;
  }

  .audit-log-table-head {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $audit-log-header-bg-color;
  }

  .audit-log-table-column-header,
  .audit-log-table-entry > td {
    padding: $audit-log-cell-padding;

    &:first-child {
      padding-left: $audit-log-cell-padding * 2;
    }
  }

  .audit-log-table-column-header {
    position: relative;
    padding-top: $audit-log-cell-padding * 2;
    padding-bottom: $audit-log-cell-padding * 2;
    text-align: left;
    @include before-bottom-shadow;
  }

  .bottom-shadow-keeper {
    position: relative;
    @include before-top-shadow;
  }

  .ps__rail-y {
    z-index: 2;
  }

  .timestamp-column-header {
    width: 8em;
  }

  .timestamp-cell {
    font-size: 90%;
  }

  .severity-column-header {
    width: 7em;
  }
}
