.brand-info {
  $icon-size: 20px;
  $icon-left-offset: 6px;

  position: fixed;
  bottom: 0;
  height: $one-list-item-line-height;
  width: inherit;
  border-right: 1px solid $main-border-color;
  background-color: $color-sidebar-item-bg;
  z-index: 10;

  .brand-info-container {
    @include vertical-align-middle();
    left: $one-list-item-padding;
    right: $one-list-item-padding;
    padding-left: $icon-size + $padding-xs-horizontal + $icon-left-offset;
  }

  .brand-icon {
    position: absolute;
    left: $icon-left-offset;
    top: 0;
    width: $icon-size;
  }

  .brand-name {
    font-weight: bold;
  }

  .brand-type-version {
    font-size: 90%;
    margin-top: 2px;
    margin-bottom: -2px;
  }
}
