.clipboard-secret-field {
  position: relative;

  .show-hide-secret-btn {
    position: absolute;
    right: 2.6em;
    bottom: 0.1em;
    width: 3em;
    height: 3em;
    padding: 0.5em;

    .show-hide-secret-icon {
      font-size: 2em;
      z-index: 1001;
      cursor: pointer;
      position: relative;
    }

    .show-hide-secret-btn-background {
      z-index: 1001;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: radial-gradient(circle, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 0) 80%);
    }
  }
  .clipboard-btn-textarea {
    height: $input-height-base + 1px;
  }
}
