.clipboard-line {
  $-copy-btn-width-base: 52px;
  $-copy-btn-width-small: 40px;
  
  display: table;
  position: relative;
  width: 100%;
  
  @mixin clipboard-line-element {
    display: table-cell;
    vertical-align: middle;
  }
  
  .clipboard-line-label {
    @include clipboard-line-element();
    padding-right: 20px;
    // as small as possible
    width: 1px;
  }
  .clipboard-input {
    @include clipboard-line-element();
    text-overflow: ellipsis;
  }
  input.clipboard-input {
    padding-right: $-copy-btn-width-base;
    height: $input-height-base;
  }
  .clipboard-btn {
    position: absolute;
    // z-index of input in input-group is hardcoded in bootstrap-sass 3.x, so we cannot
    // use a variable
    z-index: 3;
    background: none;
    border: none;
    right: 0;
    width: $-copy-btn-width-base;
    outline: none;
    .copy-btn-icon {
      position: relative;
      font-size: 2em;
      line-height: $input-height-base;
    }
    .copy-btn {
      height: $input-height-base;
    }
    .copy-btn-background {
      display: none;
    }
    &.clipboard-btn-input {
      top: 50%;
      transform: translateY(-50%);
    }
    &.clipboard-btn-textarea, &.clipboard-btn-html {
      bottom: 0;
      .copy-btn-icon {
        z-index: 1001;
      }
      .copy-btn-background {
        z-index: 1001;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 0) 80%);
      }
    }
  }
  
  textarea.clipboard-input {
    resize: none;
    height: auto;
  }
  &.sm {
    .clipboard-input {
      font-size: $font-size-base;
      line-height: $line-height-small;
    }
    input.clipboard-input {
      height: $input-height-small;
      padding-left: $padding-small-horizontal;
      padding-right: $-copy-btn-width-small;
    }
    .clipboard-btn {
      width: $-copy-btn-width-small;
      .copy-btn {
        height: $input-height-small;
      }
      .copy-btn-icon {
        font-size: 1.5em;
        line-height: $input-height-small;
      }
    }
  }
  
  &.monospace-font {
    .clipboard-input {
      font-family: $font-family-monospace;
    }
  }
  
  .form-control-block {
    height: auto;
  }
}
