.clipboard-secret-field {
  position: relative;

  .show-hide-secret-btn {
    position: absolute;
    right: 2.6em;
    bottom: 0.1em;
    width: 3em;
    height: 3em;
    padding: 0.5em;

    .show-hide-secret-icon {
      font-size: 2em;
      z-index: 1001;
      cursor: pointer;
      position: relative;
    }

    .show-hide-secret-btn-background {
      @include icon-gradient-background();
    }
  }
  .clipboard-btn-textarea {
    // Prevent icon from shifting when switching between input and textarea
    height: $input-height-base + 1px;
  }
}
