$iconified-block-border-width: 2px;
$iconified-block-border: $iconified-block-border-width solid var(--iconified-block-border-color);
$iconified-block-border-radius: $border-radius-base;
$iconified-block-padding: $padding-base-vertical;

.iconified-block {
  $leading-color: $color-one-light-blue;
  --iconified-block-icon-color: #{$color-one-blue-gray};
  --iconified-block-border-color: #{darken($leading-color, 10%)};
  --iconified-block-icon-background-color: #{$leading-color};
  --iconified-block-icon-background-color-hover: #{darken($leading-color, 3%)};
  --iconified-block-background-color-hover: #{$main-content-hover-background};

  display: flex;
  border: $iconified-block-border;
  border-radius: $iconified-block-border-radius;

  + .iconified-block {
    margin-top: $iconified-block-padding;
  }

  .icon-section,
  .content-section {
    padding: $iconified-block-padding;
  }

  .icon-section {
    text-align: center;
    background-color: var(--iconified-block-icon-background-color);
    border-right: $iconified-block-border;

    .one-icon {
      font-size: 2.5em;
      color: var(--iconified-block-icon-color);
      margin: -0.2em;
      display: block;
      width: 1em;
    }
  }

  .content-section {
    flex-grow: 1;
    min-width: 0;
  }

  &.hoverable:hover {
    cursor: pointer;

    .icon-section {
      background-color: var(--iconified-block-icon-background-color-hover);
    }

    .content-section {
      background-color: var(--iconified-block-background-color-hover);
    }
  }
}
