.iframed-onedata-error {
  .routing-error {
    text-align: center;
    .routing-error-onedata-logo {
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      background-image: url($root-url + 'images/logo-short-dark.svg');
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .routing-error-text {
      @include font-semibold;
      &.learn-more-text {
        @include font-regular;
        margin-top: 1em;
      }
    }
    .onedata-org-link {
      @include font-semibold;
      color: #EF3F3F;
      &:hover {
        color: darken(#EF3F3F, 20%);
      }
    }
  }
}
