.login-box {  
  .col-user-profile-icon {
    > div {
      display: inline-block;
    }
    min-height: 130px;
    margin-bottom: 60px;
    text-align: center;
    @media (max-height: 650px) {
      margin-bottom: 0px;
    }
    .login-titles {
      padding-top: 20px;
      padding-left: 10px;
      vertical-align: top;
      font-weight: bold;
      text-align: left;
      .login-main-title {
        padding-left: 35px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left center;
        font-size: 22px;
        text-transform: capitalize;
      }
      .login-main-subtitle {
        font-size: 22px;
        text-transform: uppercase;
      }
    }
    @media (max-width: $screen-xs-max) {
      .login-logo {
        width: 70px;
        height: 70px;
      }
      .login-titles {
        padding-top: 10px;
        .login-main-title {
          padding-left: 25px;
          background-size: 20px;
          &.provider {
            background-size: 17px;
          }
          font-size: 17px;
        }
        .login-main-subtitle {
          font-size: 17px;
        }
      }
    }
  }
  .login-logo {
    width: 100px;
    height: 100px;
    // TODO some generic login logo!
    background-image: url($root-url + 'assets/images/control-panel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .row-login-header {
    margin-bottom: 30px;
    h4 {
      font-family: 'Open Sans Semibold';
      font-size: 28px;
      letter-spacing: $letter-spacing-base;
    }
  }
  // TODO: remove class after icons resize
  .additional-bottom-margin {
    margin-bottom: 25px;
  }

  .login-box-error-message {
    margin-top: 15px;
    margin-bottom: -10px;
    max-height: 0;
    opacity: 0;
    transition: $collapse-transition;
    &.active {
      max-height: 3em;
      opacity: 1;
    }
  }

}
