.login-box {
  h1, .row-login-header h4 {
    text-align: center;
    @include font-semibold();
    font-size: 28px;
    letter-spacing: $letter-spacing-base;
  }
  
  .col-user-profile-icon {
    > div {
      display: inline-block;
    }
    min-height: 130px;
    margin-bottom: 60px;
    text-align: center;
    @media (max-height: 650px) {
      margin-bottom: 0px;
    }
    .login-titles {
      padding-top: 20px;
      padding-left: 10px;
      vertical-align: top;
      @include font-bold();
      text-align: left;
      .login-main-title {
        padding-left: 35px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left center;
        font-size: 22px;
        text-transform: capitalize;
      }
      .login-main-subtitle {
        font-size: 22px;
        text-transform: uppercase;
      }
    }
    @media (max-width: $screen-xs-max) {
      .login-logo {
        width: 70px;
        height: 70px;
      }
      .login-titles {
        padding-top: 10px;
        .login-main-title {
          padding-left: 25px;
          background-size: 20px;
          &.provider {
            background-size: 17px;
          }
          font-size: 17px;
        }
        .login-main-subtitle {
          font-size: 17px;
        }
      }
    }
  }
  .login-logo {
    width: 100px;
    height: 100px;
    // TODO some generic login logo!
    background-image: url($root-url + 'images/control-panel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  .row-login-header {
    margin-bottom: 30px;
  }
  // TODO: remove class after icons resize
  .additional-bottom-margin {
    margin-bottom: 25px;
  }
  
  .login-warning-icon {
    position: relative;
    top: 6px;
    left: 0;
    padding-right: 20px;
    font-size: 1.1em;
  }
  
  .back-button {
    .one-icon {
      top: 0.25em;
    }
    .one-icon::before {
      display: inline-block;
      position: relative;
      top: -2px;
      margin-left: -2 * $padding-xs-horizontal;
      margin-right: $padding-xs-horizontal;
      transform: rotate(-180deg);
      font-size: 17pt;
      line-height: 0;
    }
  }

  .authentication-error-message {
    max-width: 820px;
    
    .login-form-container.always-visible {
      margin-top: 0;
    }
    
    .authentication-error-message-text {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 1.2em;
    }
    
    .authentication-error-state-input-copy {
      position: relative;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
    
    .authentication-error-buttons {
      font-size: 14px;
      .back-button {
        @extend .btn-success;
      }
    }
    
    .btn-login-error-copy {
      position: absolute;
      right: 8px;
      top: 8px;
      padding: 0;
      color: darken($brand-primary, 20%) !important;
      &:hover {
        color: darken($brand-primary, 30%) !important;
      }
    }
  }
  
  .login-notification {
    position: relative;
    padding: $padding-base-horizontal;
    margin: 80px auto $padding-base-vertical 0;
    background-color: rgba($color-one-blue-gray, 0.3);
    border: 1px solid lighten($color-one-blue-gray, 15%);
    text-align: left;
    @include font-semibold();
    word-wrap: break-word;
    @media (min-width: $screen-sm-min) {
      width: $screen-sm-min - 2 * $padding-base-horizontal;
      left: 50%;
      transform: translateX(-50%);
    }
    + .login-notification {
      margin-top: 20px;
    }
    .session-expired-icon-container {
      margin-right: 4px;
      .one-icon {
        font-weight: bold;
      }
    }
    .ip-warning-icon {
      padding-left: 4px;
      font-size: 120%;
    }
  }

  .login-notification-warning {
    background-color: rgba($color-one-warning, 0.5);
    border: 1px solid darken($color-one-warning, 3%);
    a {
      &:hover, &:active {
        color: darken($color-one-mint, 10%);
      }
    }
  }
}

.login-icon-box {
  position: relative;
  border-radius: $border-radius-large;
  overflow: hidden;
  text-align: center;
  text-decoration: none !important;
  user-select: none;

  &:hover {
    color: white;
  }

  .one-icon {
    line-height: inherit;
  }
  
  &.more {
    background-color: white;
    color: $color-one-dark-gray;
    @include font-bold();
    &:hover {
      color: $color-one-dark-gray;
    }
    &::before {
      content: '\B7\B7\B7';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-weight: normal;
      font-size: 42px;
      letter-spacing: -1.1px;
    }
  }
}

.social-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default !important;
  a {
    color: $color-one-white;
  }
  &.disabled {
    opacity: 0.3;
    a {
      cursor: default;
    }
  }
  .social-icon-image {
    width: 100%;
    height: 100%;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.login-box, .full-social-icon {
  .login-icon-box {
    display: inline-block;
    height: $large-social-box-size;
    width: $large-social-box-size;
    line-height: $large-social-box-size;
    font-size: 35px;
    cursor: pointer;

    .loader {
      // position hack
      position: absolute;
      top: 23px;
      left: 30px;
      font-size: 40px;
      max-width: 40px;
      width: 40px;
      color: rgba(white, 0.5);
    }
  }
}

.login-box {
  .login-header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
    color: $color-one-white;
    @include font-bold();

    @media(max-height: 600px) {
      margin-bottom: 50px;
    }
  }

  .row-login-header {
    margin-bottom: 10px;
  }

  h2 {
    margin: 0px 20px 20px 20px;
    font-size: 12pt;
    @include font-semibold();
    text-align: center;
    .subtitle-tip {
      position: relative;
      top: 2px;
      left: 2px;
      opacity: 0.8;
      font-size: 90%;
    }
  }

  .login-form-container {
    position: relative;
    min-height: 250px;
    max-width: 400px;
    margin: 0 auto;
  }
  .fading-login-method-container {
    &.fadeOut {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
  .basicauth-login-form-container {
    &.fadeOut {
      position: absolute;
    }
  }
  .authorizers-select-container {
    &.fadeOut {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
    .authorizers-dropdown {
      .ember-power-select-trigger {
        .social-box {
          left: 100px;
        }
      }
      position: relative;
      opacity: 0;
      margin-top: 10px;
    }
    .dropdown-label {
      position: absolute;
      top: 1px;
      height: $input-height-base - 2px;
      padding: 0 15px;
      line-height: $input-height-base - 2px;
      border-right: 1px solid $input-border;
      z-index: 2;
      color: $main-text-color;
    }
    .ember-power-select-trigger {
      min-height: 45px;
      padding: 11px 40px 11px 110px;
      .social-box-component {
        left: 94px;
      }
      .ember-power-select-selected-item {
        padding-left: 35px;
      }
    }
  }
  .buttons-list {
    font-size: 32px;
    text-align: center;
  }

  .no-login-methods {
    margin-top: $padding-large-horizontal;
    text-align: center;
  }
  
  .text-link {
    text-decoration: underline;
    color: $color-one-white;
    &:hover {
      color: $color-one-mint;
    }
  }
}
