.main-menu-column {
  .onedata-logo {
    display: block;
  }
  .powered-by-container {
    $powered-by-color: $color-one-light-gray;

    display: flex;
    justify-content: center;
    color: $powered-by-color;
    opacity: 0;
    transition: transition-linear(opacity);
    padding-bottom: 1.5em;
    @include font-semibold;

    a.powered-by-onedata-link {
      color: $powered-by-color;
      text-decoration: underline;
      &:hover {
        color: lighten($powered-by-color, 20%);
      }
    }

    @media (max-height: 820px) {
      display: none;
    }
  }

  &.expanded {
    .powered-by-container {
      opacity: 1;
    }
  }
}
