.one-icon-tagged {
  position: relative;
  .one-icon-tag {
    position: absolute;
  }
  .one-icon-tag-icon {
    font-size: 50%;
    bottom: 30px;
    left: 0px;
  }
  .one-icon-tag-shadow {
    font-size: 75%;
    bottom: 20px;
    left: -10px;
    color: $color-one-white;
  }
  .one-icon-tag-circle {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border-width: 0;
    bottom: 0.36em;
    left: 0;
    background-color: $color-one-white;
  }
  
  &.danger {
    .one-icon-tag-icon {
      color: $brand-danger;
    }
  }
  
  &.gray-sand {
    .one-icon-tag-shadow {
      color: $color-one-gray-sand;
    }
    .one-icon-tag-circle {
      background-color: $color-one-gray-sand;
    }
  }
}
