.one-image {
  position: relative;
  text-align: center;

  .one-image-text {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 42%;
    @include font-bold();
    text-transform: uppercase;
    color: darken($main-text-color, 8%);
  }
}
