.one-animated-logo {
  $size: 25px;
  white-space: nowrap;
  font-size: 0;
  .logo-container {
    position: relative;
    display: inline-block;
    height: $size;
    background-image: url($root-url + 'images/logo.svg');
    background-size: auto 100%;
  }
  .left {
    width: $size * 0.9;
    transition: transition-linear(width, 'short', 'short');
    background-repeat: no-repeat;
    .shadow {
      left: $size * 0.9;
      width: $size * 1.9;
      transition: transition-linear(opacity, 'short', 'short');
    }
  }
  .right {
    width: $size * 0.53;
    transition: transition-linear(width, 'short');
    background-image: url($root-url + 'images/logo.svg');
    background-position: -$size * 2.8 0;
    background-repeat: no-repeat;
    .shadow {
      transition: transition-linear(opacity, 'short');
      left: $size * 0.55;
      width: $size * 2.35;
    }
  }
  .shadow {
    position: absolute;
    background: linear-gradient(to right, transparent -100%, $color-main-menu-bg);
    top: 0;
    bottom: 0;
    opacity: 1;
  }
  &.opened {
    .left {
      width: $size * 2.8;
      transition: transition-linear(width, 'short');
      .shadow {
        transition: transition-linear(opacity, 'short');
      }
    }
    .right {
      width: $size * 2.85;
      transition: transition-linear(width, 'short', 'short');
      .shadow {
        transition: transition-linear(opacity, 'short', 'short');
      }
    }
    .shadow {
      opacity: 0;
    }
  }
}
