.one-space-indicator {
  $space-for-text: 15px;
  position: relative;
  height: 50px + 2 * $space-for-text;
  .bar {
    position: absolute;
    top: $space-for-text;
    bottom: $space-for-text;
    left: 0;
    right: 0;
  }
  .total-space-bar {
    background-color: black;
    opacity: 0.1;
  }
  .occupied-space-bar {
    background-color: $color-one-mint;
    &::before {
      $gradient-size: 8px;
      content: '';
      display: block;
      position: absolute;
      @include fill-container();
      background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) $gradient-size,
        transparent $gradient-size,
        transparent $gradient-size * 2
      );
    }
  }
  .bar-label {
    position: absolute;
    font-size: 80%;
    font-weight: bold;
    white-space: nowrap;
  }
  .total-space {
    right: 0;
    bottom: 0;
  }
  .occupied-space {
    color: $color-one-mint;
  }
  &.critical-usage {
    .occupied-space-bar {
      background-color: $color-one-red;
    }
    .occupied-space {
      color: $color-one-red;
    }
  }
  &.warning-usage {
    .occupied-space-bar {
      background-color: $color-one-yellow;
    }
    .occupied-space {
      color: $color-one-yellow;
    }
  }
}
