.sidenav {
  width: 0;
  position: fixed;
  z-index: $zindex-layer-2-min;
  top: 0;
  bottom: 0;
  background-color: $color-one-white;
  overflow: hidden;
  transition: $collapse-transition-time;

  // initial size
  left: 0;
  width: 0;

  &.in {
    border-right: 1px solid $color-one-list-item-separator;
  }
  .ps-container {
    position: absolute;
    @include fill-container();
  }
}
