.one-icon-tagged {
  $default-one-icon-tagged-icon-scale: 0.5;
  position: relative;
  line-height: 1;
  .one-icon-tag {
    position: absolute;
  }
  .one-icon-tagged-main {
    position: relative;
    display: inline-block;
  }
  .one-icon-tag-icon {
    // important is used to force use relative size to main icon
    // thus ignore one-icon sizes defined contextually
    font-size: calc(var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale) * 100%) !important;
    bottom: calc(($default-one-icon-tagged-icon-scale - var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale)) * 1em);
    left: calc(($default-one-icon-tagged-icon-scale - var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale)) * 1em);
    right: auto;
  }
  &.tag-right {
    .one-icon-tag-icon,
    .one-icon-tag-shadow,
    .one-icon-tag-circle {
      left: auto;
      right: calc(($default-one-icon-tagged-icon-scale - var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale)) * 1em);
    }

    .one-icon-tag-shadow {
      transform: translateX(16%) translateY(18%);
    }
  }
  .one-icon-tag-shadow {
    font-size: 75%;
    bottom: 0;
    left: 0;
    transform: translateX(-16%) translateY(18%);
    color: $color-one-white;
  }
  .one-icon-tag-circle {
    position: absolute;
    width: calc(var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale) * 1em);
    height: calc(var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale) * 1em);
    border-radius: 50%;
    border-width: 0;
    bottom: calc(($default-one-icon-tagged-icon-scale - var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale)) * 1em);
    left: calc(($default-one-icon-tagged-icon-scale - var(--one-icon-tagged-icon-scale, $default-one-icon-tagged-icon-scale)) * 1em);
    background-color: $color-one-white;
  }

  $brand-level-colors: (
    danger: $brand-danger,
    warning: $brand-warning,
    success: $brand-success,
  );

  @each $brand-level, $brand-color in $brand-level-colors {
    &.#{$brand-level} {
      .one-icon-tag-icon {
        color: $brand-color;
      }
    }
  }

  &.deactivated {
    .one-icon-tagged-main {
      color: $main-text-color-disabled;
    }
  }

  &.gray-sand {
    .one-icon-tag-shadow {
      color: $color-one-gray-sand;
    }
    .one-icon-tag-circle {
      background-color: $color-one-gray-sand;
    }
  }
}
