.one-inline-editor {
  position: relative;
  &:hover {
    .one-label {
      border: 1px solid $main-border-color;
    }
  }
  &.static, &.editor.saving {
    padding-right: 30px;
  }
  &.editor {
    padding-right: 55px;
  }
  &.editor, &:hover {
    .action-icons {
      visibility: visible;
    }
  }
  .action-icons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    visibility: hidden;
    font-size: 170%;
    .one-icon {
      position: relative;
      top: 2px;
    }
  }
  .form-control, .one-label {
    display: block;
  }
  .one-label {
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    padding: $padding-base-vertical $padding-base-horizontal;
    &:hover {
      cursor: pointer;
    }
  }
  .save-icon:hover, .edit-icon:hover {
    color: $color-one-mint;
  }
  .cancel-icon:hover {
    color: $color-one-red;
  }
  .empty-value {
    color: $main-text-color-disabled;
  }
  @media (max-width: $screen-xs-max) {
    &.static, &.editor.saving {
      padding-right: 40px;
    }
    &.editor {
      padding-right: 75px;
    }
    .action-icons {
      font-size: 250%;
      visibility: visible;
    }
  }
}
