.one-embedded-component {
  @include fill-flex-using-column;
  // add some default spacing for content
  // margins can be set to 0 if component has complex layout and wish to have own padding
  padding-top: $content-row-vertical-padding;
  padding-bottom: $content-col-padding;
  padding-left: $content-col-padding;
  padding-right: $content-col-padding;

  h1, h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin: 0;
    padding: 17px 0px;
    font-weight: bold;
    .btn-group {
      position: relative;
      top: -9px;
    }
  }
}
