.one-checkbox {
  $checkbox-size: 16px;
  
  display: inline-block;
  position: relative;
  width: $checkbox-size;
  height: $checkbox-size;
  border-radius: $border-radius-small;
  border: 1px solid $main-text-color;
  background-color: $color-one-white;
  
  &.checked {
    border: 1px solid $color-one-mint;
    &::after {
      @include oneicon-content($oneicon-checked);
      font-family: 'oneicons';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: -1px;
      margin-top: -1px;
      line-height: $checkbox-size;
      color: $color-one-mint;
      font-size: $checkbox-size;
      text-align: center;
    }
  }

  &.maybe {
    border: 1px solid $color-one-mint;

    &::after {
      @include absolute-align-middle-center();
      content: '';
      display: block;
      width: $checkbox-size - 8px;
      height: $checkbox-size - 8px;
      background-color: $color-one-mint;
      border-radius: $border-radius-small;
    }
  }

  &.disabled {
    opacity: $disabled-opacity;
  }

  &:not(.disabled) {
    &.checked:hover {
      background-color: lighten($color-one-mint, 40%);
    }
    &:hover {
      cursor: pointer;
      background-color: lighten( $main-text-color, 60%);
    }
  }

  input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
  
  &.danger {
    &.checked {
      border-color: $color-one-red;
      &::after {
        color: $color-one-red;
      }
    }
    &:not(.disabled) {
      &.checked:hover {
        background-color: lighten($color-one-red, 40%);
      }
    }
  }
}
