.one-dynamic-tree {
  .one-tree {
    .one-tree-list {
      > li {
        &.item-text {
          $one-tree-bullet-top: 19px;

          &:before {
            top: $one-tree-bullet-top;
          }

          &:last-child::after {
            top: $one-tree-bullet-top + 1px;
          }

          > .tree-circle {
            top: $one-tree-bullet-top + 2px;
          }

          .node-text {
            padding-top: 6px;
          }
        }

        &.item-checkbox, &.item-radio-group {
          .form-control-feedback {
            display: none;
          }
        }

        .form-control-feedback {
          height: 32px;
          width: 32px;
          margin-top: 0;
          line-height: 32px;
        }

        .one-way-radio-group {
          padding-left: 0;
        }

        .node-text, .form-group {
          display: inline-block;
          width: 200px;
          vertical-align: top;
        }

        .node-text {
          width: 100px;
          &.disabled {
            opacity: $disabled-opacity;
          }
        }
        .form-group {
          margin-bottom: 0;
        }
      }
    }
  }
}
