$toggle-height: 1.74em;
$toggle-width: 1.7 * $toggle-height;
$toggle-track-height: $toggle-height * 0.7;
$toggle-thumb-size: $toggle-height;
$toggle-slide-space: $toggle-width - $toggle-thumb-size;
$toggle-bg-color-unchecked: $color-one-light-gray;
$toggle-bg-color-checked: $brand-primary;
$toggle-bg-color-indeterminate: $color-one-yellow;
$toggle-disabled-desaturation: 20%;
$toggle-icon-size: 1.24em;

@mixin toggle-color($base-color) {
  $thumb-color: darken($base-color, 10%);
  
  .one-way-toggle-track {
    background-color: $base-color;
  }
  
  .one-way-toggle-thumb .thumb-icon {
    color: $thumb-color;
  }
  
  &.disabled {
    .one-way-toggle-track {
      background-color: desaturate($base-color, $toggle-disabled-desaturation);
    }
    .one-way-toggle-thumb .thumb-icon {
      color: desaturate($thumb-color, $toggle-disabled-desaturation);
    }
  }
}

.one-way-toggle {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  height: $toggle-height;
  font-size: inherit;
  vertical-align: middle;

  &.form-control {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    white-space: nowrap;
    // padding and width properties to override bootstrap form-control styles
    padding: 0;
    width: auto;
  }

  &.disabled {
    // override HammerJS inline styles
    cursor: initial !important;
  }

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:focus + * .one-way-toggle-thumb {
      @include box-shadow($control-box-shadow-focus);
      border: 1px solid $input-border-focus;
    }
  }

  // TODO: VFS-7482 refactor to unchecked (when acceptance tests will be ready)
  &.unselected {
    @include toggle-color($toggle-bg-color-unchecked);
  }
  
  &.checked {
    @include toggle-color($toggle-bg-color-checked);
    
    .one-way-toggle-thumb {
      transform: translateX(#{$toggle-slide-space});
    }
  }

  &.maybe {
    @include toggle-color($toggle-bg-color-indeterminate);
    
    .one-way-toggle-thumb {
      transform: translateX(#{$toggle-slide-space / 2});
    }
  }

  .one-way-toggle-track,
  .one-way-toggle-thumb {
    height: $toggle-height;
    border: 1px solid $input-border;
    border-radius: $toggle-height / 2;
  }

  .one-way-toggle-control {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: $toggle-width;
    height: 100%;
    vertical-align: top;
  }
  
  &.spinner-left {
    flex-direction: row-reverse;
  }
  
  .one-way-toggle-track {
    height: $toggle-track-height;
    flex-basis: 100%;
    transition: transition-ease(background-color), transition-ease(opacity);
    border-radius: $toggle-track-height / 2;
  }
  
  .one-way-toggle-thumb {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $toggle-thumb-size;
    width: $toggle-thumb-size;
    transition: transition-ease(transform), $control-focus-transition;
    background-color: $input-bg;
    border-radius: $toggle-thumb-size / 2;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    .one-icon.thumb-icon {
      font-size: $toggle-icon-size;
    }
  }

  &.disabled .one-way-toggle-control {
    opacity: $disabled-opacity;
  }

  .one-way-toggle-readonly-icon {
    display: inline-block;
    margin-left: 0.2em;
    font-size: 120%;
    line-height: 0;
  }
  
  &.in-progress {
    $spinner-position-delta: 12px;
    width: 1.55 * $toggle-width;
    .spin-spinner-block {
      position: absolute;
      right: 0.55 * $toggle-width;
      transform: translateX($spinner-position-delta);
      // fix vertical position a little bit
      top: calc(50% - 1px);
    }
    &.spinner-left {
      .spin-spinner-block {
        transform: translateX(calc(-#{$toggle-width} + #{$spinner-position-delta}));
      }
    }
  }
  
  div.clickable::before {
    cursor: pointer;
  }
}

.toggle-form-row {
  .control-label {
    padding-top: 0;
  }
  
  & + .form-control-feedback {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    .form-control {
      padding-left: $padding-large-horizontal;
    }
    & + .form-control-feedback {
      margin-top: 0;
    }
  }
}
