.one-sidebar-toolbar-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 26px;
  color: $color-one-white;
  background-color: blue;
}
