.one-collapsible-toolbar {
  &.minimized {
    .collapsible-toolbar-toggle {
      cursor: pointer;
      .icon-dot {
        background-color: $main-text-color;
        height: 4px;
        width: 4px;
        margin-bottom: 4px;
        border-radius: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .collapsible-toolbar-buttons {
    white-space: nowrap;
  }
}

.btn-menu-toggle {
  border: 1px solid transparent;

  &:hover {
    background-color: $color-sidebar-item-bg;
    border: 1px solid $color-one-list-item-separator;
    border-radius: $border-radius-small;
  }
}

.one-collapsible-toolbar-popover {
  width: $mobile-menu-popover-width;
  .minized-item {
    .one-icon {
      position: relative;
      top: 0.3em;
      margin-right: 0.3em;
      font-size: 190%;
      line-height: 0;
    }
  }
}

.with-menu {
  position: relative;
  .collapsible-toolbar-toggle {
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    width: 30px;
    padding: 8px;
    cursor: pointer;
  }

  // By default, the `with-menu` class is intended to use with the menu that is always
  // collapsed (there are no collapsible buttons) and should not be presented in tablet
  // mode. This is typical situation, when actions are moved to main three-dots menu on
  // the top. If you want to use buttons, that are collapsed into menu when there is no
  // space and buttons/menu should be always visible, use special class
  // `with-visible-collapsible-menu`.
  &:not(.with-visible-collapsible-menu) {
    @media (max-width: $screen-sm-max) {
      .collapsible-toolbar-toggle {
        display: none;
      }
    }
    @media (min-width: $screen-md-min) {
      padding-right: 30px;
    }
  }

  .icon-dot {
    margin-left: auto;
    margin-right: auto;
  }
}

.with-back {
  .resource-name {
    padding-left: 68px;
  }
  .content-back-link {
    @extend .clickable;
    font-size: 28px;
    position: absolute;
    top: 50%;
    color: inherit;
    line-height: 1;
    margin-top: 0.1em;
    transform: translateY(-50%);
    .content-back-arrow-icon {
      padding-left: 8px;
      font-size: 20px;
      position: relative;
      top: -4px;
      transition: transition-linear(padding-left, 'short');
    }
    &:hover {
      .content-back-arrow-icon {
        padding-left: 4px;
        transition: transition-linear(padding-left, 'short');
      }
    }
  }
}
