$webui-popover-offset: 4px;

@mixin webui-popover-arrow-color-part($part1, $part2, $part3, $color, $border-color) {
  &.#{$part1}, &.#{$part2}, &.#{$part3} {
    > .webui-arrow {
      @if $border-color {
        border-#{$part1}-color: $border-color;
      }
      &::after {
        border-#{$part1}-color: $color;
      }
    }
  }
} 

@mixin webui-popover-arrow-color($color, $border-color: false) {
  @include webui-popover-arrow-color-part(
    left,
    left-top,
    left-bottom,
    $color,
    $border-color
  );
  @include webui-popover-arrow-color-part(
    right,
    right-top,
    right-bottom,
    $color,
    $border-color
  );
  @include webui-popover-arrow-color-part(
    left,
    left-top,
    left-bottom,
    $color,
    $border-color
  );
  @include webui-popover-arrow-color-part(
    top,
    top-left,
    top-right,
    $color,
    $border-color
  );
  @include webui-popover-arrow-color-part(
    bottom,
    bottom-left,
    bottom-right,
    $color,
    $border-color
  );
}

@mixin webui-popover-dropdown() {
  border: 0;
  background-color: transparent;

  @include webui-popover-arrow-color($color-one-semiblack);

  .dropdown-menu {
    // padding: 0 3px;
    background-color: $color-one-semiblack;
    overflow: hidden;
    li {
      border-top: 1px solid $color-one-dark-gray;
      &:first-child {
        border-top: 0;
      }
      &.separator a {
        background-color: lighten($color-one-semiblack, 10%);
      }
      &.disabled a {
        color: lighten($main-text-color, 20%);
      }
      a {
        color: $color-one-white;
        &:hover {
          background-color: lighten($color-one-semiblack, 7%);
        }
      }
    }
  }
}

.webui-popover {
  @include box-shadow(0 2px 10px rgba(128, 128, 128, 0.75));
  @include webui-popover-arrow-color(white, #999);
  max-width: 28em;
  border-radius: $border-radius-small;
  font-size: $font-size-base;
  padding: 0;
  z-index: $zindex-modal-background - 1;

  &.webui-popover-unlimited-width {
    max-width: none;
  }
  
  &.webui-popover-with-dropdown {
    @include webui-popover-dropdown();
  }

  &.webui-popover-over-modals, &.over-modals {
    z-index: $zindex-popover-over-modals;
  }

  .webui-popover-content {
    padding: $padding-base-vertical;
    overflow: initial;
    p + h1 {
      margin-top: $line-height-computed;
    }
    h1 {
      margin-top: 0;
      font-size: $font-size-base;
      @include font-bold();
      letter-spacing: $letter-spacing-base;
    }
    .btn-toolbar {
      margin-right: 0;
      float: none;
      text-align: right;
      .btn {
        float: none;
        margin-top: $padding-base-vertical;
        & + .btn {
          margin-left: $padding-base-vertical;
        }
      }
    }
  }

  // bootstrap xs size range is to large for width in percent unit
  @media (max-width: 400px) {
    max-width: 80%;
  }

  &.bottom,
  &.bottom-right, 
  &.bottom-left {
    transform: translateY($webui-popover-offset);
  }

  &.top,
  &.top-right, 
  &.top-left {
    transform: translateY(-$webui-popover-offset);
  }

  &.left,
  &.left-top, 
  &.left-bottom {
    transform: translateX(-$webui-popover-offset);
  }

  &.right,
  &.right-top, 
  &.right-bottom {
    transform: translateX($webui-popover-offset);
  }
}

// bringing back no-padding style
.webui-popover.webui-no-padding .webui-popover-content {
  padding: 0;
}
