.one-time-series-charts-section {
  background-color: $block-background-transparent-color;
  border: 1px solid $block-border-transparent-color;
  border-radius: $border-radius-base;
  padding: 1em;

  .section-header {
    display: flex;
    align-items: center;
    min-width: 0;

    .one-time-series-chart-toolbar {
      margin-left: auto;
    }
  }

  .section-title {
    @include font-semibold();
    margin: 0;
    text-transform: uppercase;
    font-size: 100%;
  }

  .section-title-tip {
    line-height: 0;
  }

  .section-title,
  .section-title-tip {
    margin-right: 0.4em;
  }

  .section-description {
    margin-bottom: 0;
  }

  > :first-child ~ * {
    margin-top: 1em;
  }

  .section-charts,
  .section-subsections {
    display: grid;
    place-items: stretch;
    gap: 1em;
    min-width: 0;
  }

  .section-charts {
    grid-template-columns: repeat(auto-fit, minmax(min(25em, 100%), 1fr));
    grid-auto-rows: 20em;
  }

  .section-subsections {
    grid-template-columns: 1fr;
  }

  .section-chart {
    background-color: $color-one-white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: $border-radius-base;
  }

  .no-charts-info {
    font-style: italic;
    margin: 0;
  }
}
