.one-collapsible-toolbar {
  &.minimized {
    .collapsible-toolbar-toggle {
      // FIXME: these styles are the same as in dots in toolbar
      .icon-dot {
        background-color: $main-text-color;
        height: 4px;
        width: 4px;
        margin-bottom: 4px;
        border-radius: 100%;
      }
    }
  }
  .collapsible-toolbar-buttons {
    white-space: nowrap;
  }
}

.btn-menu-toggle {
  border: 1px solid transparent;
  
  &:hover {
    background-color: $color-sidebar-item-bg;
    border: 1px solid $color-one-list-item-separator;
    border-radius: $border-radius-small;
  }
}

.one-collapsible-toolbar-popover {
  width: $mobile-menu-popover-width;
  .dropdown-menu {
    font-size: $font-size-base;
  }
}

// FIXME: experimental styles
.with-menu {
  .collapsible-toolbar-toggle {
    position: absolute;
    // FIXME: temporary hack
    transform: translateY(6px);
    right: 0;
    top: 0;
    width: 30px;
    padding: 8px;
    margin: 16px;
  }

  .icon-dot {
    margin-left: auto;
    margin-right: auto;
  }

}
