.one-inline-editor.one-size-edit {
  $-btn-modify-width: 144px;
  // space for validation message
  padding-bottom: 1.6em;
  width: 340px;
  .form-message {
    position: absolute;
    bottom: 0;
    width: 200%;
  }
  &.input-group-sm {
    $-sm-btn-modify-width: 94px;
    width: 250px;
    .btn-modify {
      width: $-sm-btn-modify-width;
    }
    .btn-confirm-choose {
      padding: 0;
      width: $-sm-btn-modify-width/2;
    }
  }
  &.static, &.editor, &.editor.saving {
    padding-right: 0;
  }
  .btn-modify {
    width: $-btn-modify-width;
  }
  .btn-confirm-choose {
    padding: 0;
    width: $-btn-modify-width/2;
  }
  .size-number-input {
    display: table-cell;
    max-width: 100%;
  }
  .btn .oneicon {
    left: 0;
  }
  .btn-save {
    &.in-flight {
      .spin-button-label {
        color: transparent;
      }
      .spin-button-spinner {
        left: 50%;
      }
    }
  }
}