.one-collapsible-list-item-content {
  overflow-y: hidden;
  opacity: 0;
  min-height: 0;
  max-height: 0;
  transition: $collapse-transition, min-height $collapse-transition-time linear;
  border-bottom: 0;
  background-color: $main-content-hover-background;
  &.opened {
    max-height: 2500px;
    opacity: 1;
    border-bottom: 1px solid $main-border-color;
  }
}
