@use 'sass:math';

$-tile-spacing: 40px;
$-tile-padding: 20px;
$-tile-content-padding: 4px;
$-tile-hover-background-color: lighten($color-one-semiwhite, 3%);
$-tile-separator-color: #dcdcdc;

@mixin one-tile-sizes($tile-size) {
  $-tile-size: $tile-size;
  $-tile-content-height: $-tile-size - ($-tile-padding * 2) - $font-size-base - ($-tile-content-padding * 2);
  $-tile-content-width: $-tile-size - ($-tile-padding * 2);
  $-tile-footer-height: math.div($-tile-size, 8.75);

  margin-top: $-tile-spacing;
  margin-right: $-tile-spacing * 0.5;
  margin-left: $-tile-spacing * 0.5;
  width: $-tile-size;
  height: $-tile-size;

  &.x2 {
    width: $-tile-size * 2 + $-tile-spacing;
  }

  &.x4 {
    width: $-tile-size * 4 + 3 * $-tile-spacing;
  }

  h1.tile-title, .more-link {
    font-size: $font-size-base;
    line-height: $font-size-base;
  }

  .more-link {
    right: $-tile-padding;
  }

  .tile-footer {
    height: $-tile-footer-height;
    line-height: $-tile-footer-height;
  }

  .large-text {
    font-size: $font-size-base * 3;
    max-width: $-tile-content-width;
    max-height: $-tile-content-width;
    line-height: $-tile-content-height;
  }
}

.one-tile {
  @include one-tile-sizes(280px);
}

.one-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // place for tile box-shadow
  margin-bottom: $padding-small-vertical;

  @media (min-width: $screen-sm-min) {
    margin-right: -$-tile-spacing * 0.5;
    margin-left: -$-tile-spacing * 0.5;
  }
}

.one-tile {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.31);

  .tile-main {
    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    padding: $-tile-padding;
  }

  &.one-tile-link {
    .tile-main {
      &:hover {
        background-color: $-tile-hover-background-color;
      }
    }

    &:hover {
      cursor: pointer;

      .more-link {
        @extend a, :hover;
      }
    }
  }

  &.one-tile-link .resource-load-error .promise-error-show-details {
    display: none;
  }

  h1.tile-title, .more-link {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    @include font-bold();
    text-align: left;
  }

  .more-link {
    display: inline-block;
    position: absolute;
    text-transform: none;
    text-align: right;
    font-weight: normal;
    line-height: inherit;
  }

  .tile-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    min-height: 0;
    padding-top: $font-size-base;
  }

  .tile-content-inner {
    position: relative;
    flex-basis: 100%;
    flex-grow: 1;
    min-height: 0;
  }

  .main-figure {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateY(14px);
    text-align: center;

    .main-image {
      max-width: 100%;
    }

    .one-label {
      display: block;
      padding-top: 20px;
      @include font-bold();
    }
  }

  .large-text {
    @include font-bold();
    text-align: center;
  }

  .tile-footer {
    border-top: 1px solid $-tile-separator-color;
    .footer-text-icon-container {
      margin-right: 6px;
    }
    &:hover {
      background-color: $-tile-hover-background-color;
    }
    .tile-footer-link {
      display: block;
      // override hover effects
      color: inherit !important;
      text-decoration: none !important;
    }
  }
  .not-allowed {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
  .figure-text-centered {
    @include absolute-align-middle-center;
    width: 100%;
  }
}
