.one-inline-editor {
  position: relative;
  &:hover {
    .one-label, .tags-input.readonly {
      border: 1px solid $main-border-color;
    }
  }
  &.static, &.editor.saving {
    padding-right: 30px;
  }
  &.static.without-view-icons {
    padding-right: 0;
  }
  &.editor.without-edit-icons {
    padding-right: 0;
  }
  &.editor {
    padding-right: 55px;
  }
  &.editor, &:hover {
    .action-icons {
      visibility: visible;
    }
  }
  .action-icons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 170%;
    .one-icon {
      position: relative;
      top: 2px;
    }
  }
  &:hover {
    .edit-icon {
      opacity: 1;
    }
  }
  .edit-icon {
    opacity: 0.5;
  }
  .form-control, .one-label {
    display: block;
  }
  .form-control {
    font-size: inherit;
    &.tags-input {
      display: flex;
    }
  }
  .one-label, .tags-input.readonly {
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    padding: $padding-base-vertical $padding-base-horizontal;
    &:hover {
      cursor: pointer;
    }
  }
  .tags-input {
    &.readonly {
      padding: $padding-base-vertical * 0.5 $padding-base-horizontal;
      .input-element {
        margin-bottom: 0;
      }
    }
    &.creation-disabled {
      &:hover {
        cursor: pointer !important;
      }
    }
  }
  .save-icon:hover, .edit-icon:hover {
    color: $color-one-mint;
  }
  .cancel-icon:hover {
    color: $color-one-red;
  }
  .empty-value {
    color: $main-text-color-disabled;
  }
  @media (max-width: $screen-xs-max) {
    &.static, &.editor.saving, &.editor.without-cancel {
      padding-right: 40px;
    }
    &.editor {
      padding-right: 75px;
    }
    .action-icons {
      font-size: 250%;
      visibility: visible;
    }
  }
  &.manual:not(.show-edit-icon) {
    .edit-icon {
      display: none;
    }
    &.static {
      padding-right: 0;
    }
  }
}

// TODO: style improvements in mobile mode
.content-row.header-row {
  .one-inline-editor {
    vertical-align: middle;
    margin-top: -7px;
    max-width: calc(100% - 35px);

    @media screen and (max-width: $screen-sm-max) {
      max-width: 100%
    }

    @media screen and (min-width: $screen-sm-min) {
      display: inline-block;
      .one-label {
        margin-right: 0;
        padding: 0 $padding-base-horizontal*0.5;
        margin-left: -$padding-base-horizontal*0.5;
      }
      .form-control {
        display: inline-block;
        padding: $padding-base-vertical*0.5 $padding-base-horizontal*0.5;
        margin-left: -$padding-base-horizontal*0.5;
        margin-top: -$padding-base-vertical;
        margin-bottom: -$padding-small-vertical;
      }
    }
    @media screen and (max-width: $screen-xs-max) {
      .one-label {
        line-height: $line-height-base;
        padding-left: $padding-base-horizontal*0.5;
        padding-right: $padding-base-horizontal*0.5;
        margin-left: -$padding-base-horizontal*0.5;
      }
      .form-control {
        padding: $padding-base-vertical*0.5 $padding-base-horizontal*0.5;
      }
    }
    .form-control {
      letter-spacing: inherit;
    }
  }
}

