// in condensed form, toggles look bad if they have to small height
.form-horizontal-condensed {
  .toggle-form-row {
    padding-top: $padding-base-vertical + 1;
    padding-bottom: $padding-base-vertical + 1;
    .one-label-tip {
      padding-top: $padding-base-vertical + 1; 
    }
  }  
}

.one-form-field-static {
  &.form-control-static.form-control-static-clipboard-line {
    padding-top: $padding-small-vertical + 2px;
    padding-bottom: $padding-small-vertical + 2px;
  }
}
