.one-collapsible-list-item {
  background-color: inherit;
  &.active {
    background-color: $main-content-hover-background;
    .one-collapsible-list-item-header.opened {
      background-color: $collapsible-list-item-header-opened;
      &:hover {
        background-color: $collapsible-list-item-header-opened-hover;
      }
    }
  }
  .form {
    .row:not(.nested-row) {
      padding: 0;
      margin: 0;
    }
  }
}

// NOTE: it will work only on static lists without filtering
// (when items are hidden by CSS)
.one-collapsible-list.hide-final-border {
  .one-collapsible-list-item:last-of-type {
    .list-header-row {
      border-bottom: none;
    }
  }
}

a.one-collapsible-list-item {
  color: inherit !important;
}

@include animation-bg-color-change(
  pulse-bg-opened-list-item-header,
  $collapsible-list-item-header-opened,
  lighten($color-one-mint, 30%)
);
