.one-button {
  .spinner-container {
    display: inline-block;
    top: 0.05em;
    height: 1em;
    width: 28px;
    margin-left: -$padding-base-horizontal * 1.25;
    margin-right: 0.5em;
  }

  &.btn-sm {
    .spinner-container {
      width: 19px;
      margin-left: -$padding-base-horizontal / 2;
    }
  }

  &.btn-lg {
    .spinner-container {
      width: 32px;
    }
  }
}
