$one-arrow-dot-size: 6px;
$one-arrow-height: 2 * $one-arrow-dot-size;
$one-arrow-line-height: 2px;
$one-arrow-arrowhead-height: (4 / 3) * $one-arrow-dot-size;

.one-arrow {
  position: relative;

  &.direction-left {
    .dot {
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }

    .arrowhead {
      left: $one-arrow-line-height;
      border-width: $one-arrow-line-height 0 0 $one-arrow-line-height;
    }
  }

  &.direction-right {
    .dot {
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    .arrowhead {
      right: -$one-arrow-line-height;
      border-width: 0 $one-arrow-line-height $one-arrow-line-height 0;
    }
  }

  &.direction-up {
    .dot {
      bottom: 0;
      transform: translateX(-50%) translateY(50%);
    }

    .arrowhead {
      top: $one-arrow-line-height;
      border-width: $one-arrow-line-height $one-arrow-line-height 0 0;
    }
  }

  &.direction-down {
    .dot {
      top: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    .arrowhead {
      bottom: -$one-arrow-line-height;
      border-width: 0 0 $one-arrow-line-height $one-arrow-line-height;
    }
  }

  &.direction-left, &.direction-right {
    height: $one-arrow-height;

    .dot {
      top: 50%;
    }

    .line {
      @include vertical-align-middle();
      height: $one-arrow-line-height;
      width: 100%;
    }

    .arrowhead {
      bottom: 50%;
      transform-origin: right bottom;
    }

    .arrow-text {
      transform: translateX(-50%) translateY(-50%) translateY(-1em);
    }
  }

  &.direction-up, &.direction-down {
    height: 100%;

    .dot {
      left: 50%;
    }

    .line {
      height: 100%;
      width: $one-arrow-line-height;
      margin: 0 auto;
    }

    .arrowhead {
      left: 50%;
      transform-origin: left bottom;
    }

    .arrow-text {
      transform: translateY(-50%) translateX(1em);
    }
  }

  .dot {
    position: absolute;
    width: $one-arrow-dot-size;
    height: $one-arrow-dot-size;
    border-radius: 100%;
  }

  .line, .dot {
    transition: transition-linear(background-color, 'short');
    background-color: $color-one-azure;
  }
  
  .arrowhead {
    position: absolute;
    width: $one-arrow-arrowhead-height;
    height: $one-arrow-arrowhead-height;
    border-color: $color-one-azure;
    border-style: solid;
    transform: rotate(-45deg);
    transition: transition-linear(border-color, 'short');
  }

  .arrow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.8em;
    @include font-bold();
    color: $color-one-azure;
    white-space: nowrap;
  }
}
