$sidebar-item-line-height-desktop: 50px;
$sidebar-item-line-height-mobile: 54px;
$sidebar-item-line-height-double-line: 54px;

.one-sidebar {
  .row-heading {
    position: relative;
    display: flex;
    height: 95px;
    align-items: center;
    border-bottom: 1px solid $color-one-list-item-separator;

    .col-title {
      flex-grow: 1;
      @include font-semibold();
      white-space: nowrap;
    }
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  .row-body {
    .search-bar-item {
      padding-top: $one-list-item-padding;
      .item-header {
        margin-bottom: $one-list-item-padding;
        border-bottom: 0;
      }
    }
  }
  .alert-promise-error {
    margin-left: 10px;
    margin-right: 10px;
    border-left-width: 1px;
    background-color: $color-one-white;
    &::before {
      display: none;
    }
  }

  &.loading-item {
    .one-list-item.active > .item-header {
      @extend .animated;
      @extend .infinite;
      @extend .slow;
      @extend .pulse-red-text-color;
    }
  }
}

.two-level-sidebar {
  $title-with-subtitle-pull-up: -4px;

  @mixin item-header-elements-color($color) {
    .sidebar-item-icon,
    .truncated-string,
    .status-toolbar,
    .one-label {
      color: $color;
    }
  }

  font-size: 13px;
  @include font-semibold();
  padding-bottom: 20px;

  .one-list-item {
    line-height: $sidebar-item-line-height-desktop;
    @media (max-width: $screen-xs-max) {
      line-height: $sidebar-item-line-height-mobile;
    }
  }
  .one-list.one-list-level-2 .one-list-item {
    line-height: $sidebar-item-line-height-desktop - 4px;
    @media (max-width: $screen-xs-max) {
      line-height: $sidebar-item-line-height-mobile - 2px;
    }
  }

  .sidebar-filters-container {
    padding: $padding-large-vertical $padding-large-horizontal;
    border-bottom: 1px solid $color-one-list-item-separator;
  }

  .toggle-more-filters {
    margin-top: $padding-small-vertical;
    display: block;
    text-align: right;
    font-size: 0.8em;

    .arrow-icon {
      vertical-align: middle;
    }
  }

  .search-bar-form-group {
    margin: 0;
  }

  input {
    @include font-regular();
  }

  a:not(.btn) {
    color: $main-text-color;
  }

  .item-header {
    display: flex;
    align-items: center;
    @include item-header-elements-color($main-text-color);

    &:hover {
      background-color: $color-sidebar-item-active-bg;
    }

    .status-toolbar {
      flex-shrink: 0;
      margin-left: $padding-xs-horizontal;
      padding: 0px 7px;
      font-size: 13pt;

      .one-icon, .outer-text {
        top: -0.1em;
        vertical-align: middle;
      }
    }
  }

  .item-header-inner-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
  }

  .sidebar-item-icon {
    margin-right: $padding-small-horizontal * 0.9;
    font-size: $menu-icon-font-size;
    // Font size of this icon is much larger than used for text. We need to minimize
    // excessive icon height.
    line-height: 0;
  }

  .one-icon-tagged {
    &.item-pending {
      .one-icon-tagged-main {
        animation-name: pulse-inherit-disabled;
      }
    }
    &.item-error {
      .one-icon-tag-icon {
        color: $brand-danger;
      }

      .one-icon-tagged-main {
        color: $main-text-color-disabled;
      }
    }
  }

  .one-icon-tagged-main {
    // (Safari only) vertical align fix
    vertical-align: middle;
  }

  .sidebar-item-title {
    flex-grow: 1;
    min-width: 0;
  }

  .sidebar-item-title-upper,
  .sidebar-item-title-lower {
    position: relative;
    line-height: $sidebar-item-line-height-double-line / 2;
  }

  .sidebar-item-title-upper {
    bottom: $title-with-subtitle-pull-up;
  }

  .sidebar-item-title-lower {
    top: $title-with-subtitle-pull-up;
    opacity: 0.5;
    color: $main-text-color;
    @include font-regular();
  }

  > .one-list {
    border-bottom: 1px solid $color-one-list-item-separator;

    > .one-list-item:first-child::after {
      display: none;
    }
  }

  .one-list-item {
    &.active {
      background-color: $color-sidebar-item-bg;

      > .item-header {
        @include item-header-elements-color($color-one-red);

        .sidebar-item-title-lower {
          color: $main-text-color;
        }
      }

      &.disabled > .item-header {
        @include item-header-elements-color(inactive-color($color-one-red));

        .sidebar-item-title-lower {
          color: disabled-color($main-text-color);
        }
      }

      .sidebar-item-title-lower {
        opacity: 1;
      }

      .one-icon-tagged {
        &.item-error {
          .one-icon-tagged-main {
            color: inactive-color($brand-danger);
          }
        }
      }
    }

    &.disabled > .item-header {
      @include item-header-elements-color(disabled-color($main-text-color));
    }
  }

  .one-collapsible-toolbar {
    margin-right: -$padding-small-horizontal;
    margin-left: $padding-xs-horizontal;
  }

  .collapsible-toolbar-toggle {
    padding: $padding-base-vertical $padding-small-horizontal;
  }

  .one-inline-editor.static .truncated-string {
    padding: 0;
    border: 0;
  }

  .one-inline-editor.editor {
    height: $sidebar-item-line-height-desktop - 2 * $padding-base-vertical;
    margin: $padding-base-vertical 0;

    @media (max-width: $screen-xs-max) {
      height: $sidebar-item-line-height-mobile - 2 * $padding-base-vertical;
    }

    .one-icon {
      margin-right: 0;
    }

    .one-label {
      padding: 0;
      border: 0;
    }

    input {
      height: 100%;
    }

    &:hover {
      .one-label {
        border: 0;
      }
    }

    .action-icons {
      color: $main-text-color;
    }
  }

  .warning-icon {
    margin-left: $padding-xs-horizontal;
    width: 22px;
    height: 22px;
  }

  .forbidden-icon {
    margin-left: $padding-xs-horizontal;
    margin-right: -0.2em;
    font-size: $menu-icon-font-size;
    color: disabled-color($main-text-color);
  }

  .one-list.one-list-level-2 .one-list-item {
    @include font-regular;
    .item-header {
      padding-left: 42px;
      @media (max-width: $screen-sm-max) {
        padding-left: 32px;
      }
    }
    .sidebar-item-icon {
      font-size: 2em;
      margin-right: $padding-small-horizontal * 0.8;
    }
  }
}
