$-tile-spacing: 40px;
$-tile-padding: 20px;
$-tile-content-padding: 4px;

@mixin one-tile-sizes($tile-size) {
  $-tile-size: $tile-size;
  $-tile-content-height: $-tile-size - ($-tile-padding * 2) - $font-size-base - ($-tile-content-padding * 2);
  $-tile-content-width: $-tile-size - ($-tile-padding * 2);
  
  padding: $-tile-padding;
  margin-top: $-tile-spacing;
  margin-right: $-tile-spacing;
  width: $-tile-size;
  height: $-tile-size;
  
  &.x2 {
    width: $-tile-size * 2;
  }

  &.x4 {
    width: $-tile-size * 4;
  }
  
  h1.tile-title, .more-link {
    font-size: $font-size-base;
    line-height: $font-size-base;
  }
  
  .more-link {
    right: $-tile-padding;
  }
  
  .tile-content {
    padding-top: $font-size-base;
    height: $-tile-content-height;
  }
  
  .large-text {
    font-size: $font-size-base * 3;
    max-width: $-tile-content-width;
    max-height: $-tile-content-width;
    line-height: $-tile-content-height;
  }
}

@media (max-width: $screen-md-max) {
  .one-tile {
    @include one-tile-sizes(300px);
  }
}

@media (min-width: $screen-lg-min) {
  .one-tile {
    @include one-tile-sizes(600px);
  }
}

@media (max-width: $screen-xs-max) {
  .one-tile-container {
    padding-left: $-tile-spacing;
    padding-right: $-tile-spacing;
  }
}

.one-tile {  
  display: inline-block;
  vertical-align: top;
  position: relative;

  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.31);

  &.one-tile-link:hover {
    background-color: $color-one-semiwhite;
    cursor: pointer;
    
    .more-link {
      @extend a:hover;
    }
  }
  
  &:last-of-type {
    margin-right: 0px;
  }
  
  h1.tile-title, .more-link {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
  }

  .more-link {
    display: inline-block;
    position: absolute;
    width: 70px;
    text-transform: none;
    text-align: right;
    font-weight: normal;
    line-height: inherit;
  }

  .tile-content {    
    .tile-content-inner {
      position: relative;
      height: 100%;
    }
  }

  .large-text {
    font-weight: bold;
    text-align: center;
  }
}
