.one-collapsible-toolbar {
  &.minimized {
    .collapsible-toolbar-toggle {
      .icon-dot {
        background-color: $main-text-color;
        height: 4px;
        width: 4px;
        margin-bottom: 4px;
        border-radius: 100%;
      }
    }
  }
  .collapsible-toolbar-buttons {
    white-space: nowrap;
  }
}

.btn-menu-toggle {
  border: 1px solid transparent;
  
  &:hover {
    background-color: $color-sidebar-item-bg;
    border: 1px solid $color-one-list-item-separator;
    border-radius: $border-radius-small;
  }
}

.one-collapsible-toolbar-popover {
  width: $mobile-menu-popover-width;
}

.with-menu {
  position: relative;
  .collapsible-toolbar-toggle {
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    width: 30px;
    padding: 8px;
    cursor: pointer;
  }

  @media (min-width: $screen-md-min) {
    .collapsible-toolbar-toggle {
      margin-top: $padding-xs-vertical;
    }
  }

  @media (max-width: $screen-sm-max) {
    .collapsible-toolbar-toggle {
      display: none;
    }
  }

  .icon-dot {
    margin-left: auto;
    margin-right: auto;
  }

}
