.one-sidebar-toolbar-button {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 13px;

  &:hover {
    color: $color-one-red;

    .button-label {
      border-color: $color-one-red;
    }
  }

  &.disabled {
    color: $main-text-color-disabled;

    .button-label {
      border-color: $main-text-color-disabled;
    }
    
    &:hover {
      color: $main-text-color-disabled;

      .button-label {
        border-color: $main-text-color-disabled;
      }
    }
  }

  + .one-sidebar-toolbar-button {
    margin-left: $padding-xs-horizontal * 1.5;
  }

  .one-icon {
    font-size: 40px;
    width: 32px;
    margin-left: -6px;
  }

  .button-label {
    padding-top: $padding-xs-vertical;
    padding-bottom: $padding-xs-vertical;
    padding-left: $padding-small-horizontal;
    padding-right: 18px;
    margin-right: -12px;
    border: 2px solid $main-text-color;
    border-right: 0;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    text-transform: uppercase;
    @include font-semibold();
  }
}
