.one-list-item {
  position: relative;
  line-height: $one-list-item-line-height;

  &::after {
    @include top-line(1px solid $color-one-list-item-separator)
  }

  &.active {
    &::before {
      @include left-line($one-list-item-active-left-border-width solid $color-one-main);
      display: block;
    }

    > .item-header {
      color: $color-one-main;
    }
  }

  .item-header {
    display: block;
    padding-left: $one-list-item-padding;
    padding-right: $one-list-item-padding;
  }
}
