$one-pill-button-line-height: 24px;
$one-pill-button-border-width: 2px;
$one-pill-button-height: $one-pill-button-line-height + 2 * $one-pill-button-border-width;

.one-pill-button {  
  display: inline-block;
  overflow: hidden;
  transition: $collapse-transition-vertical;

  .one-pill-button-inner {
    @include vendor-prefix(user-select, none);
    display: flex;
    align-items: center;
    border-radius: $border-radius-large;
    height: $one-pill-button-height;
  }

  .button-text {
    padding: 0 $padding-small-horizontal;
    text-align: center;
    white-space: nowrap;
  }

  .one-pill-button-actions-trigger {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: $one-pill-button-border-width;
    border-bottom-right-radius: $one-pill-button-border-width;
    cursor: pointer;

    // Arrow icon
    .one-icon {
      font-size: 20px;
      font-weight: bold;
      // Arrow with bold is moved to the top (due to the thicker line). We need to
      // center it back.
      margin-top: 1px;
    }

    // Dot for dots menu
    .icon-dot {
      height: 3px;
      width: 3px;
      margin-bottom: 2px;
      border-radius: 100%;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.mobile-mode {
    padding: 20px;

    .one-pill-button-inner {
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
      background: $color-one-white;
    }
  }

  &.default {
    .one-pill-button-inner {
      border: $one-pill-button-border-width $btn-info-bg solid;
    }

    .one-pill-button-actions-trigger {
      @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);

      .icon-dot {
        background-color: $color-one-white;
      }
    }
  }

  &.light {
    .one-pill-button-inner {
      border: 1px solid $color-one-gray-sand;
      background-color: $color-one-white;
    }

    .button-text {
      padding: 0 $padding-xs-horizontal;
    }

    .one-pill-button-actions-trigger {
      width: 32px;
      border-left: 1px solid $color-one-gray-sand;

      &:hover,
      &:active,
      &:focus {
        background-color: $main-content-hover-background;
      }

      .icon-dot {
        background-color: $main-text-color;
      }
    }
  }
}
