.one-time-series-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .one-time-series-chart-toolbar {
    text-align: right;
  }

  .one-time-series-chart-plot {
    flex-grow: 1;
  }
}

@import './one-time-series-chart/toolbar';
@import './one-time-series-chart/plot';
