$color-oneprovider-online: $color-one-mint;
$color-provider-offline: $color-one-red;
$color-provider-mixed: $color-one-yellow;

.oneprovider-map-circle {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  background-color: white;
  cursor: pointer;

  &.online {
    border-color: $color-provider-online;
    color: $color-provider-online;
    &.selected {
      background-color: $color-provider-online;
    }
  }

  &.offline {
    border-color: $color-provider-offline;
    color: $color-provider-offline;
    &.selected {
      background-color: $color-provider-offline;
    }
  }

  &.mixed {
    border-color: $color-provider-mixed;
    color: $color-provider-mixed;
    &.selected {
      background-color: $color-provider-mixed;
    }
  }

  &.selected {
    box-shadow: 0px 0px 15px 4px;
    .one-icon {
      // Override color in .one-icon, to preserve original color in
      // .oneprovider-map-circle, because the latter is a fallback color for
      // not defined box-shadow color.
      color: $color-one-white;
    }
  }

  .one-icon {
    &::before {
      @include absolute-align-middle-center();
    }
  }
}
