.privileges-tree-editor {
  .form-group {
    text-align: right;
  }
  @media (max-width: $screen-xs-max) {
    .one-dynamic-tree label {
      max-width: calc(100% - 60px);
    }
  }
  @media (min-width: $screen-sm-min) {
    .form-group {
      padding-right: $padding-small-horizontal;
    }
  }
  .one-dynamic-tree .one-tree .one-tree-list > li {
    &.has-checkbox-group.subtree-expanded > .tree-item-content-container {
      margin-right: initial;
    }

    .one-tree-item-content .form-group {
      min-width: 4em;
      width: 4em;
    }
  }
}
