.providers-list {
  border: 1px solid $main-border-color;
  border-radius: $border-radius-base;
  background-color: $main-content-light-background;
  @media (max-width: $screen-xs-max) {
    margin: 0 $mobile-horizontal-content-padding;
  }
  @media (min-width: $screen-sm-min) {
    .one-collapsible-list-header {
      padding-top: $padding-large-vertical * 1.75;
      padding-bottom: $padding-large-vertical * 1.75;
    }
  }
  .one-collapsible-list {
    margin: 0;
    .one-collapsible-list-header {
      padding-left: $padding-large-horizontal;
      border-width: 0;
    }
    .one-collapsible-list-item {
      padding: 0 $padding-large-horizontal;
      border-top: 1px solid $main-border-color;
      // styles for not-first visible items
      &:not(.collapse-hidden) ~ :not(.collapse-hidden) {
        border-top: 0;
        .one-collapsible-list-item-header {
          border-top: 1px solid $main-border-color;
        }
      }
      &.collapse-hidden {
        border-top-width: 0;
      }
      .one-collapsible-list-item-header {
        padding-left: 2.8em;
        padding-right: 100px;
        border-bottom-width: 0;
        .item-icon-container {
          position: absolute;
          left: 0;
        }
        .status-toolbar {
          right: 48px;
          &.push-right {
            right: 0;
          }
        }
        .btn-menu-toggle {
          right: 0;
        }
      }
    }
  }
}
