.record-info-with-icon {
  .flippable-icons-with-text {
    display: flex;
  }
  .record-info-trigger.popover-info-trigger {
    margin-left: -1px;
    height: 0.6em;
  }
  .record-name-general {
    padding-left: 0.6em;
  }
}
