$inline-alert-left-border-width: 60px;

.alert-promise-error {
  // Padding for "close" button
  padding-right: 2em;
  background-color: $color-one-white;
  border-style: solid;
  border-width: 1px;
  border-left-width: $inline-alert-left-border-width;
  text-align: left;
  &:before {
    position: absolute;
    left: -$inline-alert-left-border-width / 2;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'oneicons';
    font-size: 2.5em;
    font-weight: bold;
    color: $color-one-white;
  }
  &.alert-warning {
    border-color: $color-one-warning;
    &::before {
      font-weight: normal;
      @include oneicon-content($oneicon-no-view);
    }
  }
  &.alert-danger {
    border-color: $color-one-danger;
  }
  &.alert-danger:before {
    @include oneicon-content($oneicon-checkbox-x);
  }
  .main-message {
    color: $main-text-color;
  }
  .error-close {
    position: absolute;
    right: $alert-padding;
    top: $alert-padding;
    transform: translateY(33%);
    .one-icon {
      font-weight: bold;
    }
    &:hover {
      color: darken($color-one-danger, 10%);
    }
  }
  .promise-error-show-details {
    cursor: pointer;
  }
  .error-details {
    max-height: 0;
    margin-top: 0;
    transition: $collapse-transition, transition-linear(margin-top);
    opacity: 0;
    color: $main-text-color;
    &.active {
      opacity: 1; 
      max-height: 20em;
      margin-top: 10px;
      overflow: auto;
    }
    .error-json {
      max-height: 15em;
      overflow: auto;
      word-wrap: break-word;
    }
  }

  @media (max-width: $screen-xs-max) {
    border-right-width: 0;
  }
}
