.space-providers-support-chart {
  .ct-centered-text {
    font-weight: bold;
    fill: $main-text-color;
  }
  .label-hidden {
    opacity: 0;
  }
  .ct-pie-label-line {
    stroke: $main-text-color;
  }
  .ct-pie-label-text {
    font-size: 8pt;
    fill: $main-text-color;
    &.ct-pie-label-text-bottom {
      font-weight: bold;
    }
  }
}
