.support-size-table {
  table {
    table-layout: fixed;
    .table-header {
      .oneicon {
        position: relative;
        top: 0.15em;
        font-weight: bold;
      }
    }
    .support-name-column {
      width: 50%;
    }
  }
}
