$tags-input-font-scale: 0.9;
$tags-input-tag-line-height: $line-height-computed * $tags-input-font-scale;
$tags-input-tag-vertical-padding: 4px;
$tags-input-tag-height: $tags-input-tag-line-height + 2 * $tags-input-tag-vertical-padding + 2px;
$tags-input-input-padding-top: ($input-height-base - $tags-input-tag-height - 2px) * 0.5;
$tags-input-tag-border-size: 1px;
$tags-input-tag-border: $tags-input-tag-border-size solid $color-token-border;
$tags-input-input-padding-bottom: $tags-input-input-padding-top - $padding-xs-horizontal;

@mixin tag-type($type, $color) {
  .tags-#{$type} .tags-input .tag-item,
  .tags-input.tags-#{$type} .tag-item,
  .tag-item.tag-item-#{$type} {
    border-color: #d9d9d9;
    @include tag-bg-color($color);
  }
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  height: initial;
  min-height: $input-height-base;
  margin: 0;
  list-style-type: none;
  padding-top: $tags-input-input-padding-top;
  padding-bottom: $tags-input-input-padding-bottom;
  padding-right: $padding-base-horizontal - $padding-xs-horizontal;
  font-size: $tags-input-font-scale * 1em;

  &.has-clear-button {
    position: relative;
    padding-right: 45px;
  }

  &.creation-disabled {
    cursor: initial !important;
  }

  &.readonly {
    padding: 0;
    min-height: initial;
    outline: none;
  }

  &.middle-centered {
    align-items: center;
  }

  .input-element {
    margin-right: $padding-xs-horizontal;
    margin-bottom: $padding-xs-horizontal;
  }

  .tag-item {
    display: flex;
    align-items: center;
    padding: $tags-input-tag-vertical-padding $padding-small-vertical;
    border: $tags-input-tag-border;
    border-radius: $border-radius-base;
    background-color: $color-one-light-blue;
    min-width: 0;

    &.tag-item-plaintext {
      border: none;
      background-color: transparent;
      padding-top: $tags-input-tag-vertical-padding + $tags-input-tag-border-size;
      padding-bottom: $tags-input-tag-vertical-padding + $tags-input-tag-border-size;
      + .tag-item-plaintext {
        margin-left: -$padding-xs-horizontal * 0.5;
      }
    }
  }

  .tags-input-placeholder {
    @extend .tag-item;
    @extend .tag-item-plaintext;
    color: $input-color-placeholder;
    font-size: $font-size-base;
    padding-left: 0;
    // fix positioning because of tags-input form-control paddings
    margin-bottom: 0;
    margin-top: -$padding-xs-horizontal;
  }

  .tag-icon {
    margin-right: 3px;
    font-size: 1.5em;
    line-height: 0;
  }

  .tag-label {
    align-self: baseline;
    max-width: 200px;
  }

  .tag-remove {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-left: 3px;
    font-weight: bold;
    font-size: 85%;
    color: $color-one-blue-gray;

    &:hover {
      color: $color-one-danger;
    }
  }

  .tag-creator-trigger {
    align-self: center;
    color: $color-one-white;
    background-color: $color-one-blue-gray;
    border-radius: 2px;
    line-height: 0.8;
    padding: $padding-xs-vertical;
    font-size: 90%;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-one-blue-gray, 10%);
    }

    &.disabled {
      background-color: $color-one-light-gray;
      cursor: initial !important;

      &:hover {
        background-color: $color-one-light-gray;
      }
    }
  }

  .input-clear-trigger {
    position: absolute;
    top: $input-height-base * 0.5;
    right: $padding-base-horizontal - $padding-xs-horizontal;
    transform: translateY(-50%);
    margin: 0;
    font-size: 200%;
  }

  .tag-creator {
    display: flex;
  }

  .tags-input-text-editor {
    .text-editor-input {
      padding: $tags-input-tag-vertical-padding;
      border: 0;
      border-bottom: 1px solid $main-border-color;
      outline: 0;
      width: 150px;
    }

    &.has-error .text-editor-input {
      border-bottom: 1px solid $color-one-danger;
    }
  }

  .tags-input-selector-editor,
  .tags-input-model-selector-editor,
  .tags-input-time-series-metric-selector-editor {
    align-self: center;
  }

  .tags-input-selector-editor {
    width: 150px;
  }

  .tags-input-model-selector-editor {
    width: 250px;
  }

  .tags-input-time-series-metric-selector-editor {
    width: 250px;
  }

  .tags-input-external-editor {
    margin: 0;
  }

  .more-tag {
    text-decoration: underline;
  }
}

.form-group-sm .tags-input {
  height: initial;
  min-height: $input-height-small;
  padding-bottom: 0;
  line-height: 1.2;

  .input-element {
    margin-bottom: $padding-small-vertical;
  }

  .tag-item {
    padding: 3px;
  }
}

@include tag-type(success, $brand-success);
@include tag-type(info, $brand-info);
@include tag-type(warning, $brand-warning);
@include tag-type(danger, $brand-danger);

.one-webui-popover.tags-selector {
  background-color: $color-one-light-blue;
  width: 150px;
  height: 150px;
  padding: $padding-small-vertical;
  font-size: $tags-input-font-scale * 1em;
  overflow: hidden;

  .selector-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .selector-item {
    display: flex;
    padding: $padding-small-vertical;
    height: 25px;
    border-radius: $border-radius-base;
    cursor: pointer;

    &:hover {
      background-color: darken($color-one-light-blue, 5%);
    }

    &.disabled {
      color: $main-text-color-disabled;
      cursor: not-allowed;

      &:hover {
        background-color: initial;
      }
    }

    & ~ .selector-item {
      margin-top: $padding-xs-vertical;
    }
  }

  .tag-icon {
    margin-right: 3px;
    font-size: 1.5em;
  }

  .tag-label {
    align-self: baseline;
  }

  .ps {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

.one-webui-popover.model-selector {
  width: 250px;
  height: 250px;

  .ember-basic-dropdown,
  .btn-group,
  .records-filter,
  .id-form-group {
    margin-bottom: $padding-small-vertical;
  }

  .all-item {
    font-style: italic;

    .tag-label {
      // Italic text (due to its horizontal extra size) is hidden by overflow mechanism.
      // Adding extra padding to let italic render properly
      padding-right: 2px;
    }
  }

  .add-id {
    align-self: flex-end;
  }

  .all-records-added-description {
    text-align: center;
  }
}

.one-webui-popover.time-series-metric-selector {
  width: 250px;
  height: 275px;

  .ember-basic-dropdown,
  .btn-group {
    margin-bottom: $padding-small-vertical;
  }

  .field-renderer:not(.form-fields-group-renderer) {
    display: grid;
    grid-template-columns: 7.5em auto;

    .field-message {
      grid-column: 1 / 3;
    }
  }

  .control-label {
    width: initial;
    min-width: initial;
  }
}

.webui-popover-tags-selector {
  border: $tags-input-tag-border;
  border-radius: $border-radius-base;
  overflow: hidden;

  &.top-right, &.top-left, &.top {
    transform: translateY(10px + $tags-input-tag-vertical-padding);
  }

  &.bottom-right, &.bottom-left, &.bottom {
    transform: translateY(-10px - $tags-input-tag-vertical-padding);
  }

  .selector-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-separator {
    width: 100%;
    margin-top: 0;
    border-top: 1px solid $main-border-color;
    margin-bottom: $padding-small-vertical;
  }
}

// Add this class to one-tooltip when using `.tags-input` inside.
// Note, that tags style inside tooltips are more compact and currently do not support
// color-styles like danger.
.tooltip-with-tags {
  $margin-base: 0.4em;
  $item-spacing: $margin-base * 0.75;
  .tooltip-inner {
    // flexible panel width on desktop
    @media (max-width: 1250px) {
      max-width: calc(100vw - 200px);
    }
    @media (max-width: $screen-xs-max) {
      max-width: calc(100vw - 60px);
    }
    max-width: 1075px;
    padding: $item-spacing * 2;
  }
  .tags-input {
    display: flex;
    padding: 0;
    min-height: auto;
    margin-top: -$item-spacing;
    margin-bottom: -$item-spacing;
    justify-content: center;
    .tag-item {
      display: inline-block;
      margin-right: $item-spacing;
      margin-top: $item-spacing * 0.5;
      margin-bottom: $item-spacing * 0.5;
      padding: $margin-base * 0.5 $margin-base;
      border-radius: $border-radius-base;
      border: $tags-input-tag-border-size solid #ffffff33;
      background: #ffffff22;
      white-space: nowrap;
      max-width: 480px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:last-of-type {
        margin-right: 0;
      }
      &.tag-item-plaintext {
        border: none;
        background-color: transparent;
        padding-top: $tags-input-tag-vertical-padding + $tags-input-tag-border-size;
        padding-bottom: $tags-input-tag-vertical-padding + $tags-input-tag-border-size;
        + .tag-item-plaintext {
          margin-left: -$padding-xs-horizontal * 0.5;
        }
      }
      .tag-label {
        display: inline;
      }
      .tag-icon {
        &::before {
          vertical-align: -0.25em;
        }
      }
    }
  }
}
