.user-info-with-icon {
  .flippable-icons {
    .inline-icon-container {
      width: 18px;
      height: 18px;
  
      .flippable-front, .flippable-back {
        transform: translate(-4px, 0px);
      }
  
      .flippable-back {
        transform: rotateY(180deg) translate(4px, 0px);
      }
    }
  }
  
}
