.user-info-with-icon {
  $transition-time: 0.5s;
  // a hack to set a stacking context to fix issues in Safari/WebKit
  perspective: 1px;
  background-color: transparent;
  .inline-icon-container {
    margin-left: -4px;
    width: 25px;
    transition: transform $transition-time;
    transform-style: preserve-3d;
    &.not-animation {
      transform: rotateY(180deg);
      vertical-align: top;
      .oneicon-browser-info.one-icon {
        opacity: 1;
      }
    }
    &.animation {
      vertical-align: top;
    }
  }
  .inline-icon-container.user-info-icon-container-hovered {
    &.animation {
      transform: rotateY(180deg);
      .oneicon-browser-info.one-icon {
        opacity: 1;
      }
    }
  }

  .oneicon-browser-info.one-icon {
    transform: rotateY(180deg) translateY(-50%) translateY(1px);
    color: inherit;
    opacity: 0;
    transition: opacity $transition-time;
  }
  .oneicon-user.one-icon {
    // for Safari <= 15.3
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .user-info-trigger {
    height: 18px;
    vertical-align: middle;
  }
}
