<span class="store-name">{{store.name}}</span>
{{#if (eq mode "edit")}}
  {{one-icon
    icon="close"
    class=(concat-classes "tag-remove clickable" removeAction.className)
    click=removeAction.executeCallback
  }}
{{/if}}
{{yield}}
