<span class="store-name">{{store.name}}</span>
{{#if (eq mode "edit")}}
  <span
    class={{concat-classes "clickable" removeAction.className}}
    {{action removeAction.executeCallback}}
  ></span>
{{/if}}
{{yield}}
