{{#perfect-scrollbar-element class="form-column"}}
  {{atm-workflow/charts-dashboard-editor/chart-editor/axis-editor-form
    axis=chartElement
    actionsFactory=actionsFactory
  }}
{{/perfect-scrollbar-element}}
<div class="details-column"></div>
