{{#if (not editorContext.isReadOnly)}}
  <div class="list-header">
    {{#one-button
      class="add-series-group-btn"
      type="primary"
      size="sm"
      onClick=(action "addSeriesGroup")
    }}
      {{one-icon icon="plus"}}
      <span class="text">{{tt this "addSeriesGroup"}}</span>
    {{/one-button}}
  </div>
{{/if}}
{{atm-workflow/charts-dashboard-editor/chart-editor/elements-list
  itemModels=itemModels
  allowDragDrop=true
  allowNesting=true
  editorContext=editorContext
}}
