{{#perfect-scrollbar-element class="form-column"}}
  {{atm-workflow/charts-dashboard-editor/chart-editor/series-editor-form
    series=chartElement
    chart=chart
    actionsFactory=actionsFactory
    isReadOnly=isReadOnly
  }}
{{/perfect-scrollbar-element}}
<div class="details-column">
  {{atm-workflow/charts-dashboard-editor/function-editor
    outputFunction=chartElement.dataProvider
    detachedFunctions=chartElement.detachedFunctions
    executionContext=functionExecutionContext
    actionsFactory=actionsFactory
    isReadOnly=isReadOnly
  }}
</div>
