{{#perfect-scrollbar-element class="form-column"}}
  {{atm-workflow/charts-dashboard-editor/chart-editor/series-editor-form
    series=chartElement
    chart=chart
    actionsFactory=actionsFactory
  }}
{{/perfect-scrollbar-element}}
<div class="details-column"></div>
