<div class="form-column">
  {{atm-workflow/charts-dashboard-editor/chart-editor/series-group-editor-form
    seriesGroup=chartElement
    actionsFactory=actionsFactory
    onChange=onChange
  }}
</div>
<div class="details-column"></div>
