.one-time-series-chart-plot {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;

  .canvas-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 0;
  }

  .no-data-message {
    @include font-bold();
    text-align: center;
  }

  .no-data-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($root-url + "images/chart-placeholder.svg");
    background-size: cover;
    opacity: 0.1;
  }

  .title-area {
    @include font-semibold();
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;

    .one-label-tip {
      line-height: 0;
    }
  }
}
