.one-time-series-chart-plot {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;

  .canvas-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 0;
  }

  .no-data-message {
    @include font-bold();
    text-align: center;
  }

  .no-data-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($root-url + "images/chart-placeholder.svg");
    background-size: cover;
    opacity: 0.1;
  }

  .title-area {
    @include font-semibold();
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;

    .one-label-tip {
      line-height: 0;
    }
  }

  .chart-tooltip {
    overflow: auto !important;
    user-select: auto;

    .tooltip-click-info {
      @include font-regular();
      position: sticky;
      bottom: 0;
      padding: var(--one-echart-tooltip-spacing) 0;
      transform: translateY(var(--one-echart-tooltip-spacing));
      border-top: 1px solid $hr-border;
      background-color: $color-one-white;
      text-align: center;
    }
  }

  &.echarts-tooltip-fixed {
    .chart-tooltip .tooltip-click-info {
      // Using `visibility: hidden` to still take horizontal space after being
      // hidden and prevent tooltip width from jumping.
      visibility: hidden;
      pointer-events: none;
      height: 0;
      overflow: hidden;
      border-width: 0;
      padding: 0;
    }
  }
}
