.data-spec-params-editor {
  .allowedValues-field {
    flex-wrap: wrap;

    .control-label {
      flex-basis: 100%;
      text-align: left;
      margin-bottom: 0.4em;
    }

    .btn-tooltip-container {
      font-size: inherit;
    }

    .full-value-editor {
      font-size: $font-size-base;
    }
  }
}

.data-spec-params-editor-with-attributes {
  .form-group {
    .control-label {
      padding-top: 0;
      margin-bottom: 5px;
      text-align: left;
    }
  }

  &.field-edit-mode .control-label {
    flex-basis: 100%;
  }

  &.field-view-mode .control-label {
    min-width: initial;
    width: initial;
  }
}

@import './params-editors/number';
@import './params-editors/string';
@import './params-editors/time-series-measurement';
