.value-constraints-editor {
  .allowedValues-field {
    flex-wrap: wrap;

    .control-label {
      flex-basis: 100%;
      text-align: left;
      margin-bottom: 0.4em;
    }

    .btn-tooltip-container {
      font-size: inherit;
    }

    .full-value-editor {
      font-size: $font-size-base;
    }
  }
}

@import './value-constraints-editors/file';
@import './value-constraints-editors/number';
@import './value-constraints-editors/time-series-measurement';
