{{yield (hash section="start")}}
<td class="column-value">
  {{#truncated-string}}
    {{atm-workflow/value-presenters/fallback/single-line-presenter
      value=value
    }}
  {{/truncated-string}}
</td>
{{yield (hash section="end")}}
