{{#promise-proxy-container proxy=timeSeriesGeneratorsStateProxy}}
  {{#each chartSpecs as |chartSpec|}}
    {{modals/workflow-visualiser/store-modal/time-series-presenter/chart
      chartSpec=chartSpec
      timeSeriesQueryBatcher=timeSeriesQueryBatcher
      timeSeriesGeneratorsState=timeSeriesGeneratorsState
    }}
  {{else}}
    <p class="text-center">{{tt this "noChartsDefined"}}</p>
  {{/each}}
{{/promise-proxy-container}}

{{yield}}
