{{#each operatorsSpec as |operator|}}
  <li>
    {{#bs-button
      class=(concat "btn-outline-default operator operator-" operator.name)
      disabled=(or selectionDone operator.disabled)
      type="default"
      size="sm"
      onClick=(action "onOperatorSelected" operator.name)
    }}
      {{tt this (concat "operators." operator.name)}}
    {{/bs-button}}
  </li>
{{/each}}
