<div class="row">
  {{#if upperTitle}}
    <div class="login-upper-title">{{upperTitle}}</div>
  {{/if}}
  <div class="col-user-profile-icon">
    <div class="login-logo"></div>
    <div class="login-titles">
      <div class="login-main-title {{loginMainTitleClass}}">
        {{#truncated-string}}{{brandTitle}}{{/truncated-string}}
      </div>
      <div class="login-main-subtitle">
        {{#truncated-string}}{{brandSubtitle}}{{/truncated-string}}
      </div>
    </div>
  </div>
</div>
