.workflow-visualiser .workflow-visualiser-interblock-space {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.between-parallel-blocks-space {
    height: $workflow-visualiser-between-parallel-block-space-size;

    .arrow {
      position: relative;
      flex-grow: 1;

      .line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: $workflow-visualiser-arrow-width;
        background-color: $workflow-visualiser-arrow-color;
      }

      .arrowhead {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 2 * $workflow-visualiser-arrow-width solid transparent;
        border-right: 2 * $workflow-visualiser-arrow-width solid transparent;
        border-top: 4 * $workflow-visualiser-arrow-width solid $workflow-visualiser-arrow-color;
      }
    }

    &.space-position-between {
      .arrowhead {
        display: initial;
      }
    }

    &.space-position-empty {
      height: 100%;

      .add-block-action-trigger {
        margin-top: $workflow-visualiser-lane-vertical-padding;
        font-size: 400%;
      }
    }
  }

  &.between-tasks-space {
    height: $workflow-visualiser-between-task-space-size;

    &.space-position-empty {
      height: 3 * $workflow-visualiser-last-between-task-space-size;
    }
  }

  .add-block-action-trigger {
    position: absolute;
    color: $workflow-visualiser-add-trigger-color;
    font-size: 1.7em;

    &:hover {
      color: $color-one-azure;
    }
  }

  &.mode-edit {
    &.between-parallel-blocks-space {
      $arrow-offset-for-add-trigger: 17px;

      &.space-position-start,
      &.space-position-end {
        height: $workflow-visualiser-between-parallel-block-space-size + $workflow-visualiser-lane-vertical-padding;
      }

      &.space-position-start {
        .add-block-action-trigger {
          top: $workflow-visualiser-lane-vertical-padding;
        }

        .line {
          top:  $arrow-offset-for-add-trigger + $workflow-visualiser-lane-vertical-padding;
        }
      }

      &.space-position-end {
        .add-block-action-trigger {
          bottom: $workflow-visualiser-lane-vertical-padding;
        }

        .line {
          bottom: $arrow-offset-for-add-trigger + $workflow-visualiser-lane-vertical-padding;
        }
      }

      &.space-position-between {
        .arrowhead {
          display: initial;
        }

        .add-block-action-trigger {
          display: none;
          top: 50%;
          transform: translateY(-50%) translateY(#{-2 * $workflow-visualiser-arrow-width});

          @include workflow-visualiser-action-trigger-white-background();
        }

        &:hover {
          .add-block-action-trigger {
            display: initial;
          }
        }
      }
    }

    &.between-tasks-space {
      &.space-position-end {
        height: $workflow-visualiser-last-between-task-space-size;
      }

      &.space-position-empty {
        .add-block-action-trigger {
          font-size: 400%;
        }
      }

      .add-block-action-trigger {
        font-size: 1.4em;
        @include vertical-align-middle;
      }
    }
  }
}
