.workflow-visualiser .workflow-visualiser-parallel-box {
  min-width: 0;

  .draggable-parallel-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0 $workflow-visualiser-between-task-space-size;
    border: $workflow-visualiser-block-border-width dashed $workflow-visualiser-parallel-box-border-color;
    border-radius: $border-radius-base;
    background-color: $color-one-white;
  }

  .parallel-box-name {
    $name-x-offset: $workflow-visualiser-block-border-width + 2px;
    position: absolute;
    bottom: calc(100% + #{$padding-xs-vertical * 2});
    left: -$name-x-offset;
    max-width: calc(50% + #{$name-x-offset - $workflow-visualiser-arrow-width});

    &.editor {
      padding-right: 3em;
      width: calc(100% + #{2 * $name-x-offset});
      max-width: initial;

      ~ .parallel-box-drag-handle {
        display: none;
      }
    }

    &.truncated-string,
    .one-label,
    .form-control {
      padding: $padding-xs-vertical $padding-small-vertical;
      font-size: 80%;
      text-align: left;
      border-radius: $border-radius-small;
    }

    .action-icons {
      font-size: 130%;
    }
  }

  .parallel-box-drag-handle {
    position: absolute;
    bottom: 100%;
    right: -0.3em;
    cursor: grab;

    .one-icon {
      font-size: 120%;
    }
  }

  .parallel-box-actions-trigger {
    position: absolute;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    right: -$workflow-visualiser-block-border-width * 0.5;
    font-size: 170%;

    &:hover,
    &.active {
      color: $color-one-azure;
    }

    @include workflow-visualiser-action-trigger-white-background();
  }
}
