.workflow-visualiser .workflow-visualiser-parallel-block {
  position: relative;

  &,
  .draggable-parallel-block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: $workflow-visualiser-block-border-width dashed $workflow-visualiser-parallel-block-border-color;
    border-radius: $border-radius-base;
    min-width: 0;
    margin: -$workflow-visualiser-block-border-width;
    background-color: $color-one-white;
  }

  .draggable-parallel-block {
    padding: 0 $workflow-visualiser-between-task-space-size;
    flex-grow: 1;
  }

  .parallel-block-name {
    $name-x-offset: $workflow-visualiser-block-border-width + 2px;
    position: absolute;
    bottom: calc(100% + #{$padding-xs-vertical * 2});
    left: -$name-x-offset;
    max-width: calc(50% + #{$name-x-offset - $workflow-visualiser-arrow-width});

    &.editor {
      padding-right: 3em;
      width: calc(100% + #{2 * $name-x-offset});
      max-width: initial;

      ~ .parallel-block-drag-handle {
        display: none;
      }
    }

    &.truncated-string,
    .one-label,
    .form-control {
      padding: $padding-xs-vertical $padding-small-vertical;
      font-size: 80%;
      text-align: left;
      border-radius: $border-radius-small;
    }

    .action-icons {
      font-size: 130%;
    }
  }

  .parallel-block-drag-handle {
    position: absolute;
    bottom: calc(100% + #{$padding-xs-vertical * 2});
    right: 0;
    cursor: grab;

    .one-icon {
      font-size: 120%;
    }
  }

  .parallel-block-actions-trigger {
    position: absolute;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    right: -$workflow-visualiser-block-border-width / 2;
    font-size: 170%;

    &:hover,
    &.active {
      color: $color-one-azure;
    }

    @include workflow-visualiser-action-trigger-white-background();
  }
}
