$workflow-visualiser-run-indicator-size: 25px;

.workflow-visualiser .run-indicator {
  $border-width: 2px;

  $status-colors: (
    "pending": $color-one-light-gray,
    "scheduled": $color-one-azure,
    "preparing": $color-one-azure,
    "enqueued": $color-one-azure,
    "active": $color-one-success,
    "aborting": $color-one-warning,
    "cancelled": $color-one-warning,
    "skipped": $color-one-light-gray,
    "finished": $color-one-success,
    "failed": $color-one-danger,
    "unknown": $color-one-light-gray,
  );

  position: relative;
  display: inline-flex;
  height: $workflow-visualiser-run-indicator-size;
  width: $workflow-visualiser-run-indicator-size;
  border-radius: $workflow-visualiser-run-indicator-size * 0.5;
  border: $border-width solid $color-one-light-gray;
  align-items: center;
  justify-content: center;

  &.two-digit-run .run-no {
    font-size: 0.9em;
  }

  &.many-digit-run .run-no {
    font-size: 0.8em;
  }

  @each $status, $status-color in $status-colors {
    &.status-#{$status} {
      border-color: $status-color;

      .run-no {
        color: $status-color;
      }

      &.clickable:hover {
        border-color: scale-color($status-color, $lightness: -20%);
        background-color: scale-color($status-color, $lightness: 85%);

        .run-no {
          color: scale-color($status-color, $lightness: -20%);
        }
      }

      &.active {
        background-color: $status-color;
        box-shadow: 0px 0px 5px 1px $status-color;

        .run-no {
          color: $color-one-white;
        }

        &.clickable:hover {
          border-color: scale-color($status-color, $lightness: 30%);
          background-color: scale-color($status-color, $lightness: 30%);

          .run-no {
            color: $color-one-white;
          }
        }
      }
    }
  }

  &.status-active,
  &.status-aborting {
    &::before {
      $margin: $border-width * 2.5;
      $radius: $workflow-visualiser-run-indicator-size * 0.5;
      $spinner-size: $workflow-visualiser-run-indicator-size - ($border-width * 3);

      content: '';
      position: absolute;
      display: block;
      width: $spinner-size;
      height: $spinner-size;
      top: $border-width * 0.5;
      left: $border-width * 0.5;
      border: $border-width solid transparent;
      border-top-color: inherit;
      border-radius: $spinner-size * 0.5;
      animation: rotate-workflow-run-indicator 1s linear infinite;
    }

    &.active {
      &::before {
        border-top-color: $color-one-white;
      }
    }
  }

  .run-no,
  .source-run-no {
    line-height: 0;
    @include font-semibold();
  }

  .source-run-no-container {
    position: absolute;
    display: flex;
    height: $workflow-visualiser-run-indicator-size * 0.6;
    border: 1px solid $color-one-dark-gray;
    font-size: 0.7em;
    border-radius: $workflow-visualiser-run-indicator-size * 0.3;
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);
    background-color: $color-one-white;
    padding: 0 0.3em;
    align-items: center;
  }
}

@keyframes rotate-workflow-run-indicator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
