.workflow-visualiser .workflow-visualiser-task {
  @function task-status-bg-color($base-color) {
    @return scale-color($base-color, $lightness: 60%);
  }

  position: relative;
  border: $workflow-visualiser-block-border-width solid $workflow-visualiser-task-border-color;
  border-radius: $border-radius-base;

  .draggable-task {
    display: flex;
    align-items: center;
    padding: 0 $padding-xs-horizontal;
    border: inherit;
    border-radius: $border-radius-base;
    min-height: 50px;
    background-color: $color-one-white;
    margin: -$workflow-visualiser-block-border-width;
  }

  .task-drag-handle {
    align-self: stretch;
    display: flex;
    align-items: center;

    .one-icon {
      font-size: 240%;
    }
  }

  &.status-active,
  &.status-stopping {
    .draggable-task {
      @extend .animated;
      @extend .infinite;
      @extend .hinge;
    }
  }

  &.status-active {
    .draggable-task {
      @extend .pulse-bg-light-mint;
    }
  }

  &.status-stopping {
    .draggable-task {
      @extend .pulse-bg-light-orange;
    }
  }

  &.status-skipped {
    .draggable-task {
      border: $workflow-visualiser-block-border-width solid $color-one-blue-gray;
      background-color: task-status-bg-color($color-one-blue-gray);
    }
  }

  &.status-finished {
    .draggable-task {
      border: $workflow-visualiser-block-border-width solid $color-one-success;
      background-color: task-status-bg-color($color-one-success);
    }
  }

  &.status-interrupted {
    .draggable-task {
      border: $workflow-visualiser-block-border-width solid $color-one-warning;
      background-color: task-status-bg-color($color-one-warning);
    }
  }

  &.status-paused {
    .draggable-task {
      border: $workflow-visualiser-block-border-width solid $color-one-light-gray;
      background-color: task-status-bg-color($color-one-light-gray);
    }
  }

  &.status-failed,
  &.status-cancelled {
    .draggable-task {
      border: $workflow-visualiser-block-border-width solid $color-one-danger;
      background-color: task-status-bg-color($color-one-danger);
    }
  }

  .task-name {
    flex: 1 1 auto;
    font-size: 90%;
    text-align: left;
    min-width: 0;
  }

  .task-actions-trigger {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    font-size: 120%;
    z-index: 1;
    transition: transition-ease(opacity);

    &:hover,
    &.active {
      color: $color-one-azure;
    }

    @include workflow-visualiser-action-trigger-white-background();
  }

  .task-details {
    padding: 0.5em;
    padding-top: calc(0.5em + #{$workflow-visualiser-block-border-width});
    font-size: 90%;
  }

  .detail-entry {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .detail-label {
    @include font-semibold();
    white-space: nowrap;
    margin-right: 0.5em;
  }

  .detail-value {
    flex-grow: 1;
    min-width: 0;
    text-align: right;
  }

  .instance-id-detail {
    flex-wrap: nowrap;

    .detail-value {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .one-icon {
        font-size: 150%;

        &:hover {
          color: $color-one-mint;
        }
      }
    }
  }

  .actions-detail {
    justify-content: center;
  }

  &.mode-edit {
    .draggable-task {
      cursor: initial !important;
    }

    .task-drag-handle {
      cursor: grab;
    }
  }
}

.workflow-visualiser.during-task-dragdrop .workflow-visualiser-task {
  .task-actions-trigger {
    opacity: 0;
    pointer-events: none;
  }
}
