{{#if (or section.title section.titleTip)}}
  <div class="section-header">
    {{#if section.title}}
      <h3 class="section-title">{{section.title}}</h3>
    {{/if}}
    {{#if section.titleTip}}
      {{#one-label-tip class="section-title-tip" tooltipClass="tooltip-lg"}}
        {{section.titleTip}}
      {{/one-label-tip}}
    {{/if}}
  </div>
{{/if}}

{{#if section.description}}
  <p class="section-description">{{section.description}}</p>
{{/if}}

{{#if section.sections.length}}
  <div class="section-subsections">
    {{#each section.sections as |subsection|}}
      {{atm-workflow/charts-dashboard-editor/sections-editor/section
        section=subsection
      }}
    {{/each}}
  </div>
{{/if}}
