{{#promise-proxy-container proxy=stateProxy sizeClass="sm"}}
  {{#if hasDataToShow}}
    {{one-echart option=echartState}}
  {{else}}
    <p>{{tt this "noDataToShow"}}</p>
  {{/if}}
{{/promise-proxy-container}}
