.one-dropdown-group-collapsible {
  &.all-groups-opened {
    .ember-power-select-group-name {
      // When all groups are forced to be opened, the collapse-on-click
      // is disabled, so the icons should not be presented.
      .dropdown-group-collapse-icon {
        display: none;
      }
    }
  }
  &.group-opened {
    .dropdown-group-collapse-icon {
      transform: rotate(-180deg);
    }
    .ember-power-select-options {
      display: block;
    }
    .ember-power-select-group-name {
      background-color: $color-one-semiwhite;
      &:hover {
        background-color: $color-one-semiwhite;
      }
    }
  }
  .ember-power-select-group-name {
    display: flex;
    align-items: center;
    background-color: $ember-power-select-background-color;
    cursor: pointer;
    &:hover {
      background-color: $ember-power-select-highlighted-background;
    }
    .dropdown-group-collapse-icon {
      margin-left: 0.5em;
      // Arrow must be slightly pulled down to be adjusted vertically to text (even when
      // center alignment is applied).
      margin-top: 0.1em;
      font-weight: bold;
      font-size: 1.1em;
      transition-property: transform;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
    }
  }
  .ember-power-select-options {
    display: none;
  }
}
