{{#one-collapsible-toolbar
  isMinimized=isMinimized
  dropdownPlacement=dropdownPlacement
  minimumFullWindowSize=minimumFullWindowSize
  class=toolbarClasses
  toggleBtnClass=toolbarToggleClasses
  renderImmediately=renderImmediately
  as |dropdown|}}
  {{#each actionsArray key="class" as |act|}}
    {{#dropdown.item
      buttonStyle=act.buttonStyle
      triggerClasses=(or act.class act.className)
      itemAction=(action act.action actionsArg)
      isDisabled=act.disabled
    }}
      {{#if act.icon}}
        {{one-icon icon=act.icon}}
      {{/if}}
      <span class="text">{{act.title}}</span>
      {{#if act.tip}}
        {{one-tooltip title=act.tip placement=(or act.tipPlacement "top")}}
      {{/if}}
    {{/dropdown.item}}
  {{/each}}
{{/one-collapsible-toolbar}}
