{{#one-collapsible-toolbar
  isMinimized=isMinimized
  dropdownPlacement=dropdownPlacement
  minimumFullWindowSize=minimumFullWindowSize
  class=toolbarClasses
  toggleBtnClass=toolbarToggleClasses
  renderImmediately=renderImmediately
  dropdownOverModals=dropdownOverModals
  as |dropdown|}}
  {{#each actionsArray key="class" as |act|}}
    {{#dropdown.item
      buttonStyle=act.buttonStyle
      triggerClasses=(or act.class act.className)
      itemAction=(action act.action actionsArg)
      isDisabled=act.disabled
    }}
      {{one-icon icon=act.icon}}
      <span class="text">{{act.title}}</span>
      {{#if (and act.tip isMinimized)}}
        {{one-tooltip title=act.tip placement=(or act.tipPlacement "top")}}
      {{/if}}
    {{/dropdown.item}}
    {{#if (and act.tip (not isMinimized))}}
      {{one-tooltip title=act.tip placement=(or act.tipPlacement "top")}}
    {{/if}}
  {{/each}}
{{/one-collapsible-toolbar}}
