{{#bs-modal
  class="alert-global"
  open=open
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{one-icon icon="sign-error-rounded"}}
      <span class="one-label">{{tt this "error"}}</span>
    </h1>
  {{/modal.header}}
  {{#modal.body}}
    {{text}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button
      onClick=(action modal.close)
      class="btn-danger"
    }}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
