{{#if label}}
  <div class="clipboard-line-label">
    <strong>{{label}}</strong>
  </div>
{{/if}}
<div class="clipboard-line-input">
  <input
    type="text"
    class="clipboard-input form-control"
    value={{value}}
    readonly
  >
</div>
<div class="clipboard-line-btn">
  {{#one-copy-button
    class=(concat "btn btn-primary " (if size (concat "btn-" size)))
    parentElementId=elementId
    localTarget=".clipboard-input"
  }}
    {{one-icon icon="clipboard-copy"}} {{tt this "copyBtn"}}
  {{/one-copy-button}}
</div>
