<ul class="one-list text-center">
  <li class="one-list-item">
    <div class="row">
      <div class="col-xs-12">
        {{!-- TODO translate resource name --}}
        <p>{{t 'components.emptyCollectionSidebar.noResources' resourceType=resourceType}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{#link-to "onedata.sidebar.content" resourceType "new"
          class="btn btn-default"
        }}
          {{t 'components.emptyCollectionSidebar.createNew'}}
        {{/link-to}}
      </div>  
    </div>
  </li>
</ul>