<ul class="one-list text-center">
  <li class="one-list-item">
    <div class="row">
      <div class="col-xs-12">
        {{!-- TODO translate resource name --}}
        <p>{{tt this "noResources" resourceType=resourceType}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{!-- FIXME: clicking on this should change mobile screen to content --}}
        {{#link-to "onedata.sidebar.content" resourceType "empty"
          class="btn btn-default hide-sm-active"
        }}
          {{tt this "getStarted"}}
        {{/link-to}}
      </div>  
    </div>
  </li>
</ul>
