<ul class="one-list text-center">
  <li class="one-list-item">
    <div class="row">
      <div class="col-xs-12">
        <p>{{noResourcesTranslation}}</p>
      </div>
    </div>
    {{#if showGetStarted}}
      <div class="row">
        <div class="col-xs-12">
          {{#link-to "onedata.sidebar.content" resourceType "empty"
            class="btn btn-default hide-sm-active"
          }}
            {{tt this "getStarted"}}
          {{/link-to}}
        </div>
      </div>
    {{/if}}
  </li>
</ul>
