{{#if componentName}}
  {{#if testMode}}
    <div class="rendered-component">{{componentName}}</div>
  {{else}}
    {{component componentName modalOptions=modalManager.modalOptions}}
  {{/if}}
{{/if}}
{{yield}}
