{{#each modalInstances key="id" as |modalInstance|}}
  {{#if modalInstance.fullComponentName}}
    {{#if testMode}}
      <div class="rendered-component">{{modalInstance.fullComponentName}}</div>
    {{else}}
      {{component modalInstance.fullComponentName
        modalId=modalInstance.id
        modalOptions=modalInstance.options
        modalApi=modalInstance.api
      }}
    {{/if}}
  {{/if}}
{{/each}}
{{yield}}
