{{#if isRoutingError}}
  <div class="row absolute-align-middle-center error-row routing-error">
    <div class="routing-error-onedata-logo"></div>
    <div class="routing-error-text">{{tt this "pathNotExists"}}</div>
    <div class="routing-error-text">{{tt this "contactAdmin"}}</div>
    <div class="routing-error-text learn-more-text">
      {{tt this "learnMore"}}
      <a
        href="https://onedata.org"
        target="_blank"
        class="onedata-org-link"
      >onedata.org</a>.
    </div>
  </div>
{{else}}
  <ApplicationError @error={model} />
{{/if}}
