<div class="onedata-logo-container">
  <div class="onedata-logo"></div>
</div>  
<div class="login-box-container">
  {{yield}}
</div>
<div class="login-service-version">{{tt this "version"}} {{version}}</div>