{{#perfect-scrollbar-element
  tagName="div"
  class="main-menu-content"
  onScroll=(action "scrollOccurred")}}
  <div class="row row-onedata-logo full-width">
    <div class="onedata-logo"></div>
    {{brand-info}}
  </div>
  <div class="row row-main-menu full-width">
    {{main-menu
      items=mainMenuItems
      itemClicked=(action "mainMenuItemClicked")
    }}
  </div>
{{/perfect-scrollbar-element}}
<div class="row row-account-button">
  <div class="groove-border"></div>
  {{user-account-button
    isActive=(eq navigationState.activeResourceType "users")
    manageAccount=(action "manageAccount")}}
</div>
