<span class="item-name">{{item.name}}</span>{{#if conflictLabel}}<span class="conflict-part"><span class="conflict-at">{{separator}}</span><span class="conflict-label">{{conflictLabel}}</span></span>{{/if}}
