<span class="item-name">{{item.name}}</span>{{#if item.conflictLabel}}<span class="conflict-part"><span class="conflict-at">{{separator}}</span><span class="conflict-label">{{item.conflictLabel}}</span></span>{{/if}}
