<div class="container-fluid">
  <div class="row-heading row">
    <div class="col-title col-xs-7">
      {{title}}
    </div>
    {{one-sidebar-toolbar buttons=buttons class="col-xs-5"}}
  </div>
  <div class="row-body row">
    {{yield}}
  </div>
</div>

