<h1 class="tile-title">
  <span class="one-label">
    {{title}}
  </span>
  {{#link-to params=linkToParams class="more-link"}}
    {{moreText}} &raquo;
  {{/link-to}}
</h1>
<div class="tile-content">
  <div class="tile-content-inner">
    {{yield (hash sizeClass=sizeClass)}}
  </div>
</div>
