{{#each options as |option index|}}
  <label class="{{if radioInline "radio-inline"}}{{if isReadOnly " disabled" " clickable"}}">
    {{one-way-radio value
      class=(concat "field-" (concat (dot-to-dash fieldName) (concat "-" option.value)))
      id=(if (eq index 0) inputId null)
      option=option.value
      update=(action "updateHandler") 
      focusOut=onFocusOut 
      disabled=isReadOnly
    }}
    <div class="one-way-radio-control"></div>
    <span class="one-label">{{option.label}}</span>
  </label>
{{/each}}
