{{#if icon}}
  {{one-icon icon=icon}}
{{/if}}
{{#if title}}
  <span class="button-label">{{title}}</span>
{{/if}}
{{#if tip}}
  {{one-tooltip title=tip placement="bottom" arrowPlacement="right"}}
{{/if}}
{{yield}}
