{{#one-icon
  icon=icon
  class=(concat-classes "one-icon-tagged-main one-icon-internal" iconClass)
}}
  {{yield}}
  {{#if (eq shadowType "icon")}}
    {{one-icon
      class=(concat-classes
        "one-icon-tag one-icon-tag-shadow one-icon-internal"
        tagIconClass
      )
      icon=tagIcon
    }}
  {{else if (eq shadowType "circle")}}
    <div class="one-icon-tag-circle"></div>
  {{/if}}
  {{#if tagIcon}}
    {{one-icon class="one-icon-tag one-icon-tag-icon one-icon-internal" icon=tagIcon}}
  {{/if}}
{{/one-icon}}
