<div class="img-circle disable-user-select step-number">
  {{displayedIndex}}
</div>
<div class="step-title text-center">
  {{tt this "step"}} {{displayedIndex}}: {{title}}
</div>
<div class="step-separator separator-left"></div>
<div class="step-separator separator-right"></div>
