<div class="total-space-bar bar"></div>
{{#if _isTotalSizeValid}}
  <span class="bar-label total-space">
    {{bytes-to-string totalSize}}
  </span>
{{/if}}
{{#if _isOccupiedSizeValid}}
  <div class="occupied-space-bar bar" style={{_occupiedSpaceBarStyle}}></div>
  {{#if _isOccupiedSizeValid}}
    <span class="bar-label occupied-space" style={{_occupiedSpaceLabelStyle}}>
      {{bytes-to-string (if (lt occupiedSize totalSize) occupiedSize totalSize)}}
    </span>
  {{/if}}
{{/if}}
