<div class="container-fluid">
  <div class="row-heading row">
    <div class="col-title col-xs-9">
      {{title}}
    </div>
    <div class="col-toolbar col-xs-3">
      {{one-sidebar-toolbar buttons=buttons}}
    </div>
  </div>
  <div class="row-body row">
    {{yield}}
  </div>
</div>

