<div style={{circleStyles}} class="circle">
  {{one-icon icon="provider"}}
  {{#if hint}}
    {{bs-tooltip placement="bottom" title=hint}}
  {{/if}}
</div>
{{#if renderDrop}}
  {{#one-switchable-popover-modal
    activeTriggerSelector=(concat (concat "#" elementId) " .circle")
    triggersConfiguration=(concat (concat "#" elementId) " .circle")
    popoverPlacement=(if (gt provider.longitude 0) "left" "right")
    popoverPadding=false
    popoverStyle="provider-place"
    popoverClass="popover-provider-place"
    componentClass=(concat-classes "provider-place-drop" provider.status)
    open=active
    as |ospm|}}
    {{provider-place/drop provider=provider class="outside-content"}}
  {{/one-switchable-popover-modal}}
{{/if}}
