{{#bs-form
  submitOnEnter=false
  class=(concat-classes "col-xs-12 col-sm-8 col-md-6 col-lg-4 form-horizontal" (if centered "col-centered"))
  as |form|
}}  
  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}
  
  {{#if changingPassword}}
    <div class="row">
      <div class="nowrap {{layoutConfig.formSubmitColumns}}">
        {{#one-spin-button
          class="btn btn-primary"
          action=(action "submit")
          disabled=(not submitEnabled)
        }}
          {{tt this "confirmChange"}}
        {{/one-spin-button}}
        {{#if showCancel}}
          {{#bs-button class="btn btn-default" onClick=(action "cancel")}}
            {{tt this "cancel"}}
          {{/bs-button}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/bs-form}}
