{{#bs-form
  submitOnEnter=false
  class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-centered form-horizontal"
  as |form|
}}  
  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}
  
  {{#if changingPassword}}
    <div class="row">
      <div class={{layoutConfig.formSubmitColumns}}>
        {{#one-spin-button
          class="btn btn-primary"
          action=(action "submit")
          disabled=(not submitEnabled)
        }}
          Confirm password change
        {{/one-spin-button}}
      </div>
    </div>
  {{/if}}
{{/bs-form}}
