{{#if (eq mode "edit")}}
  {{pell-editor
    pellOptions=pellOptions
    class="pell-editor"
    onChange=onChange
    value=content
  }}
{{else}}
  <div class="wysiwyg-content">
    {{htmlSafeContent}}
  </div>
{{/if}}
