{{#if (eq mode "edit")}}
  {{pell-editor pellOptions=pellOptions onChange=onChange value=content class="pell-editor"}}
{{else}}
  <div class="wyswig-content">
    {{htmlSafeContent}}
  </div>
{{/if}}
