<h3>Integer</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=integerEditorStateManager}}
</p>

<h3>String</h3>
<p>
  {{atm-workflow/value-editors/full-value-editor stateManager=stringEditorStateManager}}
</p>
