$var-color-disabled-amount: 35%;
$var-color-inactive-amount: 15%;

@function disabled-color($color) {
  @return lighten($color, $var-color-disabled-amount);
}

@function inactive-color($color) {
  @return lighten($color, $var-color-inactive-amount);
}

@function inactive-color-custom($color-name) {
  @return lighten-custom($color-name, var(--var-color-inactive-amount-custom));
}

@function lighten-custom($color-name, $lightness) {
  @return hsl(var(--#{$color-name}-h) var(--#{$color-name}-s) calc(var(--#{$color-name}-l) + $lightness));
}

@function darken-custom($color-name, $darken) {
  @return hsl(var(--#{$color-name}-h) var(--#{$color-name}-s) calc(var(--#{$color-name}-l) - $darken));
}

$color-one-white: #fff;
$color-one-semiwhite: #EFEFEF;
$color-one-semiblack: #363636;
$color-one-dark-gray: #555555;
$color-one-red: hsl(0, 84%, 59%);
$color-one-mint: hsl(147, 59%, 56%);

$color-one-light-gray: #BEBEBE;
$color-one-blue-gray: #4A6089;
$color-one-gray-sand: #E2E1E0;
$color-one-dark-blue: #555d72;
$color-one-light-blue: #F2F4FA;
$color-one-azure: color-one-azure();
$color-one-yellow: color-one-yellow();
$color-one-orange: #ffac30;

$color-one-default: $color-one-blue-gray;
$color-one-info: $color-one-blue-gray;
$color-one-success: $color-one-mint;
$color-one-warning: $color-one-orange;
$color-one-danger: $color-one-red;
// default bootstrap color
$color-one-success-dark: #3c763d;

$main-text-color: $color-one-dark-gray;
$main-text-color-inactive: inactive-color($main-text-color);
$main-text-color-disabled: disabled-color($main-text-color);
$main-border-color: darken($color-one-semiwhite, 10%);
$main-tabbed-content-background: #FCFCFC;

$block-background-color: #FAFAFA;
$block-background-transparent-color: #00000005;
$block-border-color: $main-border-color;
$block-border-transparent-color: #00000029;

$color-highlight: hsl(47, 100%, 86%);

$color-directory: #555D72;
$color-file: #596E99;
$color-symlink: darken($color-one-azure, 10%);
$color-file-selected: lighten(#E5E9F1, 3%);
$color-file-highlighted: $color-highlight;

$color-provider-online: $color-one-mint;
$color-provider-offline: $color-one-red;
$color-provider-mixed: $color-one-yellow;


:root {
  --color-one-mint-h: 147;
  --color-one-mint-s: 59%;
  --color-one-mint-l: 56%;

  --var-color-inactive-amount-custom: 40%;
  --var-color-disabled-amount-custom: 35%;

  --primary-sidebar-color-h: 0;
  --primary-sidebar-color-s: 84%;
  --primary-sidebar-color-l: 59%;
  --primary-sidebar-color: #EE3F3F;

  --secondary-sidebar-color-h: 219;
  --secondary-sidebar-color-s: 30%;
  --secondary-sidebar-color-l: 41%;
  --secondary-sidebar-color: #4A6089;

  --upload-sidebar-color-h: 147;
  --upload-sidebar-color-s: 59%;
  --upload-sidebar-color-l: 56%;
  --upload-sidebar-color: hsl(147, 59%, 56%);

  --onedata-link-color: $color-one-mint;
  --onedata-link-color-h: var(--color-one-mint-h);
  --onedata-link-color-s: var(--color-one-mint-s);
  --onedata-link-color-l: var(--color-one-mint-l);

  --selected-light-background: $color-one-light-blue;
  --selected-light-background-disabled: $color-one-light-gray;

  --color-one-main: var(--primary-sidebar-color);

  --primary-sidebar-color: hsl(var(--primary-sidebar-color-h) var(--primary-sidebar-color-s) var(--primary-sidebar-color-l));
  --upload-sidebar-color: hsl(var(--upload-sidebar-color-h) var(--upload-sidebar-color-s) var(--upload-sidebar-color-l));
  --secondary-sidebar-color: hsl(var(--secondary-sidebar-color-h) var(--secondary-sidebar-color-s) var(--secondary-sidebar-color-l));
}
