$var-color-disabled-amount: 35%;
$var-color-inactive-amount: 15%;

@function disabled-color($color) {
  @return lighten($color, $var-color-disabled-amount);
}

@function inactive-color($color) {
  @return lighten($color, $var-color-inactive-amount);
}

@function inactive-color-custom($color-var-name) {
  @return lighten-custom($color-var-name, var(--var-color-inactive-amount-custom));
}

@function lighten-custom($color-var-name, $lightness) {
  @return hsl(var(--#{$color-var-name}-h), var(--#{$color-var-name}-s), calc(var(--#{$color-var-name}-l) + $lightness));
}

@function darken-custom($color-var-name, $darken) {
  @return hsl(var(--#{$color-var-name}-h), var(--#{$color-var-name}-s), calc(var(--#{$color-var-name}-l) - $darken));
}

$color-one-white-h: 0;
$color-one-white-s: 0%;
$color-one-white-l: 100%;
$color-one-white: hsl($color-one-white-h, $color-one-white-s, $color-one-white-l);

$color-one-semiwhite: #EFEFEF;
$color-one-semiblack: #363636;
$color-one-dark-gray: #555555;

$color-one-red-h: 0;
$color-one-red-s: 84%;
$color-one-red-l: 59%;
$color-one-red: hsl($color-one-red-h, $color-one-red-s, $color-one-red-l);

$color-one-mint-h: 147;
$color-one-mint-s: 59%;
$color-one-mint-l: 56%;
$color-one-mint: hsl($color-one-mint-h, $color-one-mint-s, $color-one-mint-l);

$color-dark-blue-h: 219;
$color-dark-blue-s: 30%;
$color-dark-blue-l: 41%;
$color-dark-blue: hsl($color-dark-blue-h, $color-dark-blue-s, $color-dark-blue-l);

$color-one-light-gray: #BEBEBE;

$color-one-blue-gray-h: 219;
$color-one-blue-gray-s: 30%;
$color-one-blue-gray-l: 41%;
$color-one-blue-gray: hsl($color-one-blue-gray-h, $color-one-blue-gray-s, $color-one-blue-gray-l);

$color-one-gray-sand: #E2E1E0;
$color-one-dark-blue: #555d72;
$color-one-light-blue: #F2F4FA;
$color-one-azure: color-one-azure();
$color-one-yellow: color-one-yellow();

$color-one-orange-h: 36;
$color-one-orange-s: 100%;
$color-one-orange-l: 59%;
$color-one-orange: hsl($color-one-orange-h, $color-one-orange-s, $color-one-orange-l);

$color-one-default: $color-one-blue-gray;
$color-one-info: $color-one-blue-gray;
$color-one-success: $color-one-mint;
$color-one-warning: $color-one-orange;
$color-one-danger: $color-one-red;
// default bootstrap color
$color-one-success-dark: #3c763d;
$color-one-mark: #F8E08C;

$main-text-color: $color-one-dark-gray;
$main-text-color-inactive: inactive-color($main-text-color);
$main-text-color-disabled: disabled-color($main-text-color);
$main-border-color: darken($color-one-semiwhite, 10%);
$main-tabbed-content-background: #FCFCFC;

$block-background-color: #FAFAFA;
$block-background-transparent-color: #00000005;
$block-border-color: $main-border-color;
$block-border-transparent-color: #00000029;

$color-highlight: hsl(47, 100%, 86%);

$color-directory: #555D72;
$color-file: #596E99;
$color-symlink: darken($color-one-azure, 10%);
$color-file-selected: lighten(#E5E9F1, 3%);
$color-file-highlighted: $color-highlight;

$color-provider-online: $color-one-mint;
$color-provider-offline: $color-one-red;
$color-provider-mixed: $color-one-yellow;


:root {
  --var-color-inactive-amount-custom: 15%;
  --var-color-disabled-amount-custom: 35%;

  --sidebar-primary-color-h: #{$color-one-red-h};
  --sidebar-primary-color-s: #{$color-one-red-s};
  --sidebar-primary-color-l: #{$color-one-red-l};

  --sidebar-secondary-color-h: #{$color-dark-blue-h};
  --sidebar-secondary-color-s: #{$color-dark-blue-s};
  --sidebar-secondary-color-l: #{$color-dark-blue-l};

  --sidebar-button-color-h: #{$color-dark-blue-h};
  --sidebar-button-color-s: #{$color-dark-blue-s};
  --sidebar-button-color-l: #{$color-dark-blue-l};

  --sidebar-upload-color-h: #{$color-one-mint-h};
  --sidebar-upload-color-s: #{$color-one-mint-s};
  --sidebar-upload-color-l: #{$color-one-mint-l};

  --onedata-link-color: #{$color-one-mint};
  --onedata-link-color-h: #{$color-one-mint-h};
  --onedata-link-color-s: #{$color-one-mint-s};
  --onedata-link-color-l: #{$color-one-mint-l};

  --selected-light-background: #{$color-one-light-blue};
  --selected-light-background-disabled: #{$color-one-light-gray};

  --color-one-main: var(--sidebar-primary-color);

  --sidebar-primary-color: hsl(var(--sidebar-primary-color-h), var(--sidebar-primary-color-s), var(--sidebar-primary-color-l));
  --sidebar-upload-color: hsl(var(--sidebar-upload-color-h), var(--sidebar-upload-color-s), var(--sidebar-upload-color-l));
  --sidebar-secondary-color: hsl(var(--sidebar-secondary-color-h), var(--sidebar-secondary-color-s), var(--sidebar-secondary-color-l));
  --sidebar-secondary-text-color: #{$color-one-white};
  --sidebar-button-color: hsl(var(--sidebar-button-color-h), var(--sidebar-button-color-s), var(--sidebar-button-color-l));
}
