$var-color-disabled-amount: 35%;
$var-color-inactive-amount: 15%;

@function disabled-color($color) {
  @return lighten($color, $var-color-disabled-amount);
}

@function inactive-color($color) {
  @return lighten($color, $var-color-inactive-amount);
}

$color-one-white: #fff;
$color-one-semiwhite: #EFEFEF;
$color-one-semiblack: #363636;
$color-one-dark-gray: #555555;
$color-one-red: #EE3F3F;
$color-one-mint: #4BD187;
$color-one-light-gray: #BEBEBE;
$color-one-blue-gray: #4A6089;
$color-one-gray-sand: #E2E1E0;
$color-one-dark-blue: #555d72;
$color-one-light-blue: #E5E9F1;
$color-one-azure: color-one-azure();
$color-one-yellow: color-one-yellow();
$color-one-orange: #ffac30;

$color-one-main: $color-one-red;
$color-one-default: $color-one-blue-gray;
$color-one-info: $color-one-blue-gray;
$color-one-success: $color-one-mint;
$color-one-warning: $color-one-orange;
$color-one-danger: $color-one-red;
// default bootstrap color
$color-one-success-dark: #3c763d;

$main-text-color: $color-one-dark-gray;
$main-text-color-inactive: inactive-color($main-text-color);
$main-text-color-disabled: disabled-color($main-text-color);
$main-border-color: darken($color-one-semiwhite, 10%);
$main-tabbed-content-background: #FCFCFC;

$color-directory: #555D72;
$color-file: #596E99;
$color-file-selected: lighten(#E5E9F1, 3%);