.xdsoft_datetimepicker {
  color: $main-text-color;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: $color-one-azure;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: $color-one-blue-gray;
  box-shadow: none;
  color: $color-one-white;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background-color: $color-one-yellow !important;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
  background: $color-one-blue-gray;
  box-shadow: none;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
  background-color: $color-one-yellow;
}
