.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  left: initial;
  top: initial;
  right: 15px;
  font-size: 2em;
  line-height: 20px;
  background: $color-one-dark-blue;
  border: 1px solid $color-one-white;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  width: 20px;
  height: 20px;
}

.jvectormap-zoomin {
  bottom: 45px;
}

.jvectormap-zoomout {
  bottom: 15px;
}

.jvectormap-region {
  fill: $color-one-dark-blue;
  fill-opacity: 1;
  stroke: $color-one-dark-blue;
  stroke-width: 0.2;
  cursor: initial;
}

.jvectormap-region:hover {
  fill: lighten($color-one-dark-blue, 10%);
  stroke: lighten($color-one-dark-blue, 10%);
}
