$jvectormap-main-color: $color-one-dark-blue;

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  left: initial;
  top: initial;
  right: 15px;
  font-size: 2em;
  line-height: 20px;
  background: $jvectormap-main-color;
  border: 1px solid $color-one-white;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  width: 20px;
  height: 20px;
}

.jvectormap-zoomin {
  bottom: 45px;
}

.jvectormap-zoomout {
  bottom: 15px;
}

.jvectormap-region {
  fill: $jvectormap-main-color;
  fill-opacity: 1;
  stroke: $jvectormap-main-color;
  stroke-width: 0.2;
  cursor: initial;
}

.jvectormap-region:hover {
  fill: lighten($jvectormap-main-color, 10%);
  stroke: lighten($jvectormap-main-color, 10%);
}

.jvectormap-tip {
  z-index: $zindex-tooltip;
}
