// TODO animate only width

.spin-button,
.spin-button .spin-button-spinner,
.spin-button .spin-button-label {
  @include transition(none);
}

.spin-button.btn-sm {
  &[data-style=expand-left] {
    &.in-flight {
      padding-left: 36px;
    }
    .spin-button-spinner {
      left: 16px;
    }
  }
}

.spin-button.with-addon {
  padding-left: 0;
  padding-right: 0;
  .spin-button-label {
    width: 100%;
    display: inline-block;
  }
  &.in-flight {
    .btn-img-addon {
      display: none;
    }
    .spin-button-label {
      margin-left: -52px;
    }
  }
}
