@mixin tag-colors($color, $saturate: 0%, $darken: 0%) {
  color: change-color($color, $saturation: 55%, $lightness: 35%);
  border-color: change-color($color, $saturation: 50% + $saturate * 0.5, $lightness: 70% - $darken);
  background-color: change-color($color, $saturation: 50% + $saturate, $lightness: 90%);
  &.tag-status-progress {
    color: change-color($color, $saturation: 55%, $lightness: 10%);
    .tag-progress {
      background-color: change-color($color, $saturation: 40%, $lightness: 70%);
    }
  }
}

@mixin tag-colors-success {
  @include tag-colors($color-one-success, 0%, 10%);
}

@mixin tag-colors-default {
  @include tag-colors($color-one-default);
}

@mixin tag-colors-warning {
  @include tag-colors($color-one-warning, 50%, 8%);
}

@mixin tag-colors-danger {
  @include tag-colors($color-one-danger, 30%);
}

@mixin tag-colors-disabled {
  color: $main-text-color-inactive;
  border-color: change-color(white, $lightness: 65%);
  background-color: change-color(white, $lightness: 90%);
  &.tag-status-progress {
    color: change-color($main-text-color-inactive, $lightness: 30%);
    .tag-progress {
      background-color: change-color(white, $lightness: 80%);
    }
  }
}

@mixin tag-colors-inherited {
  color: $main-text-color;
  border-color: change-color($main-text-color, $lightness: 65%);
  background-color: change-color($main-text-color, $lightness: 90%);
  &.tag-status-progress {
    color: change-color($main-text-color, $saturation: 55%, $lightness: 10%);
    .tag-progress {
      background-color: change-color($main-text-color, $lightness: 75%);
    }
  }
}

@mixin tag-colors-inherited-highlight {
  @include tag-colors($color-one-success, -10%, 20%);
}
