<div class="workflow-visualiser">
  {{workflow-visualiser/lane/runs-list
    runsRegistry=runsRegistry
    selectedRunNo=selectedRunNo
    visibleRunsPosition=visibleRunsPosition
    onSelectionChange=(action (mut selectedRunNo))
    onVisibleRunsPositionChange=(action (mut visibleRunsPosition))
  }}
</div>
