<div class="workflow-visualiser">
  {{workflow-visualiser/lane/runs-list
    runs=runs
    selectedRunNo=selectedRunNo
    visibleRunsPosition=visibleRunsPosition
    laneRunActionsFactory=laneRunActionsFactory
    onSelectionChange=(action (mut selectedRunNo))
    onVisibleRunsPositionChange=(action (mut visibleRunsPosition))
  }}
</div>
