{{yield (hash section="start")}}
<td class="column-value">
  {{#truncated-string}}
    {{atm-workflow/value-presenters/array/single-line-presenter
      value=value
      dataSpec=dataSpec
    }}
  {{/truncated-string}}
</td>
{{yield (hash section="end")}}
