{{#each columnsData as |columnData|}}
  <td
    class="entry-value entry-{{columnData.name}}"
    colspan={{if columnData.takesWholeRow "9999" "1"}}
  >
    {{columnData.value}}
  </td>
{{/each}}
{{yield}}
