@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xnri36');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xnri36#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xnri36') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xnri36') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xnri36##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="oneicon-"], [class*=" oneicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oneicon-add-filled {
  &:before {
    content: $oneicon-add-filled; 
  }
}
.oneicon-add {
  &:before {
    content: $oneicon-add; 
  }
}
.oneicon-arrow-circle-down {
  &:before {
    content: $oneicon-arrow-circle-down; 
  }
}
.oneicon-arrow-down {
  &:before {
    content: $oneicon-arrow-down; 
  }
}
.oneicon-arrow-left {
  &:before {
    content: $oneicon-arrow-left; 
  }
}
.oneicon-arrow-right-full {
  &:before {
    content: $oneicon-arrow-right-full; 
  }
}
.oneicon-arrow-right {
  &:before {
    content: $oneicon-arrow-right; 
  }
}
.oneicon-arrow-up {
  &:before {
    content: $oneicon-arrow-up; 
  }
}
.oneicon-ban-left-thin {
  &:before {
    content: $oneicon-ban-left-thin;     
    color: #969696;
  }
}
.oneicon-ban-left {
  &:before {
    content: $oneicon-ban-left; 
  }
}
.oneicon-browser-attribute {
  &:before {
    content: $oneicon-browser-attribute; 
  }
}
.oneicon-browser-copy {
  &:before {
    content: $oneicon-browser-copy; 
  }
}
.oneicon-browser-cut {
  &:before {
    content: $oneicon-browser-cut; 
  }
}
.oneicon-browser-delete {
  &:before {
    content: $oneicon-browser-delete; 
  }
}
.oneicon-browser-directory {
  &:before {
    content: $oneicon-browser-directory; 
  }
}
.oneicon-browser-distribution {
  &:before {
    content: $oneicon-browser-distribution; 
  }
}
.oneicon-browser-file {
  &:before {
    content: $oneicon-browser-file; 
  }
}
.oneicon-browser-info {
  &:before {
    content: $oneicon-browser-info; 
  }
}
.oneicon-browser-metadata {
  &:before {
    content: $oneicon-browser-metadata; 
  }
}
.oneicon-browser-new-directory {
  &:before {
    content: $oneicon-browser-new-directory; 
  }
}
.oneicon-browser-paste {
  &:before {
    content: $oneicon-browser-paste; 
  }
}
.oneicon-browser-permission {
  &:before {
    content: $oneicon-browser-permission; 
  }
}
.oneicon-browser-permissions {
  &:before {
    content: $oneicon-browser-permissions; 
  }
}
.oneicon-browser-rename {
  &:before {
    content: $oneicon-browser-rename; 
  }
}
.oneicon-browser-share {
  &:before {
    content: $oneicon-browser-share; 
  }
}
.oneicon-browser-upload {
  &:before {
    content: $oneicon-browser-upload; 
  }
}
.oneicon-ceph {
  &:before {
    content: $oneicon-ceph; 
  }
}
.oneicon-certificate {
  &:before {
    content: $oneicon-certificate; 
  }
}
.oneicon-checkbox-check {
  &:before {
    content: $oneicon-checkbox-check; 
  }
}
.oneicon-checkbox-empty {
  &:before {
    content: $oneicon-checkbox-empty; 
  }
}
.oneicon-checkbox-filled-warning {
  &:before {
    content: $oneicon-checkbox-filled-warning; 
  }
}
.oneicon-checkbox-filled-x {
  &:before {
    content: $oneicon-checkbox-filled-x; 
  }
}
.oneicon-checkbox-filled {
  &:before {
    content: $oneicon-checkbox-filled; 
  }
}
.oneicon-checkbox-minus {
  &:before {
    content: $oneicon-checkbox-minus; 
  }
}
.oneicon-checkbox-option {
  &:before {
    content: $oneicon-checkbox-option; 
  }
}
.oneicon-checkbox-x {
  &:before {
    content: $oneicon-checkbox-x; 
  }
}
.oneicon-checkbox {
  &:before {
    content: $oneicon-checkbox; 
  }
}
.oneicon-checked {
  &:before {
    content: $oneicon-checked; 
  }
}
.oneicon-clipboard-copy {
  &:before {
    content: $oneicon-clipboard-copy; 
  }
}
.oneicon-close {
  &:before {
    content: $oneicon-close; 
  }
}
.oneicon-cluster {
  &:before {
    content: $oneicon-cluster; 
  }
}
.oneicon-collection-create {
  &:before {
    content: $oneicon-collection-create; 
  }
}
.oneicon-copy {
  &:before {
    content: $oneicon-copy; 
  }
}
.oneicon-cut {
  &:before {
    content: $oneicon-cut; 
  }
}
.oneicon-file {
  &:before {
    content: $oneicon-file; 
  }
}
.oneicon-folder-new {
  &:before {
    content: $oneicon-folder-new; 
  }
}
.oneicon-folder-open {
  &:before {
    content: $oneicon-folder-open; 
  }
}
.oneicon-folder-share {
  &:before {
    content: $oneicon-folder-share; 
  }
}
.oneicon-folder {
  &:before {
    content: $oneicon-folder; 
  }
}
.oneicon-globe-cursor {
  &:before {
    content: $oneicon-globe-cursor; 
  }
}
.oneicon-globe {
  &:before {
    content: $oneicon-globe; 
  }
}
.oneicon-group-add {
  &:before {
    content: $oneicon-group-add; 
  }
}
.oneicon-group-invite {
  &:before {
    content: $oneicon-group-invite; 
  }
}
.oneicon-group-leave-group {
  &:before {
    content: $oneicon-group-leave-group; 
  }
}
.oneicon-group {
  &:before {
    content: $oneicon-group; 
  }
}
.oneicon-groups {
  &:before {
    content: $oneicon-groups; 
  }
}
.oneicon-hierarchy {
  &:before {
    content: $oneicon-hierarchy; 
  }
}
.oneicon-home-outline {
  &:before {
    content: $oneicon-home-outline; 
  }
}
.oneicon-home {
  &:before {
    content: $oneicon-home; 
  }
}
.oneicon-inbox {
  &:before {
    content: $oneicon-inbox; 
  }
}
.oneicon-index {
  &:before {
    content: $oneicon-index; 
  }
}
.oneicon-invalidate {
  &:before {
    content: $oneicon-invalidate; 
  }
}
.oneicon-join-plug {
  &:before {
    content: $oneicon-join-plug; 
  }
}
.oneicon-join-space {
  &:before {
    content: $oneicon-join-space; 
  }
}
.oneicon-join {
  &:before {
    content: $oneicon-join; 
  }
}
.oneicon-key {
  &:before {
    content: $oneicon-key; 
  }
}
.oneicon-leave-space {
  &:before {
    content: $oneicon-leave-space; 
  }
}
.oneicon-light-bulb {
  &:before {
    content: $oneicon-light-bulb; 
  }
}
.oneicon-link-external {
  &:before {
    content: $oneicon-link-external; 
  }
}
.oneicon-lock-checked {
  &:before {
    content: $oneicon-lock-checked; 
  }
}
.oneicon-lock {
  &:before {
    content: $oneicon-lock; 
  }
}
.oneicon-logout {
  &:before {
    content: $oneicon-logout; 
  }
}
.oneicon-membership {
  &:before {
    content: $oneicon-membership; 
  }
}
.oneicon-menu-clusters {
  &:before {
    content: $oneicon-menu-clusters; 
  }
}
.oneicon-menu-collection {
  &:before {
    content: $oneicon-menu-collection; 
  }
}
.oneicon-menu-data {
  &:before {
    content: $oneicon-menu-data; 
  }
}
.oneicon-menu-groups {
  &:before {
    content: $oneicon-menu-groups; 
  }
}
.oneicon-menu-providers {
  &:before {
    content: $oneicon-menu-providers; 
  }
}
.oneicon-menu-recent {
  &:before {
    content: $oneicon-menu-recent; 
  }
}
.oneicon-menu-shared {
  &:before {
    content: $oneicon-menu-shared; 
  }
}
.oneicon-menu-token {
  &:before {
    content: $oneicon-menu-token; 
  }
}
.oneicon-menu-transfers {
  &:before {
    content: $oneicon-menu-transfers; 
  }
}
.oneicon-menu-trash {
  &:before {
    content: $oneicon-menu-trash; 
  }
}
.oneicon-metadata {
  &:before {
    content: $oneicon-metadata; 
  }
}
.oneicon-migrate {
  &:before {
    content: $oneicon-migrate; 
  }
}
.oneicon-move-down {
  &:before {
    content: $oneicon-move-down; 
  }
}
.oneicon-move-up {
  &:before {
    content: $oneicon-move-up; 
  }
}
.oneicon-no-view {
  &:before {
    content: $oneicon-no-view; 
  }
}
.oneicon-node {
  &:before {
    content: $oneicon-node; 
  }
}
.oneicon-onepanel {
  &:before {
    content: $oneicon-onepanel; 
  }
}
.oneicon-onezone {
  &:before {
    content: $oneicon-onezone; 
  }
}
.oneicon-organization {
  &:before {
    content: $oneicon-organization; 
  }
}
.oneicon-overview {
  &:before {
    content: $oneicon-overview; 
  }
}
.oneicon-parents {
  &:before {
    content: $oneicon-parents; 
  }
}
.oneicon-password-change {
  &:before {
    content: $oneicon-password-change; 
  }
}
.oneicon-permissions {
  &:before {
    content: $oneicon-permissions; 
  }
}
.oneicon-provider-add {
  &:before {
    content: $oneicon-provider-add; 
  }
}
.oneicon-provider-default {
  &:before {
    content: $oneicon-provider-default; 
  }
}
.oneicon-provider-home {
  &:before {
    content: $oneicon-provider-home; 
  }
}
.oneicon-provider {
  &:before {
    content: $oneicon-provider; 
  }
}
.oneicon-providers-outline {
  &:before {
    content: $oneicon-providers-outline; 
  }
}
.oneicon-providers {
  &:before {
    content: $oneicon-providers; 
  }
}
.oneicon-remove {
  &:before {
    content: $oneicon-remove; 
  }
}
.oneicon-rename {
  &:before {
    content: $oneicon-rename; 
  }
}
.oneicon-replicate {
  &:before {
    content: $oneicon-replicate; 
  }
}
.oneicon-role-holders {
  &:before {
    content: $oneicon-role-holders; 
  }
}
.oneicon-search {
  &:before {
    content: $oneicon-search; 
  }
}
.oneicon-settings-circle-filled {
  &:before {
    content: $oneicon-settings-circle-filled; 
  }
}
.oneicon-settings {
  &:before {
    content: $oneicon-settings; 
  }
}
.oneicon-share-collection {
  &:before {
    content: $oneicon-share-collection; 
  }
}
.oneicon-share {
  &:before {
    content: $oneicon-share; 
  }
}
.oneicon-sign-error-rounded {
  &:before {
    content: $oneicon-sign-error-rounded; 
  }
}
.oneicon-sign-error {
  &:before {
    content: $oneicon-sign-error; 
  }
}
.oneicon-sign-info-rounded {
  &:before {
    content: $oneicon-sign-info-rounded; 
  }
}
.oneicon-sign-info {
  &:before {
    content: $oneicon-sign-info; 
  }
}
.oneicon-sign-question-rounded {
  &:before {
    content: $oneicon-sign-question-rounded; 
  }
}
.oneicon-sign-question {
  &:before {
    content: $oneicon-sign-question; 
  }
}
.oneicon-sign-warning-rounded {
  &:before {
    content: $oneicon-sign-warning-rounded; 
  }
}
.oneicon-sign-warning {
  &:before {
    content: $oneicon-sign-warning; 
  }
}
.oneicon-social-dropbox {
  &:before {
    content: $oneicon-social-dropbox; 
  }
}
.oneicon-social-egi {
  &:before {
    content: $oneicon-social-egi; 
  }
}
.oneicon-social-facebook {
  &:before {
    content: $oneicon-social-facebook; 
  }
}
.oneicon-social-github {
  &:before {
    content: $oneicon-social-github; 
  }
}
.oneicon-social-google {
  &:before {
    content: $oneicon-social-google; 
  }
}
.oneicon-social-indigo {
  &:before {
    content: $oneicon-social-indigo; 
  }
}
.oneicon-social-plgrid {
  &:before {
    content: $oneicon-social-plgrid; 
  }
}
.oneicon-social-rhea {
  &:before {
    content: $oneicon-social-rhea; 
  }
}
.oneicon-space-add {
  &:before {
    content: $oneicon-space-add; 
  }
}
.oneicon-space-default {
  &:before {
    content: $oneicon-space-default; 
  }
}
.oneicon-space-empty {
  &:before {
    content: $oneicon-space-empty; 
  }
}
.oneicon-space-error {
  &:before {
    content: $oneicon-space-error; 
  }
}
.oneicon-space-home {
  &:before {
    content: $oneicon-space-home; 
  }
}
.oneicon-space-import-provider {
  &:before {
    content: $oneicon-space-import-provider; 
  }
}
.oneicon-space-import {
  &:before {
    content: $oneicon-space-import; 
  }
}
.oneicon-space-join {
  &:before {
    content: $oneicon-space-join; 
  }
}
.oneicon-space-reload {
  &:before {
    content: $oneicon-space-reload; 
  }
}
.oneicon-space {
  &:before {
    content: $oneicon-space; 
  }
}
.oneicon-square-empty {
  &:before {
    content: $oneicon-square-empty; 
  }
}
.oneicon-square-minus-empty {
  &:before {
    content: $oneicon-square-minus-empty; 
  }
}
.oneicon-square-plus-empty {
  &:before {
    content: $oneicon-square-plus-empty; 
  }
}
.oneicon-star-empty {
  &:before {
    content: $oneicon-star-empty; 
  }
}
.oneicon-star {
  &:before {
    content: $oneicon-star; 
  }
}
.oneicon-support {
  &:before {
    content: $oneicon-support; 
  }
}
.oneicon-team {
  &:before {
    content: $oneicon-team; 
  }
}
.oneicon-text-bold {
  &:before {
    content: $oneicon-text-bold; 
  }
}
.oneicon-text-heading1 {
  &:before {
    content: $oneicon-text-heading1; 
  }
}
.oneicon-text-heading2 {
  &:before {
    content: $oneicon-text-heading2; 
  }
}
.oneicon-text-heading3 {
  &:before {
    content: $oneicon-text-heading3; 
  }
}
.oneicon-text-italic {
  &:before {
    content: $oneicon-text-italic; 
  }
}
.oneicon-text-link {
  &:before {
    content: $oneicon-text-link; 
  }
}
.oneicon-text-olist {
  &:before {
    content: $oneicon-text-olist; 
  }
}
.oneicon-text-paragraph {
  &:before {
    content: $oneicon-text-paragraph; 
  }
}
.oneicon-text-strikethrough {
  &:before {
    content: $oneicon-text-strikethrough; 
  }
}
.oneicon-text-ulist {
  &:before {
    content: $oneicon-text-ulist; 
  }
}
.oneicon-text-underline {
  &:before {
    content: $oneicon-text-underline; 
  }
}
.oneicon-tokens {
  &:before {
    content: $oneicon-tokens; 
  }
}
.oneicon-transfers {
  &:before {
    content: $oneicon-transfers; 
  }
}
.oneicon-unit {
  &:before {
    content: $oneicon-unit; 
  }
}
.oneicon-update {
  &:before {
    content: $oneicon-update; 
  }
}
.oneicon-upload {
  &:before {
    content: $oneicon-upload; 
  }
}
.oneicon-user-add {
  &:before {
    content: $oneicon-user-add; 
  }
}
.oneicon-user-profile {
  &:before {
    content: $oneicon-user-profile; 
  }
}
.oneicon-user {
  &:before {
    content: $oneicon-user; 
  }
}
.oneicon-view-grid {
  &:before {
    content: $oneicon-view-grid; 
  }
}
.oneicon-view-list {
  &:before {
    content: $oneicon-view-list; 
  }
}
.oneicon-x {
  &:before {
    content: $oneicon-x; 
  }
}

