$icomoon-font-family: "oneicons" !default;
$icomoon-font-path: "fonts" !default;

$oneicon-add-filled: "\e900";
$oneicon-add: "\e901";
$oneicon-arrow-circle-down: "\e902";
$oneicon-arrow-down: "\e903";
$oneicon-arrow-left: "\e904";
$oneicon-arrow-right-full: "\e905";
$oneicon-arrow-right: "\e906";
$oneicon-arrow-up: "\e907";
$oneicon-ban-left-thin: "\e908";
$oneicon-ban-left: "\e909";
$oneicon-certificate: "\e90a";
$oneicon-checkbox-check: "\e90b";
$oneicon-checkbox-empty: "\e90c";
$oneicon-checkbox-filled-x: "\e90d";
$oneicon-checkbox-filled: "\e90e";
$oneicon-checkbox-minus: "\e90f";
$oneicon-checkbox-option: "\e910";
$oneicon-checkbox-x: "\e911";
$oneicon-checkbox: "\e912";
$oneicon-checked: "\e913";
$oneicon-clipboard-copy: "\e914";
$oneicon-close: "\e915";
$oneicon-collection-create: "\e916";
$oneicon-copy: "\e917";
$oneicon-cut: "\e918";
$oneicon-file: "\e919";
$oneicon-folder-new: "\e91a";
$oneicon-folder-open: "\e91b";
$oneicon-folder-share: "\e91c";
$oneicon-folder: "\e91d";
$oneicon-globe-cursor: "\e91e";
$oneicon-group-add: "\e91f";
$oneicon-group-invite: "\e920";
$oneicon-group-leave-group: "\e921";
$oneicon-group: "\e922";
$oneicon-groups: "\e923";
$oneicon-hierarchy: "\e924";
$oneicon-home-outline: "\e925";
$oneicon-home: "\e926";
$oneicon-inbox: "\e927";
$oneicon-join-plug: "\e928";
$oneicon-join-space: "\e929";
$oneicon-join: "\e92a";
$oneicon-key: "\e92b";
$oneicon-leave-space: "\e92c";
$oneicon-link-external: "\e92d";
$oneicon-lock-checked: "\e92e";
$oneicon-lock: "\e92f";
$oneicon-membership: "\e930";
$oneicon-menu-clusters: "\e931";
$oneicon-menu-collection: "\e932";
$oneicon-menu-data: "\e933";
$oneicon-menu-groups: "\e934";
$oneicon-menu-links: "\e935";
$oneicon-menu-providers: "\e936";
$oneicon-menu-recent: "\e937";
$oneicon-menu-shared: "\e938";
$oneicon-menu-token: "\e939";
$oneicon-menu-transfers: "\e93a";
$oneicon-menu-trash: "\e93b";
$oneicon-metadata: "\e93c";
$oneicon-move-down: "\e93d";
$oneicon-move-up: "\e93e";
$oneicon-no-view: "\e93f";
$oneicon-node: "\e940";
$oneicon-organization: "\e941";
$oneicon-overview: "\e942";
$oneicon-parents: "\e943";
$oneicon-password-change: "\e944";
$oneicon-permissions: "\e945";
$oneicon-provider-add: "\e946";
$oneicon-provider-default: "\e947";
$oneicon-provider-home: "\e948";
$oneicon-provider: "\e949";
$oneicon-providers-outline: "\e94a";
$oneicon-providers: "\e94b";
$oneicon-remove: "\e94c";
$oneicon-rename: "\e94d";
$oneicon-role-holders: "\e94e";
$oneicon-search: "\e94f";
$oneicon-settings-circle-filled: "\e950";
$oneicon-settings: "\e951";
$oneicon-share-collection: "\e952";
$oneicon-share: "\e953";
$oneicon-sign-error-rounded: "\e954";
$oneicon-sign-error: "\e955";
$oneicon-sign-info-rounded: "\e956";
$oneicon-sign-info: "\e957";
$oneicon-sign-question-rounded: "\e958";
$oneicon-sign-question: "\e959";
$oneicon-sign-warning-rounded: "\e95a";
$oneicon-sign-warning: "\e95b";
$oneicon-social-dropbox: "\e95c";
$oneicon-social-egi: "\e95d";
$oneicon-social-facebook: "\e95e";
$oneicon-social-github: "\e95f";
$oneicon-social-google: "\e960";
$oneicon-social-indigo: "\e961";
$oneicon-social-plgrid: "\e962";
$oneicon-social-rhea: "\e963";
$oneicon-space-add: "\e964";
$oneicon-space-default: "\e965";
$oneicon-space-empty: "\e966";
$oneicon-space-error: "\e967";
$oneicon-space-home: "\e968";
$oneicon-space-import-provider: "\e969";
$oneicon-space-import: "\e96a";
$oneicon-space-join: "\e96b";
$oneicon-space-reload: "\e96c";
$oneicon-space: "\e96d";
$oneicon-square-empty: "\e96e";
$oneicon-square-minus-empty: "\e96f";
$oneicon-square-plus-empty: "\e970";
$oneicon-star-empty: "\e971";
$oneicon-star: "\e972";
$oneicon-support: "\e973";
$oneicon-team: "\e974";
$oneicon-tokens: "\e975";
$oneicon-unit: "\e976";
$oneicon-update: "\e977";
$oneicon-upload: "\e978";
$oneicon-user-add: "\e979";
$oneicon-user-profile: "\e97a";
$oneicon-user: "\e97b";
$oneicon-view-grid: "\e97c";
$oneicon-view-list: "\e97d";

