$icomoon-font-path: "fonts" !default;

$oneicon-add-filled: "\e900";
$oneicon-add: "\e901";
$oneicon-arrow-down: "\e902";
$oneicon-arrow-right: "\e903";
$oneicon-arrow-up: "\e904";
$oneicon-ban-left-thin: "\e905";
$oneicon-ban-left: "\e906";
$oneicon-checkbox-check: "\e907";
$oneicon-checkbox-empty: "\e908";
$oneicon-checkbox-filled-x: "\e909";
$oneicon-checkbox-filled: "\e90a";
$oneicon-checkbox-minus: "\e90b";
$oneicon-checkbox-option: "\e90c";
$oneicon-checkbox-x: "\e90d";
$oneicon-checkbox: "\e90e";
$oneicon-checked: "\e90f";
$oneicon-clipboard-copy: "\e910";
$oneicon-close: "\e911";
$oneicon-collection-create: "\e912";
$oneicon-copy: "\e913";
$oneicon-cut: "\e914";
$oneicon-file: "\e915";
$oneicon-folder-new: "\e916";
$oneicon-folder-open: "\e917";
$oneicon-folder-share: "\e918";
$oneicon-folder: "\e919";
$oneicon-group-add: "\e91a";
$oneicon-group-invite: "\e91b";
$oneicon-group-leave-group: "\e91c";
$oneicon-group: "\e91d";
$oneicon-groups: "\e91e";
$oneicon-hierarchy: "\e91f";
$oneicon-home-outline: "\e920";
$oneicon-home: "\e921";
$oneicon-inbox: "\e922";
$oneicon-join-plug: "\e923";
$oneicon-join-space: "\e924";
$oneicon-join: "\e925";
$oneicon-key: "\e926";
$oneicon-leave-space: "\e927";
$oneicon-lock: "\e928";
$oneicon-members: "\e929";
$oneicon-menu-clusters: "\e92a";
$oneicon-menu-collection: "\e92b";
$oneicon-menu-data: "\e92c";
$oneicon-menu-groups: "\e92d";
$oneicon-menu-links: "\e92e";
$oneicon-menu-providers: "\e92f";
$oneicon-menu-recent: "\e930";
$oneicon-menu-shared: "\e931";
$oneicon-menu-token: "\e932";
$oneicon-menu-trash: "\e933";
$oneicon-metadata: "\e934";
$oneicon-move-down: "\e935";
$oneicon-move-up: "\e936";
$oneicon-node: "\e937";
$oneicon-overview: "\e938";
$oneicon-parents: "\e939";
$oneicon-password-change: "\e93a";
$oneicon-provider-add: "\e93b";
$oneicon-provider-default: "\e93c";
$oneicon-provider-home: "\e93d";
$oneicon-provider: "\e93e";
$oneicon-providers-outline: "\e93f";
$oneicon-providers: "\e940";
$oneicon-remove: "\e941";
$oneicon-rename: "\e942";
$oneicon-search: "\e943";
$oneicon-settings-circle-filled: "\e944";
$oneicon-settings: "\e945";
$oneicon-share-collection: "\e946";
$oneicon-share: "\e947";
$oneicon-sign-error: "\e948";
$oneicon-sign-info: "\e949";
$oneicon-sign-question: "\e94a";
$oneicon-sign-warning: "\e94b";
$oneicon-social-dropbox: "\e94c";
$oneicon-social-egi: "\e94d";
$oneicon-social-facebook: "\e94e";
$oneicon-social-github: "\e94f";
$oneicon-social-google: "\e950";
$oneicon-social-indigo: "\e951";
$oneicon-social-plgrid: "\e952";
$oneicon-social-rhea: "\e953";
$oneicon-space-add: "\e954";
$oneicon-space-default: "\e955";
$oneicon-space-empty: "\e956";
$oneicon-space-error: "\e957";
$oneicon-space-home: "\e958";
$oneicon-space-import-provider: "\e959";
$oneicon-space-import: "\e95a";
$oneicon-space-join: "\e95b";
$oneicon-space-reload: "\e95c";
$oneicon-space: "\e95d";
$oneicon-star-empty: "\e95e";
$oneicon-star: "\e95f";
$oneicon-support: "\e960";
$oneicon-tokens: "\e961";
$oneicon-update: "\e962";
$oneicon-upload: "\e963";
$oneicon-user-add: "\e964";
$oneicon-user-profile: "\e965";
$oneicon-user: "\e966";
$oneicon-view-grid: "\e967";
$oneicon-view-list: "\e968";

