{{#power-select
  tagName="div"
  disabled=(not isEnabled)
  options=field.preparedOptions
  onchange=(action "valueChanged")
  selected=(find-by "value" value field.preparedOptions)
  placeholder=field.placeholder
  renderInPlace=true
  onblur=(action "triggerFocusLost")
  onclose=(action "focusLost")
  triggerId=fieldId
  searchEnabled=field.showSearch
  triggerClass="dropdown-field-trigger"
  dropdownClass="dropdown-field-dropdown"
  as |option|
}}
  <div class="option-container">
    {{#if option.icon}}
      {{one-icon icon=option.icon}}
    {{/if}}
    {{#truncated-string class="text"}}
      {{option.label}}
    {{/truncated-string}}
  </div>
{{/power-select}}
{{yield}}
