{{#one-collapse class=(concat-classes "fields-group-collapse" (concat field.name "-collapse")) collapsed=(not isExpanded)}}
  {{#each field.fields as |nestedField|}}
    {{#if nestedField.isVisible}}
      <div class="collection-item">
        {{form-component/field-renderer field=nestedField}}
        <div class="remove-field-button-container">
          {{remove-icon class="remove-field-button" onClick=(action "removeField" nestedField)}}
        </div>
      </div>
    {{/if}}
  {{/each}}
  {{#bs-button class="add-field-button" size="sm" onClick=(action "addField")}}
    {{one-icon icon="add-filled"}}{{addButtonText}}
  {{/bs-button}}
{{/one-collapse}}
