{{#one-collapse class=(concat-classes "fields-group-collapse" (concat name "-collapse")) collapsed=(not isExpanded)}}
  {{#each nestedFields as |nestedField|}}
    {{#if nestedField.isVisible}}
      <div class="collection-item">
        {{form-component/field-renderer field=nestedField}}
        {{#if (and isInEditMode isCollectionManipulationAllowed)}}
          <div class="remove-field-button-container">
            {{remove-icon
              class="remove-field-button"
              onClick=(action "removeField" nestedField)
              isDisabled=(not isEffectivelyEnabled)
            }}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
  {{#if (and isInEditMode isCollectionManipulationAllowed)}}
    {{#bs-button
      class="add-field-button"
      size="sm"
      disabled=(not isEffectivelyEnabled)
      onClick=(action "addField")
    }}
      {{one-icon icon="add-filled"}}{{addButtonText}}
    {{/bs-button}}
  {{/if}}
{{/one-collapse}}
