{{#global-modal
  classNames="charts-modal without-footer modal-content-overlay with-close-button"
  modalId=modalId
  size="lg"
  as |modal|
}}
  {{#modal.header}}
    <h1>
      {{tt this (concat "header." dashboardOwnerType)}}
    </h1>
  {{/modal.header}}

  {{#modal.body}}
    {{workflow-visualiser/charts-presenter
      dashboardModelOwner=dashboardOwner
      onGetStoreContent=getStoreContentCallback
      onGetTimeSeriesCollectionRefsMap=getTimeSeriesCollectionRefsMapCallback
      live=isLiveProxy.content
    }}
  {{/modal.body}}
{{/global-modal}}
