<div class="editor-box-header">
  <div class="data-spec-type">
    {{translatedAtmDataSpecType}}
  </div>
  <div class="editor-box-toolbar">
    {{yield (hash section="toolbar")}}
  </div>
</div>
<div class="editor-box-content">
  {{yield (hash section="content")}}
</div>
