{{#if openRelatedTaskAuditLogAction}}
  <a
    class="clickable {{openRelatedTaskAuditLogAction.className}}"
    onclick={{action openRelatedTaskAuditLogAction.executeCallback}}
  >
    {{openRelatedTaskAuditLogAction.title}}
  </a>
{{else}}
  –
{{/if}}
