.workflow-visualiser .workflow-visualiser-interlane-space {
  position: relative;
  flex: 0 0 $workflow-visualiser-lane-border-width;
  background-color: $workflow-visualiser-lane-border-color;
  z-index: 1;

  &:first-child {
    width: 0;
  }

  .draggable-object-target {
    position: absolute;
    left: -$padding-large-vertical;
    right: -$padding-large-vertical;
    top: 0;
    bottom: 0;
    transition: transition-ease(background-color);
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: $padding-large-vertical - $padding-small-vertical;
      right: $padding-large-vertical - $padding-small-vertical;
      top: 0;
      bottom: 0;
      border-radius: $border-radius-small;
      border: 2px dashed transparent;
    }
  }

  &.may-accept-drag {
    z-index: 1;

    .draggable-object-target {
      pointer-events: initial;

      &.accepts-drag::before {
        background-color: rgba(#000, 0.1);
        border-color: rgba(#000, 0.2);
      }
    }

    *:not(.draggable-object-target) {
      pointer-events: none;
    }
  }

  .add-lane-action-trigger {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: $workflow-visualiser-add-trigger-color;
    color: $color-one-white;
    width: 1em;
    height: 2em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: transition-ease(opacity);

    &:hover {
      background-color: $color-one-azure;
    }

    .one-icon {
      display: block;
      @include absolute-align-middle-center();
      font-size: 0.85em;
      margin-left: -1px;
    }
  }
}

.workflow-visualiser.during-lane-dragdrop .workflow-visualiser-interlane-space {
  .add-lane-action-trigger {
    opacity: 0;
  }
}
