.workflow-visualiser-stores-list {
  border-top: 1px solid $main-border-color;

  .tags-input {
    min-height: initial;
  }

  .create-store-action-trigger .one-icon {
    font-size: 170%;
    margin-right: 0.1em;
  }
}
