.workflow-visualiser-stores-list {
  .tags-input {
    min-height: initial;
  }

  .create-store-action-trigger .one-icon {
    font-size: 170%;
    margin-right: 0.1em;
  }

  .tag-item .store-name {
    max-width: 250px;
  }
}
