.workflow-visualiser-stores-list {
  .tags-input {
    min-height: initial;
  }

  .stores-label {
    @include font-semibold();
    text-transform: uppercase;
    align-self: center;
    margin-bottom: $padding-xs-horizontal;
    margin-right: 1em;
  }

  .create-store-action-trigger .one-icon {
    font-size: 170%;
  }
}

.workflow-visualiser-stores-list-store {
  .store-name {
    max-width: 250px;

    .one-icon {
      font-size: 170%;
      margin-right: 0.1em;
      line-height: 0;
      vertical-align: middle;
    }
  }
}
