.workflow-visualiser-task-form {
  .control-label {
    text-align: left;
  }

  .task-form-section {
    margin-bottom: 0;
    min-width: 0;

    > .control-label {
      flex-basis: 100%;
    }

    &:not(:first-child) {
      border-top: 1px solid $main-border-color;

      > .control-label {
        padding-top: $padding-large-vertical;
      }
    }
  }

  .task-form-section > .control-label {
    @include font-semibold();
    text-transform: uppercase;
    margin-bottom: 0.7em;
    max-width: initial;
  }

  .argumentMapping-field,
  .resultMapping-field,
  .timeSeriesEditor-field {
    min-width: 0;
  }

  .valueBuilderConstValue-field {
    min-width: 0;
  }

  .floating-field-label > .control-label {
    font-size: $font-size-small;
  }

  @media (min-width: $screen-sm-min) {
    .control-label {
      max-width: 11em;
    }

    .argumentMappings-collapse > .collection-item + .collection-item,
    .resultMappings-collapse > .collection-item + .collection-item .singleResult-field.has-mappings {
      margin-top: 1.5em;
    }

    .singleResultMappings-collapse > .collection-item + .collection-item {
      margin-top: 0.5em;
    }

    .argumentMapping-field,
    .singleResultMappings-field {
      flex-wrap: nowrap;
    }

    .argumentMapping-children,
    .singleResultMapping-children {
      display: flex;
      align-items: flex-start;
    }

    .valueBuilderType-field,
    .targetStore-field {
      flex: 0 0 50%;
      min-width: 0;
      margin-right: $padding-base-horizontal;
    }

    .floating-field-label > .control-label {
      position: absolute;
      bottom: calc(100% + 0.3em);
      padding: 0;
      width: 100%;
    }

    .resourcesSections-field {
      margin-top: 2.5em;
    }
  }
}

.option-__createStore {
  font-style: italic;
}
