.workflow-visualiser-task-form {
  $section-border: 1px solid $main-border-color;

  .atm-lambda-info {
    margin-bottom: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    border-bottom: $section-border;
  }

  .control-label {
    text-align: left;
  }

  .argumentMappings-field,
  .resultMappings-field,
  .resources-field {
    border-top: $section-border;
    margin-bottom: 0;
  }

  .argumentMappings-field > .control-label,
  .resultMappings-field > .control-label,
  .resources-field > .control-label,
  .section-header {
    @include font-semibold();
    text-transform: uppercase;
    margin-bottom: 0.7em;
    max-width: initial;
  }

  .argumentMappings-field,
  .resultMappings-field,
  .resources-field {
    min-width: 0;

    > .control-label {
      flex-basis: 100%;
      padding-top: $padding-large-vertical;
    }
  }

  .argumentMapping-field,
  .resultMapping-field {
    min-width: 0;
  }

  .valueBuilderConstValue-field .form-control {
    height: 6em;
  }

  .valueBuilderType-field,
  .valueBuilderConstValue-field,
  .valueBuilderStore-field,
  .targetStore-field,
  .dispatchFunction-field,
  .timeSeriesEditor-field {
    > .control-label {
      font-size: $font-size-small;
    }
  }

  .timeSeriesEditor-field {
    min-width: 0;
  }

  @media (min-width: $screen-sm-min) {
    .control-label {
      max-width: 11em;
    }

    .argumentMappings-collapse,
    .resultMappings-collapse {
      > .collection-item + .collection-item {
        margin-top: 0.5em;
      }
    }

    .argumentMapping-field,
    .resultMapping-field {
      flex-wrap: nowrap;
    }

    .argumentMapping-children,
    .resultMapping-children {
      display: flex;
    }

    .valueBuilderType-field,
    .targetStore-field {
      flex: 0 0 50%;
      min-width: 0;
      margin-right: $padding-base-horizontal;
    }

    .valueBuilderType-field,
    .valueBuilderConstValue-field,
    .valueBuilderStore-field,
    .targetStore-field,
    .dispatchFunction-field,
    .timeSeriesEditor-field {
      > .control-label {
        position: absolute;
        bottom: calc(100% + 0.3em);
        padding: 0;
        width: 100%;
      }
    }

    .resourcesSections-field {
      margin-top: 2.5em;
    }
  }
}

.option-__createStore {
  font-style: italic;
}
