<div class="row">
  <ul class="col-sm-3">
    <li>Components
      <ul>
        {{#each model.components as |componentName|}}
          <li>
            {{#link-to "index-dummy.component" componentName}}{{componentName}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
