{{#power-select
  triggerClass=triggerClass
  dropdownClass=dropdownClass
  disabled=disabled
  options=items
  selected=selectedItem
  onchange=(action "onchange")
  searchEnabled=searchEnabled
  renderInPlace=renderInPlace
  as |item|
}}
  <div class={{concat "oneprovider-select-item " item.class}}>
    <div class="inline-icon-container">
      {{one-icon icon=item.icon}}
    </div>
    <span class="oneprovider-name">{{item.text}}</span>
  </div>
{{/power-select}}