{{#truncated-string
  tagName="a"
  class=(concat "nav-link truncate " (if isActive "active"))
  click=(action "anchorClicked")
  ignoreTouchAction=true
}}
  {{#if item.icon}}
    <div class="inline-icon-container">
      {{one-icon icon=item.icon}}
    </div>
  {{/if}}
  <span class="tab-name">{{item.name}}</span>
{{/truncated-string}}