.time-series-store-content-update-options-editor {
  margin-bottom: 0;

  .collection-item {
    position: relative;
    min-width: 0;
    margin-bottom: $padding-base-vertical * 1.5;
    padding: $padding-base-vertical * 1.5 0 $padding-base-vertical * 0.5 $padding-base-vertical * 1.5;
    border: 1px solid $main-border-color;
    border-radius: $border-radius-base;
    background-color: rgba($color-one-semiwhite, 0.2);

    .control-label {
      width: 100%;
      max-width: initial;
      margin-bottom: 5px;
      padding-top: 0;
      text-align: left;
    }

    .dispatchRule-field + .remove-field-button-container {
      position: absolute;
      right: 0.1em;
      top: 0.4em;
      display: initial;
      height: initial;
    }
  }

  .form-fields-collection-group > .fields-group-collapse.in {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .dispatchRule-field {
    min-width: 0;
  }

  .dispatchRule-children {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    & > * {
      flex: 1 1 0;
      min-width: 10em;
      margin-right: $padding-base-horizontal;
      margin-bottom: $padding-base-vertical;
    }
  }

  .add-field-button {
    margin-bottom: $form-group-margin-bottom;
  }
}
