.store-modal {
  .bs-modal-body-scroll {
    display: flex;
    flex-direction: column;
  }

  .nav-tabs {
    padding-bottom: $padding-large-vertical;
  }

  .value-container-presenter {
    display: grid;
    min-height: 0;

    &.error {
      align-items: flex-start;
    }

    .resource-load-error {
      margin: 0;
    }
  }

  .single-value-presenter {
    flex-grow: 1;
    min-height: 10em;
    display: grid;

    .value-container-presenter {
      min-height: 100%;
    }

    .alert {
      align-self: flex-start;
    }
  }

  .list-presenter,
  .audit-log-presenter {
    min-height: 0;
    flex-grow: 1;
  }

  .list-presenter {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'properties-selector'
      'table';

    .visible-properties-btn {
      margin-bottom: 0.5em;
      grid-area: properties-selector;
      justify-self: flex-start;
    }

    .infinite-scroll-table {
      grid-area: table;
    }

    .details-container .full-value-presenter {
      border: none;
      border-radius: initial;
    }

    @media (max-width: $screen-xs-max) {
      --infinite-scroll-table-details-x-offset: 3em;
    }
  }

  .audit-log-presenter {
    display: grid;
    place-items: stretch;
  }

  .exception-presenter {
    .details-container {
      .details {
        grid-template-rows: 1fr min-content;
      }

      .trace-id-container {
        padding: 1em;
        padding-top: 0;
      }

      .trace-id-clipboard-line {
        white-space: nowrap;
      }
    }
  }

  .related-logs-column-header {
    width: 12em;
  }

  @media (max-width: $screen-xs-max) {
    .audit-log-presenter {
      .severity-column-header,
      .severity-cell,
      .related-logs-column-header,
      .related-logs-cell {
        // We can't use `display: none` because of `colspan` value for some rows
        // - a number of rendered (visible) cells can't change.
        width: 0;
        padding: 0;
        overflow: hidden;
      }
    }
  }

  @import './store-modal/store-form';
}

.store-presenter-properties-popover {
  .properties-list-container {
    min-width: 10em;
    max-width: 15em;
    max-height: 15em;
  }

  .properties-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .property {
    display: flex;
    align-items: center;

    & + .property {
      margin-top: 0.5em;
    }
  }

  .property-checkbox {
    flex-shrink: 0;
  }

  label {
    margin: 0;
    margin-left: 0.5em;
    min-width: 0;
  }

  .limited-properties-message {
    display: block;
    margin-top: 0.5em;
    font-style: italic;
  }
}
