.store-modal {
  .bs-modal-body-scroll {
    display: flex;
    flex-direction: column;
  }

  .store-content-table {
    display: flex;
    flex-direction: column;
  }

  @import './store-modal/store-form';
  @import './store-modal/store-content-table';
  @import './store-modal/time-series-presenter';
}
